<input
    name="data.page.simulacre"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

{{#if data.simulacre.refid}}

    {{#with (getActor data.simulacre.refid)}}
    <div style="display:flex;flex-direction:column">

        <div class="column" style="height: 62px; text-align: center; font-size: 20px;">
            <ol class="item-list">
                <li class="item-list-header">
                    <div class="item-name">
                        <span>{{data.name}}</span>
                    </div>
                </li>
            </ol>
        </div>
    
        <div style="display:flex;flex-direction:row;">

            <ol class="item-list" style="height:180px;flex:auto;">

                <li class="item-list-header">

                    <div class="item-name">
                        <span>{{localize "ITEM.TypeVecu"}}</span>
                    </div>

                    <div class="item-control">
                        <span/>
                    </div>

                    <div class="item-integer">
                        <span/>
                    </div>

                </li>

                <li class="item" data-item-id="{{data.data.id}}" data-item-type="soleil">

                    <label class="item-name">Ka {{localize "NEPH5E.soleil"}}</label>

                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>

                    <label class="item-integer">{{data.data.soleil}}</label>

                </li>

                {{#if data.data.vecu.refid}}
                <li class="item" data-item-id="{{data.data.id}}" data-item-type="vecu">

                    {{#with (getItem data.data.vecu.refid)}}
                    <div class="item-name tooltip">
                        <span>{{name}}</span>
                    </div>
                    {{/with}}

                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>

                    <label class="item-integer">{{data.data.vecu.degre}}</label>

                </li>
                {{/if}}

                {{#if data.data.vecu.refid}}
                    {{#with (getItem data.data.vecu.refid) as |vecu|}}
                    {{#each vecu.data.data.competences as |competence|}}
                        <li class="item">
            
                            {{#with (getItem competence.refid)}}
                            <div class="item-name" style="font-style: italic;margin-left: 20px;">
                                <span>{{name}}</span>
                            </div>
                            {{/with}}
            
                            <div class="item-control"/>
            
                            <div class="item-integer"/>
            
                        </li>
                    {{/each}}
                    {{/with}}
                {{/if}}

            </ol>

            {{#if ../useV3}}
            <ol class="item-list" style="height:180px;flex:auto;;margin-left:10px">
                
                <li class="item-list-header">

                    <div class="item-name">
                        <span>{{localize "NEPH5E.caracteristique"}}</span>
                    </div>

                    <div class="item-control">
                        <span/>
                    </div>

                    <div class="item-integer">
                        <span/>
                    </div>

                </li>

                <li class="item" data-item-id="{{data.data.id}}" data-item-type="agile">

                    <label class="item-name">{{localize "NEPH5E.simulacre.agile"}}</label>

                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>

                    <label class="item-integer">{{data.data.agile}}</label>

                </li>

                <li class="item" data-item-id="{{data.data.id}}" data-item-type="endurant">

                    <label class="item-name">{{localize "NEPH5E.simulacre.endurant"}}</label>

                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>

                    <label class="item-integer">{{data.data.endurant}}</label>

                </li>

                <li class="item" data-item-id="{{data.data.id}}" data-item-type="fort">

                    <label class="item-name">{{localize "NEPH5E.simulacre.fort"}}</label>

                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>

                    <label class="item-integer">{{data.data.fort}}</label>

                </li>

                <li class="item" data-item-id="{{data.data.id}}" data-item-type="intelligent">

                    <label class="item-name">{{localize "NEPH5E.simulacre.intelligent"}}</label>

                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>

                    <label class="item-integer">{{data.data.intelligent}}</label>

                </li>

                <li class="item" data-item-id="{{data.data.id}}" data-item-type="seduisant">

                    <label class="item-name">{{localize "NEPH5E.simulacre.seduisant"}}</label>

                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>

                    <label class="item-integer">{{data.data.seduisant}}</label>

                </li>

                <li class="item" data-item-id="{{data.data.id}}" data-item-type="savant">

                    <label class="item-name">{{localize "NEPH5E.simulacre.savant"}}</label>

                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>

                    <label class="item-integer">{{data.data.savant}}</label>

                </li>

                <li class="item" data-item-id="{{data.data.id}}" data-item-type="sociable">

                    <label class="item-name">{{localize "NEPH5E.simulacre.sociable"}}</label>

                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>

                    <label class="item-integer">{{data.data.sociable}}</label>

                </li>

                <li class="item" data-item-id="{{data.data.id}}" data-item-type="fortune">

                    <label class="item-name">{{localize "NEPH5E.simulacre.fortune"}}</label>

                    <div class="item-control">
                        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>

                    <label class="item-integer">{{data.data.fortune}}</label>

                </li>

            </ol>
            {{/if}}

        </div>

        {{html data.data.description}}

    </div>
    {{/with}}

{{else}}
    <ol class="item-list">
        <li class="item-list-header">
            <div class="item-name">
                <span>Déposer un simulacre</span>
            </div>
        </li>
    </ol>
{{/if}}


