<input
    name="data.page.simulacre"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

{{#if data.simulacre.refid}}

    {{#with (getActor data.simulacre.refid)}}
    <div style="display:flex;flex-direction:column">

        <div class="column" style="height: 62px; text-align: center; font-size: 20px;">
            <ol class="item-list">
                <li class="item-list-header">
                    <div class="item-name">
                        <span>{{data.name}}</span>
                    </div>
                </li>
            </ol>
        </div>
    
        <div style="display:flex;flex-direction:row;">

            <ol class="item-list" style="height:180px;flex:auto;">

                <li class="item-list-header">
                    <div class="item-name">
                        <span>{{localize "ITEM.TypeVecu"}}</span>
                    </div>
                    <div class="item-control">
                        <span/>
                    </div>
                    <div class="item-integer">
                        <span/>
                    </div>
                </li>

                <li class="item">
                    <label class="item-name">Ka {{localize "NEPH5E.soleil"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="soleil" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <label class="item-integer">{{data.data.soleil}}</label>
                </li>

                {{#each (getVecus data.data.id) as |vecu|}}
                <li class="item">
                    <div class="item-name">
                        <span>{{name}}</span>
                    </div>
                    <div class="item-control">
                        <a class="roll-vecu" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <label class="item-integer">{{vecu.degre}}</label>
                </li>
                {{/each}}

                {{#each (getCompetences data.data.id) as |competence|}}
                {{#if (ne competence.degre 0)}}
                <li class="item">
                    <div class="item-name">
                        <span>{{competence.name}}</span>
                    </div>
                    <div class="item-control"/>
                    <div class="item-integer"/>
                </li>
                {{/if}}
                {{/each}}

            </ol>

            {{#if ../useV3}}
            <ol class="item-list" style="height:180px;flex:auto;;margin-left:10px">

                <li class="item-list-header">
                    <div class="item-name">
                        <span>{{localize "NEPH5E.caracteristique"}}</span>
                    </div>
                    <div class="item-control">
                        <span/>
                    </div>
                    <div class="item-integer">
                        <span/>
                    </div>
                </li>

                <li class="item">
                    <label class="item-name">{{localize "NEPH5E.agile"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="agile" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <label class="item-integer">{{data.data.agile}}</label>
                </li>

                <li class="item">
                    <label class="item-name">{{localize "NEPH5E.endurant"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="endurant" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <label class="item-integer">{{data.data.endurant}}</label>
                </li>

                <li class="item">
                    <label class="item-name">{{localize "NEPH5E.fort"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="fort" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <label class="item-integer">{{data.data.fort}}</label>
                </li>

                <li class="item">
                    <label class="item-name">{{localize "NEPH5E.intelligent"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="intelligent" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <label class="item-integer">{{data.data.intelligent}}</label>
                </li>

                <li class="item">
                    <label class="item-name">{{localize "NEPH5E.seduisant"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="seduisant" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <label class="item-integer">{{data.data.seduisant}}</label>
                </li>

                <li class="item">
                    <label class="item-name">{{localize "NEPH5E.savant"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="savant" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <label class="item-integer">{{data.data.savant}}</label>
                </li>

                <li class="item">
                    <label class="item-name">{{localize "NEPH5E.sociable"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="sociable" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <label class="item-integer">{{data.data.sociable}}</label>
                </li>

                <li class="item">
                    <label class="item-name">{{localize "NEPH5E.fortune"}}</label>
                    <div class="item-control">
                        <a class="roll-attribute" data-attribute="fortune" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
                    </div>
                    <label class="item-integer">{{data.data.fortune}}</label>
                </li>

            </ol>
            {{/if}}

        </div>

        {{html data.data.description}}

    </div>
    {{/with}}

{{else}}
    <ol class="item-list">
        <li class="item-list-header">
            <div class="item-name">
                <span>Déposer un simulacre</span>
            </div>
        </li>
    </ol>
{{/if}}


