<ol class="item-list">

    <div style="margin-top:20px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
        {{localize "NEPH5E.imago"}}
    </div>

    {{#each data.imago.aspects as |aspect|}}
        {{#with (getItem aspect.refid)}}
        <li class="item" data-item-id="{{aspect.refid}}" data-item-science="imago" data-item-collection="aspects">

            <input
                name="data.imago.aspects.[{{@index}}].refid"
                type="hidden"
                value="{{aspect.refid}}"
                data-dtype="String"/>

            <div class="item-control">
                <a class="item-delete"><i class="fas fa-trash"></i></a>
            </div>

            {{#with (getItem aspect.refid)}}
            <div class="item-name edit-aspect">
                <span data-item-id="{{aspect.refid}}">{{name}}</span>
            </div>
            {{/with}}

            <label class="hand-checkbox">
                <input
                    class="item-checkbox" 
                    name="data.imago.aspects.[{{@index}}].active"
                    type="checkbox"
                    {{checked aspect.active}}
                    data-dtype="Boolean"/>
                <i class="fas fa-eye-slash unchecked"></i>
                <i class="fas fa-eye checked"></i>
            </label>

        </li>
        {{/with}}
    {{/each}}

</ol>

