<input
    name="data.page.selenim"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

<div class="cercles" style="column-count: 3">

    <div class="cercle" data-item-id="noyau">

        <label class="cercle-name">{{localize "NEPH5E.noyau"}}
            <div class="item-control">
                <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
            </div>
        </label>

        <label class="cercle-tag"/>

        <input
            class="cercle-namer"
            name="data.ka.noyau"
            type="text"
            value="{{data.ka.noyau}}"
            data-dtype="Number"/>

    </div>

    <div class="cercle" data-item-id="tenebre">

        <label class="cercle-name">{{localize "NEPH5E.tenebre"}}
            <div class="item-control">
                <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
            </div>
        </label>

        <label class="cercle-tag"/>

        <input
            class="cercle-namer"
            name="data.ka.tenebre"
            type="text"
            value="{{data.ka.tenebre}}"
            data-dtype="Number"/>

    </div>

    <div class="cercle">

        <label class="cercle-name">{{localize "NEPH5E.reserve"}}</label>

        <label class="cercle-tag"/>

        <div style="column-count: 2; display: flex; flex-direction: row;">
            
            <input
                class="item-integer"
                name="data.ka.reserveCourante"
                type="text"
                value="{{data.ka.reserveCourante}}"
                data-dtype="Number"/>

            <label style="text-align: center; font-size: 16px; width: 50px;">/</label>

            <input
                class="item-integer"
                name="data.ka.reserve"
                type="text"
                value="{{data.ka.reserve}}"
                data-dtype="Number"/>

        </div>

    </div>


</div>

{{#if (eq data.options.anamorphose true)}}
<ol class="item-list">

    <li class="item-list-header">

        <div class="item-name">
            <span>{{localize "ITEM.TypeAspect"}}</span>
        </div>

        <div class="item-integer">
            <span>Coût</span>
        </div>

        <div class="item-checkbox">
            <span>Activé</span>
        </div>

        <div class="item-control">
            <span/>
        </div>

        <div class="item-control">
            <span/>
        </div>

    </li>

    {{#each data.imago.aspects as |aspect|}}
        {{#with (getItem aspect.refid)}}
            {{> "systems/neph5e/templates/actor/parts/selenim/aspect.hbs" aspect=aspect}}
        {{/with}}
    {{/each}}


</ol>
{{/if}}
