<div style="position: relative; text-align: center;margin-left:40px;">

    <img src="systems/neph5e/assets/noyau.png" style="border: 0px;"/>

    <div title="{{localize "NEPH5E.pavane"}}">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-90px, -100px);">
            <a class="roll-ka" data-element="pavane"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-80px, -105px);">
            <input
                style="background-color: transparent; font-size: 20px; font-weight:bold; border: 0px; width: 40px; text-align: center;"
                class="item-integer"
                name="data.ka.pavane"
                type="text"
                value="{{data.ka.pavane}}"
                data-dtype="Number"/>
        </div>
    </div>

    <div title="{{localize "NEPH5E.noyau"}}">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-40px, 115px);">
            <a class="roll-ka" data-element="noyau"><i class="fas fa-dice-d20"></i></a>
        </div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-30px, 110px);">
            <input
                style="background-color: transparent; font-size: 20px; font-weight:bold; border: 0px; width: 40px; text-align: center;"
                class="item-integer"
                name="data.ka.noyau"
                type="text"
                value="{{data.ka.noyau}}"
                data-dtype="Number"/>
        </div>
    </div>

    <div title="{{localize "NEPH5E.reserve"}}">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(60px, 80px);">
            <input
                style="background-color: transparent; font-size: 20px; font-weight:bold; border: 0px; width: 40px; text-align: center;"
                class="item-integer"
                name="data.ka.reserveCourante"
                type="text"
                value="{{data.ka.reserveCourante}}"
                data-dtype="Number"/>
        </div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(97px, 80px); font-size: 20px; font-weight:bold; text-align: center;">
            <span>/</span>
        </div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(100px, 80px);">
            <input
                style="background-color: transparent; font-size: 20px; font-weight:bold; border: 0px; width: 40px; text-align: center;"
                class="item-integer"
                name="data.ka.reserve"
                type="text"
                value="{{data.ka.reserve}}"
                data-dtype="Number"/>
        </div>
    </div>

</div>