<div class="combat">

    <div class="left">

        <div class="dommages">

            <img class='triangle'/>

            <ol>

                <li>{{localize "NEPH5E.dommages"}}</li>

                <li>{{localize "NEPH5E.mineure"}}</li>

                <li>{{localize "NEPH5E.serieuse"}}</li>

                <li>{{localize "NEPH5E.mineure"}}</li>

                <li>{{localize "NEPH5E.mortelle"}}</li>

            </ol>

            <div class="physiques">

                <div class="header">

                    <img class="puce"/>

                    <img class="separator"/>

                    <span class="name">{{localize "NEPH5E.physique"}}</span>

                </div>

                <div class="modifier">

                    <img class="circle"/>

                    <label>-50%</label>

                </div>
                
                <ol class="body">

                    <li class="checkboxes">

                        {{#if (gt system.ka.terre 9)}}
                        <label class="checkbox n1 tooltip">
                            <span class="tooltiptext">1</span>
                            <input
                                {{#if system.dommage.physique._5}}checked{{/if}}
                                name="system.dommage.physique._5"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>
                        {{/if}}

                        {{#if (gt system.ka.terre 4)}}
                        <label class="checkbox n1 tooltip">
                            <span class="tooltiptext">1</span>
                            <input
                                {{#if system.dommage.physique._4}}checked{{/if}}
                                name="system.dommage.physique._4"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>
                        {{/if}}

                        <label class="checkbox n3 tooltip">
                            <span class="tooltiptext">3</span>
                            <input
                                {{#if system.dommage.physique._3}}checked{{/if}}
                                name="system.dommage.physique._3"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>

                        <label class="checkbox n2 tooltip">
                            <span class="tooltiptext">2</span>
                            <input
                                {{#if system.dommage.physique._2}}checked{{/if}}
                                name="system.dommage.physique._2"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>

                        <label class="checkbox n1 tooltip">
                            <span class="tooltiptext">1</span>
                            <input
                                {{#if system.dommage.physique._1}}checked{{/if}}
                                name="system.dommage.physique._1"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>

                    </li>

                    <li class="checkboxes">
                        <label class="checkbox tooltip">
                            <span class="tooltiptext">2</span>
                            <input
                                {{#if system.dommage.physique.mineure}}checked{{/if}}
                                name="system.dommage.physique.mineure"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>
                    </li>

                    <li class="checkboxes">
                        <label class="checkbox tooltip">
                            <span class="tooltiptext">4</span>
                            <input
                                {{#if system.dommage.physique.serieuse}}checked{{/if}}
                                name="system.dommage.physique.serieuse"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>
                    </li>

                    <li class="checkboxes">
                        <label class="checkbox tooltip">
                            <span class="tooltiptext">6</span>
                            <input
                                {{#if system.dommage.physique.grave}}checked{{/if}}
                                name="system.dommage.physique.grave"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>
                    </li>

                    <li class="checkboxes">
                        <label class="checkbox tooltip">
                            <input
                                {{#if system.dommage.physique.mortelle}}checked{{/if}}
                                name="system.dommage.physique.mortelle"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>
                    </li>

                </ol>

            </div>

            <div class="magiques">

                <div class="header">

                    <img class="separator"/>

                    <span class="name">{{localize "NEPH5E.magique"}}</span>

                </div>

                <div class="modifier">

                    <img class="circle"/>

                    <label>-50%</label>

                </div>

                <ol class="body">

                    <li class="checkboxes">

                        <label class="checkbox n1 tooltip">
                            <span class="tooltiptext">1</span>
                            <input
                                {{#if system.dommage.magique._1}}checked{{/if}}
                                name="system.dommage.magique._1"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>

                        <label class="checkbox n2 tooltip">
                            <span class="tooltiptext">2</span>
                            <input
                                {{#if system.dommage.magique._2}}checked{{/if}}
                                name="system.dommage.magique._2"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>

                        <label class="checkbox n3 tooltip">
                            <span class="tooltiptext">3</span>
                            <input
                                {{#if system.dommage.magique._3}}checked{{/if}}
                                name="system.dommage.magique._3"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>

                    </li>

                    <li class="checkboxes">
                        <label class="checkbox tooltip">
                            <span class="tooltiptext">2</span>
                            <input
                                {{#if system.dommage.magique.mineure}}checked{{/if}}
                                name="system.dommage.magique.mineure"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>
                    </li>

                    <li class="checkboxes">
                        <label class="checkbox tooltip">
                            <span class="tooltiptext">4</span>
                            <input
                                {{#if system.dommage.magique.serieuse}}checked{{/if}}
                                name="system.dommage.magique.serieuse"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>
                    </li>

                    <li class="checkboxes">
                        <label class="checkbox tooltip">
                            <span class="tooltiptext">6</span>
                            <input
                                {{#if system.dommage.magique.grave}}checked{{/if}}
                                name="system.dommage.magique.grave"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>
                    </li>

                    <li class="checkboxes">
                        <label class="checkbox tooltip">
                            <input
                                {{#if system.dommage.magique.mortelle}}checked{{/if}}
                                name="system.dommage.magique.mortelle"
                                type="checkbox"
                                data-dtype="Boolean"/>
                            <i class="far fa-circle unchecked"></i>
                            <i class="fas fa-circle checked"></i>
                        </label>
                    </li>

                </ol>

            </div>

        </div>

        <div class="equipement">

            <div class="header">

                <img class="puce"/>

                <img class="separator"/>

                <span class="name">{{localize "NEPH5E.equipement"}}</span>

            </div>

            <ol>

                <li>

                    <i class="icon fa-solid fa-hand-fist"></i>

                    <label class="name {{#if (eq actor.lutteCanBePerformed false)}}grey{{/if}}">{{localize "NEPH5E.lutte"}}</label>

                    <i class="usage"></i>

                    <i class="reload"></i>

                    <i class="aim"></i>

                    <i class="roll fas fa-dice-d20 {{#unless (eq actor.lutteCanBePerformed true)}}grey{{/unless}}"></i>                        </i>

                    <i class="delete"></i>

                </li>

                {{#with actor.weapons as |weapons|}}

                    {{#each weapons.naturelle as |item|}}
                    <li data-id="{{item.id}}">

                        <i class="icon fa-solid fa-hand-fist"></i>

                        <label class="open name {{#if (or (not item.system.used) ../actor.immobilise (eq item.attackCanBePerformed false))}}grey{{/if}}">{{item.name}}</label>

                        <i class="usage"></i>

                        <i class="reload"></i>

                        <i class="aim"></i>

                        <i class="roll fas fa-dice-d20 {{#if (or (not item.system.used) (eq item.numberOfMunitionsLeft 0) ../actor.immobilise (and (nonNull ../actor.tokenOf) (isNull ../actor.target)))}}grey{{/if}}"></i>

                        <i class="delete fas fa-trash"></i>

                    </li>
                    {{/each}}

                    {{#each weapons.melee as |item|}}
                    <li data-id="{{item.id}}">

                        <i class="icon fa-solid fa-sword"></i>

                        <label class="open name {{#if (or (not item.system.used) ../actor.immobilise (eq item.attackCanBePerformed false))}}grey{{/if}}">{{item.name}}</label>
                        
                        <i class="usage {{#if item.system.used}}{{#if item.system.parade}}fas fa-shield-alt{{else}}fa-solid fa-sword{{/if}}{{else}}far fa-hand-paper{{/if}}"></i>

                        <i class="reload"></i>

                        <i class="aim"></i>

                        <i class="roll fas fa-dice-d20 {{#if (or (not item.system.used) (eq item.attackCanBePerformed false) ../actor.immobilise (and (nonNull ../actor.tokenOf) (isNull ../actor.target)))}}grey{{/if}}"></i>

                        <i class="delete fas fa-trash"></i>

                    {{/each}}

                    {{#each weapons.trait as |item|}}
                    <li data-id="{{item.id}}">

                        <i class="icon fa-solid fa-bow-arrow"></i>

                        <label class="open name {{#if (or (not item.system.used) ../actor.immobilise (eq item.attackCanBePerformed false))}}grey{{/if}}">{{item.name}}</label>
                        
                        <i class="usage fa-hand-paper {{#if item.system.used}}fas{{else}}far{{/if}}"></i>

                        <div class="tooltip">
                            <i class="reload fas fa-spinner {{#if (or (isNull ../actor.tokenOf) (not item.system.used) (eq item.system.tire 0) ../actor.immobilise)}}grey{{/if}}"></i>
                            <span class="tooltiptext">Munitions: {{item.numberOfMunitionsLeft}}/{{item.system.munitions}}</span>
                        </div>

                        <div class="tooltip">
                            <i class="viser fas fa-crosshairs {{#if (or (not item.system.used) (eq item.numberOfMunitionsLeft 0) (eq item.viserAvailable false) ../actor.immobilise)}}grey{{/if}}"></i>
                            <span class="tooltiptext">Visée: {{item.system.visee}}/3</span>
                        </div>

                        <i class="reload fas fa-spinner {{#if (or (isNull ../actor.tokenOf) (not item.system.used) (eq item.system.tire 0) ../actor.immobilise)}}grey{{/if}}"></i>

                        <i class="aim fas fa-crosshairs {{#if (or (not item.system.used) (eq item.numberOfMunitionsLeft 0) (eq item.viserAvailable false) ../actor.immobilise)}}grey{{/if}}"></i>

                        <i class="roll fas fa-dice-d20 {{#if (or (not item.system.used) (eq item.numberOfMunitionsLeft 0) ../actor.immobilise (and (nonNull ../actor.tokenOf) (isNull ../actor.target)))}}grey{{/if}}"></i>

                        <i class="delete fas fa-trash"></i>

                    </li>
                    {{/each}}

                    {{#each weapons.feu as |item|}}
                    <li data-id="{{item.id}}">

                        <i class="icon fa-duotone fa-gun"></i>

                        <label class="open name {{#if (or (not item.system.used) ../actor.immobilise (eq item.attackCanBePerformed false))}}grey{{/if}}">{{item.name}}</label>

                        <i class="usage fa-hand-paper {{#if item.system.used}}fas{{else}}far{{/if}}"></i>

                        <i class="reload"></i>

                        <i class="aim"></i>

                        <i class="roll fas fa-dice-d20 {{#if (or (not item.system.used) (eq item.numberOfMunitionsLeft 0) ../actor.immobilise (and (nonNull ../actor.tokenOf) (isNull ../actor.target)))}}grey{{/if}}"></i>

                        <i class="delete fas fa-trash"></i>

                    </li>
                    {{/each}}

                {{/with}}


                {{#each actor.armors as |item|}}
                <li data-id="{{item.id}}">

                    <i class="icon fa-solid fa-shield"></i>

                    <label class="open name">{{item.name}}</label>

                    <i class="usage fa-hand-paper {{#if item.system.used}}fas{{else}}far{{/if}}"></i>

                    <i class="reload"></i>

                    <i class="aim"></i>

                     <i class="roll"></i>

                    <i class="delete fas fa-trash"></i>

                </li>
                {{/each}}

            </ol>

        </div>

    </div>

    <div class="right">

        {{#if (eq actor.type 'figurant')}}
        <div class="caracteristiques">

            <div class="header">

                <img class="puce"/>

                <img class="separator"/>

                <span class="name">{{localize "NEPH5E.caracteristiques"}}</span>

            </div>

            <ol>

                <li class="menace">
                    <img class="circle"/>
                    <input
                        name="system.menace"
                        type="text"
                        value="{{actor.system.menace}}"
                        data-dtype="Number"/>
                    <label>{{localize "NEPH5E.menace"}}</label>
                    <i class="roll fas fa-dice-d20"></i>
                </li>

                <li class="ka">
                    <img class="circle"/>
                    <input
                        name="system.ka"
                        type="text"
                        value="{{actor.system.ka}}"
                        data-dtype="Number"/>
                    <label>{{localize "NEPH5E.ka"}}</label>
                    <i class="roll fas fa-dice-d20"></i>
                </li>

                {{#each actor.items as |item id|}}
                {{#if (eq item.type 'vecu')}}
                <li class="vecu" data-id="{{item.id}}">
                    <img class="circle"/>
                    <input
                        name="item.system.degre"
                        type="text"
                        value="{{item.system.degre}}"
                        data-dtype="Number"/>
                    <label>{{item.name}}</label>
                    <i class="roll fas fa-dice-d20"></i>
                    <i class="delete fas fa-trash"></i>
                </li>
                {{/if}}
                {{/each}}

            </ol>

        </div>
        {{/if}}

        <div class="etats">

            <div class="header">

                <img class="puce"/>

                <img class="separator"/>

                <span class="name">{{localize "NEPH5E.etats"}}</span>

            </div>

            <ol>

                <li class="etat">

                    <label class="checkbox">
                        <input
                            {{#if actor.desoriente}}checked{{/if}}
                            id="desoriente"
                            name="desoriente"
                            type="checkbox"
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>

                    <label>{{localize "NEPH5E.desoriente"}}</label>

                </li>

                <li class="etat">

                    <label class="checkbox">
                        <input
                            {{#if actor.immobilise}}checked{{/if}}
                            id="immobilise"
                            name="immobilise"
                            type="checkbox"
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>

                    <label>{{localize "NEPH5E.immobilise"}}</label>

                </li>

                <li class="etat">

                    <label class="checkbox">
                        <input
                            {{#if actor.projete}}checked{{/if}}
                            id="projete"
                            name="projete"
                            type="checkbox"
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>

                    <label>{{localize "NEPH5E.aTerre"}}</label>

                </li>

            </ol>

        </div>

        {{#if (eq actor.type 'figure')}}
        <div class="capacites">

            <div class="header">

                <img class="puce"/>

                <img class="separator"/>

                <span class="name">{{localize "NEPH5E.capacites"}}</span>

            </div>

            <ol>

                <li class="capacite esquive">
                    <i class="fa-edit {{#if (eq editedCapacity 'esquive')}}fas{{else}}far{{/if}}"></i>
                    <label {{#unless actor.isEsquiveAvailable}}class="indianred"{{/unless}}>{{localize "NEPH5E.esquive"}}</label>
                    <i class="fas fa-caret-right"></i>
                    <label>{{actor.esquive}}</label>
                </li>

                <li class="capacite lutte">
                    <i class="fa-edit {{#if (eq editedCapacity 'lutte')}}fas{{else}}far{{/if}}"></i>
                    <label {{#unless actor.isLutteAvailable}}class="indianred"{{/unless}}>{{localize "NEPH5E.lutte"}}</label>
                    <i class="fas fa-caret-right"></i>
                    <label>{{actor.lutte}}</label>
                </li>

            </ol>

        </div>
        {{/if}}

        <div class="bonus">

            <div class="header">

                <img class="puce"/>

                <img class="separator"/>

                <span class="name">{{localize "NEPH5E.bonus"}}</span>

            </div>

            <div class="body">

                <img class="losange"/>

                <div class="mouvement">
                    <label>{{localize "NEPH5E.mouvement"}}</label>
                    <img class="circle"/>
                    <input
                        name="system.bonus.mouvement"
                        type="text"
                        value="{{actor.system.bonus.mouvement}}"
                        data-dtype="Number"/>
                </div>

                <div class="initiative">
                    <label>{{localize "NEPH5E.initiative"}}</label>
                    <img class="circle"/>
                    <input
                        name="system.bonus.initiative"
                        type="text"
                        value="{{actor.system.bonus.initiative}}"
                        data-dtype="Number"/>
                </div>

                <div class="dommages">
                    <label>{{localize "NEPH5E.dommages"}}</label>
                    <img class="circle"/>
                    <input
                        name="system.bonus.dommage"
                        type="text"
                        value="{{actor.system.bonus.dommage}}"
                        data-dtype="Number"/>
                </div>

                <div class="protection">
                    <label>{{localize "NEPH5E.protection"}}</label>
                    <img class="circle"/>
                    <input
                        name="system.bonus.protection"
                        type="text"
                        value="{{actor.system.bonus.protection}}"
                        data-dtype="Number"/>
                </div>

            </div>

        </div>

    </div>

</div>
