<div class="content">

    <div class="column">

        <div class="dommages">

            <div class="sectionTitleUnderline">

                <span>{{localize "NEPH5E.dommagesPhysiques"}}</span>

                <label class="dommage-checkbox tooltip">
                    <span class="tooltiptext">1</span>
                    <input
                        class="item-checkbox"
                        id="system.dommage.physique._1"
                        name="system.dommage.physique._1"
                        type="checkbox"
                        {{checked actor.system.dommage.physique._1}}
                        data-dtype="Boolean"/>
                    <i class="far fa-circle unchecked"></i>
                    <i class="fas fa-circle checked"></i>
                </label>

                <label class="dommage-checkbox tooltip">
                    <span class="tooltiptext">2</span>
                    <input
                        class="item-checkbox"
                        id="system.dommage.physique._2"
                        name="system.dommage.physique._2"
                        type="checkbox"
                        {{checked actor.system.dommage.physique._2}}
                        data-dtype="Boolean"/>
                    <i class="far fa-circle unchecked"></i>
                    <i class="fas fa-circle checked"></i>
                </label>

                <label class="dommage-checkbox tooltip">
                    <span class="tooltiptext">3</span>
                    <input
                        class="item-checkbox"
                        id="system.dommage.physique._3"
                        name="system.dommage.physique._3"
                        type="checkbox"
                        {{checked actor.system.dommage.physique._3}}
                        data-dtype="Boolean"/>
                    <i class="far fa-circle unchecked"></i>
                    <i class="fas fa-circle checked"></i>
                </label>

                {{#if (gt system.ka.terre 4)}}
                <label class="dommage-checkbox tooltip additional">
                {{else}}
                <label class="dommage-checkbox tooltip" style="display:none;">
                {{/if}}
                    <span class="tooltiptext">1</span>
                    <input
                        class="item-checkbox"
                        id="system.dommage.physique._4"
                        name="system.dommage.physique._4"
                        type="checkbox"
                        {{checked actor.system.dommage.physique._4}}
                        data-dtype="Boolean"/>
                    <i class="far fa-circle unchecked"></i>
                    <i class="fas fa-circle checked"></i>
                </label>

                {{#if (gt system.ka.terre 9)}}
                <label class="dommage-checkbox tooltip">
                {{else}}
                <label class="dommage-checkbox tooltip" style="display:none;">
                {{/if}}
                    <span class="tooltiptext">1</span>
                    <input
                        class="item-checkbox"
                        id="system.dommage.physique._5"
                        name="system.dommage.physique._5"
                        type="checkbox"
                        {{checked actor.system.dommage.physique._5}}
                        data-dtype="Boolean"/>
                    <i class="far fa-circle unchecked"></i>
                    <i class="fas fa-circle checked"></i>
                </label>

            </div>
        
        </div>
 
        <ol class="item-list">

            {{> "systems/neph5e/feature/combat/actor/blessure.hbs" name="NEPH5E.blessureMineure" input-name="system.dommage.physique.mineure" input-value=actor.system.dommage.physique.mineure}}

            {{> "systems/neph5e/feature/combat/actor/blessure.hbs" name="NEPH5E.blessureSerieuse" input-name="system.dommage.physique.serieuse" input-value=actor.system.dommage.physique.serieuse}}

            {{> "systems/neph5e/feature/combat/actor/blessure.hbs" name="NEPH5E.blessureGrave" input-name="system.dommage.physique.grave" input-value=actor.system.dommage.physique.grave}}

            {{> "systems/neph5e/feature/combat/actor/blessure.hbs" name="NEPH5E.blessureMortelle" input-name="system.dommage.physique.mortelle" input-value=actor.system.dommage.physique.mortelle}}

        </ol>

        <div class="title sectionTitleUnderline">
            <span>{{localize "NEPH5E.etats"}}</span>
        </div>

        <ol class="item-list">

            {{> "systems/neph5e/feature/combat/actor/etat.hbs" name="NEPH5E.desoriente" input-name="desoriente" input-value=actor.desoriente}}

            {{> "systems/neph5e/feature/combat/actor/etat.hbs" name="NEPH5E.immobilise" input-name="immobilise" input-value=actor.immobilise}}

            {{> "systems/neph5e/feature/combat/actor/etat.hbs" name="NEPH5E.aTerre" input-name="projete" input-value=actor.projete}}

        </ol>

        <div class="title sectionTitleUnderline">
            <span>{{localize "NEPH5E.bonus"}}</span>
        </div>

        <ol class="bonus item-list">
            <li>
                <input
                    name="system.bonus.mouvement"
                    type="text"
                    value="{{actor.system.bonus.mouvement}}"
                    data-dtype="Number"/>
                <label>{{localize "NEPH5E.mouvement"}}</label>
            </li>
            <li>
                <input
                    name="system.bonus.initiative"
                    type="text"
                    value="{{actor.system.bonus.initiative}}"
                    data-dtype="Number"/>
                <label>{{localize "NEPH5E.initiative"}}</label>
            </li>
            <li>
                <input
                    name="system.bonus.dommage"
                    type="text"
                    value="{{actor.system.bonus.dommage}}"
                    data-dtype="Number"/>
                <label>{{localize "NEPH5E.dommages"}}</label>
            </li>
            <li>
                <input
                    name="system.bonus.protection"
                    type="text"
                    value="{{actor.system.bonus.protection}}"
                    data-dtype="Number"/>
                <label>{{localize "NEPH5E.protection"}}</label>
            </li>
        </ol>

    </div>

    <div class="column">

        <div class="dommages">

            <div class="sectionTitleUnderline">

                <span>{{localize "NEPH5E.dommagesMagiques"}}</span>

                <label class="dommage-checkbox tooltip">
                    <span class="tooltiptext">1</span>
                    <input
                        class="item-checkbox"
                        id="system.dommage.magique._1"
                        name="system.dommage.magique._1"
                        type="checkbox"
                        {{checked actor.system.dommage.magique._1}}
                        data-dtype="Boolean"/>
                    <i class="far fa-circle unchecked"></i>
                    <i class="fas fa-circle checked"></i>
                </label>

                <label class="dommage-checkbox tooltip">
                    <span class="tooltiptext">2</span>
                    <input
                        class="item-checkbox"
                        id="system.dommage.magique._2"
                        name="system.dommage.magique._2"
                        type="checkbox"
                        {{checked actor.system.dommage.magique._2}}
                        data-dtype="Boolean"/>
                    <i class="far fa-circle unchecked"></i>
                    <i class="fas fa-circle checked"></i>
                </label>

                <label class="dommage-checkbox tooltip">
                    <span class="tooltiptext">3</span>
                    <input
                        class="item-checkbox"
                        id="system.dommage.magique._3"
                        name="system.dommage.magique._3"
                        type="checkbox"
                        {{checked actor.system.dommage.magique._3}}
                        data-dtype="Boolean"/>
                    <i class="far fa-circle unchecked"></i>
                    <i class="fas fa-circle checked"></i>
                </label>

            </div>
        
        </div>

        <ol class="item-list">

            {{> "systems/neph5e/feature/combat/actor/blessure.hbs" name="NEPH5E.blessureMineure" input-name="system.dommage.magique.mineure" input-value=actor.system.dommage.magique.mineure}}

            {{> "systems/neph5e/feature/combat/actor/blessure.hbs" name="NEPH5E.blessureSerieuse" input-name="system.dommage.magique.serieuse" input-value=actor.system.dommage.magique.serieuse}}

            {{> "systems/neph5e/feature/combat/actor/blessure.hbs" name="NEPH5E.blessureGrave" input-name="system.dommage.magique.grave" input-value=actor.system.dommage.magique.grave}}

            {{> "systems/neph5e/feature/combat/actor/blessure.hbs" name="NEPH5E.blessureMortelle" input-name="system.dommage.magique.mortelle" input-value=actor.system.dommage.magique.mortelle}}

        </ol>

        <div class="title sectionTitleUnderline">
            <span>{{localize "NEPH5E.actions"}}</span>
        </div>

        <ol class="item-list actions">

            <li class="item macro" data-id="lutte" data-sid="lutte" data-type="lutte">
                <div class="roll">
                    <a class="wrestle"><i
                        {{#if (eq actor.lutteCanBePerformed true)}}
                        class="fas fa-dice-d20"
                        {{else}}
                        class="fas fa-dice-d20 grey"
                        {{/if}}></i></a>
                </div>
                <div class="item-name">
                    <span
                        {{#if (eq actor.lutteCanBePerformed false)}}
                        class="grey"
                        {{/if}}>{{localize "NEPH5E.lutte"}}</span>
                </div>
            </li>

            {{#each actor.items as |item id|}}
            {{#if (eq item.type 'arme')}}
            <li class="item macro" data-item-id="{{item.id}}" data-item-type="{{item.type}}" data-id="{{item.id}}" data-sid="{{item.sid}}" data-type="weapon-attack">

                <!-- Weapon roll -->
                <div class="roll">
                    <a class="attack"><i
                        {{#if (or (not item.system.used) (eq item.numberOfMunitionsLeft 0) ../actor.immobilise (and (nonNull ../actor.tokenOf) (isNull ../actor.target)))}}
                        class="fas fa-dice-d20 grey"
                        {{else}}
                        class="fas fa-dice-d20"
                        {{/if}}
                        ></i></a>
                </div>

                <!-- Weapon name -->
                <div class="item-name"><span
                    data-item-id="{{item.id}}"
                    {{#if (or (not item.system.used) ../actor.immobilise (eq item.attackCanBePerformed false))}}
                    class="grey"
                    {{/if}} 
                    >{{item.name}}</span>
                </div>

                <!-- Weapon recharge if fire weapon -->
                {{#if (eq item.system.type 'feu')}}
                <div class="item-control tooltip">
                    <a id="recharger"
                        {{#if (or (isNull ../actor.tokenOf) (not item.system.used) (eq item.system.tire 0) ../actor.immobilise)}}
                        class="grey"
                        {{/if}}><i class="fas fa-spinner"></i></a>
                    <span class="tooltiptext">Munitions: {{item.numberOfMunitionsLeft}}/{{item.system.munitions}}</span>
                </div>
                {{/if}}

                <!-- Weapon visee if distance -->
                {{#unless (isContact item.system.type)}}
                <div class="item-control tooltip">
                    {{#if (or (not item.system.used) (eq item.numberOfMunitionsLeft 0) (eq item.viserAvailable false) ../actor.immobilise)}}
                    <a id="viser" class="grey"><i class="fas fa-crosshairs"></i></a>
                    {{else}}
                    <a id="viser"><i class="fas fa-crosshairs"></i></a>
                    <span class="tooltiptext">Visée: {{item.system.visee}}/3</span>
                    {{/if}}
                </div>
                {{/unless}}

            </li>
            {{/if}}
            {{/each}}

        </ol>

        {{#if (eq actor.type 'figure')}}
        <div class="title sectionTitleUnderline">
            <span>{{localize "NEPH5E.capacites"}}</span>
        </div>

        <ol class="item-list capacites">

            <li class="item">
                <div class="item-control edit-esquive">
                    {{#if (eq editedCapacity 'esquive')}}
                    <i class="fas fa-edit"></i>
                    {{else}}
                    <i class="far fa-edit"></i>
                    {{/if}}
                </div>
                <div class="item-name">
                    {{#if actor.isEsquiveAvailable}}
                    <span class="esquive">{{localize "NEPH5E.esquive"}}</span>
                    <i class="fas fa-caret-right"></i>
                    <span>{{actor.esquive}}</span>
                    {{else}}
                    <span class="indianred">{{localize "NEPH5E.esquive"}} </span>
                    {{/if}}
                </div>
            </li>

            <li class="item">
                <div class="item-control edit-lutte">
                    {{#if (eq editedCapacity 'lutte')}}
                    <i class="fas fa-edit"></i>
                    {{else}}
                    <i class="far fa-edit"></i>
                    {{/if}}
                </div>
                <div class="item-name">
                    {{#if actor.isLutteAvailable}}
                    <span class="lutte">{{localize "NEPH5E.lutte"}}</span>
                    <i class="fas fa-caret-right"></i>
                    <span>{{actor.lutte}}</span>
                    {{else}}
                    <span class="indianred">{{localize "NEPH5E.lutte"}}</span>
                    {{/if}}
                </div>
            </li>

        </ol>
        {{/if}}

        <div class="title sectionTitleUnderline">
            <span>{{localize "NEPH5E.equipement"}}</span>
        </div>

        <ol class="item-list equipement">

            {{#each actor.items as |item id|}}
            {{#if (eq item.type 'arme')}}
            <li class="item" data-item-id="{{item.id}}" data-item-type="{{item.type}}">

                <div class="item-control delete">
                    <a class="item-delete"><i class="fas fa-trash"></i></a>
                </div>

                <div class="item-name edit-arme">
                    <span data-item-id="{{item.id}}">{{item.name}}</span>
                </div>

                {{#if (eq item.system.type 'melee')}}
                {{#if item.system.used}}
                <div class="item-control tooltip">
                {{#if item.system.parade}}
                    <i class="fas fa-shield-alt item-parade"></i>
                    <span class="tooltiptext">Attaque et défense</span>
                {{else}}
                    <i class="fa-solid fa-sword item-parade"></i>
                    <span class="tooltiptext">Attaque uniquement</span>
                {{/if}}
                </div>
                {{/if}}
                {{/if}}

                {{#unless (eq item.system.type 'naturelle')}}
                <div class="item-control">
                {{#if item.system.used}}
                    <i class="fas fa-hand-paper item-use"></i>
                {{else}}
                    <i class="far fa-hand-paper item-use"></i>
                {{/if}}
                </div>
                {{/unless}}

            </li>
            {{/if}}
            {{/each}}
    
            {{#each actor.items as |item id|}}
            {{#if (eq item.type 'armure')}}
            <li class="item" data-item-id="{{item.id}}" data-item-type="{{item.type}}">

                <div class="item-control delete">
                    <a class="item-delete"><i class="fas fa-trash"></i></a>
                </div>

                <div class="item-name edit-armure">
                    <span data-item-id="{{item.id}}">{{item.name}}</span>
                </div>

                <div class="item-control">
                {{#if item.system.used}}
                    <i class="fas fa-hand-paper item-use"></i>
                {{else}}
                    <i class="far fa-hand-paper item-use"></i>
                {{/if}}
                </div>

            </li>
            {{/if}}
            {{/each}}

        </ol>

    </div>

</div>
