<div class="combat">

    <div class="dommages">

        <img class="dommages-triangle" src="systems/neph5e/assets/core/triangle.webp"/>

        <ol class="dommages-titles">

            <label class="dommages-title">{{localize "NEPH5E.dommages"}}</label>

            <label class="dommages-title">{{localize "NEPH5E.mineure"}}</label>

            <label class="dommages-title">{{localize "NEPH5E.serieuse"}}</label>

            <label class="dommages-title">{{localize "NEPH5E.mineure"}}</label>

            <label class="dommages-title">{{localize "NEPH5E.mortelle"}}</label>

        </ol>

        <div class="dommages-physiques">

            <div class="header">

                <img class="puce" src="systems/neph5e/assets/core/puce.webp"/>

                <img class="separator" src="systems/neph5e/assets/core/separator2.webp"/>

                <span class="name">{{localize "NEPH5E.physique"}}</span>

            </div>

        </div>

        <div class="dommages-magiques">

            <div class="header">

                <img class="separator" src="systems/neph5e/assets/core/separator2.webp"/>

                <span class="name">{{localize "NEPH5E.magique"}}</span>

            </div>

        </div>

        <!--

        <div class="dommages-column left">

            <div class="dommages-header">

                <img class="dommages-puce" src="systems/neph5e/assets/core/puce.webp"/>

                <img class="dommages-separator" src="systems/neph5e/assets/core/separator2.webp"/>

                <span class="dommages-name">{{localize "NEPH5E.physique"}}</span>

            </div>

            <ol class="dommages-body">

                <li class="dommages-line">

                    <span class="title">{{localize "NEPH5E.dommages"}}</span>

                    <label class="dommages-checkbox">
                        <input
                            {{#if system.dommage.physique._1}}checked{{/if}}
                            name="system.dommage.physique._1"
                            type="checkbox"
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>

                    <label class="dommages-checkbox">
                        <input
                            {{#if system.dommage.physique._2}}checked{{/if}}
                            name="system.dommage.physique._2"
                            type="checkbox"
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>

                    <label class="dommages-checkbox">
                        <input
                            {{#if system.dommage.physique._3}}checked{{/if}}
                            name="system.dommage.physique._3"
                            type="checkbox"
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>

                    {{#if (gt system.ka.terre 4)}}
                    <label class="dommages-checkbox">
                        <input
                            {{#if system.dommage.physique._4}}checked{{/if}}
                            name="system.dommage.physique._4"
                            type="checkbox"
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    {{/if}}

                    {{#if (gt system.ka.terre 9)}}
                    <label class="dommages-checkbox">
                        <input
                            {{#if system.dommage.physique._5}}checked{{/if}}
                            name="system.dommage.physique._5"
                            type="checkbox"
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    {{/if}}

                </li>

                <li class="dommages-line">

                    <span class="title">{{localize "NEPH5E.mineure"}}</span>

                </li>

                <li class="dommages-line">

                    <span class="title">{{localize "NEPH5E.serieuse"}}</span>

                </li>

                <li class="dommages-line">

                    <span class="title">{{localize "NEPH5E.grave"}}</span>

                </li>

                <li class="dommages-line">

                    <span class="title" >{{localize "NEPH5E.mortelle"}}</span>

                </li>

            </ol>

        </div>

        <div class="dommages-column right">

            <div class="dommages-header">

                <img class="dommages-separator" src="systems/neph5e/assets/core/separator2.webp"/>

                <span class="dommages-name">{{localize "NEPH5E.magique"}}</span>

            </div>

            <ol class="dommages-body">

                
            </ol>

        </div>
-->
    </div>

</div>
