<div class="content">

    <img src="systems/neph5e/assets/backgrounds/arbre.webp"/>

    <div class="malkut">
        <span class="title">Malkut</span>
        {{#if (displayScience actor "malkut")}}
        {{#with (science actor "malkut") as |degre|}}
        <span class="degre">{{degre}}</span>
        {{/with}}
        {{/if}}
    </div>

    <div class="yesod">
        <span class="title">Yesod</span>
        {{#if (displayScience actor "yesod")}}
        {{#with (science actor "yesod") as |degre|}}
        <span class="degre">{{degre}}</span>
        {{/with}}
        {{/if}}
    </div>

    <div class="hod">
        <span class="title">Hod</span>
        {{#if (displayScience actor "hod")}}
        {{#with (science actor "hod") as |degre|}}
        <span class="degre">{{degre}}</span>
        {{/with}}
        {{/if}}
    </div>

    <div class="netzach">
        <span class="title">Netzach</span>
        {{#if (displayScience actor "netzach")}}
        {{#with (science actor "netzach") as |degre|}}
        <span class="degre">{{degre}}</span>
        {{/with}}
        {{/if}}
    </div>

    <div class="tiphereth">
        <span class="title">Tiphereth</span>
        {{#if (displayScience actor "tiphereth")}}
        {{#with (science actor "tiphereth") as |degre|}}
        <span class="degre">{{degre}}</span>
        {{/with}}
        {{/if}}
    </div>

    <div class="geburah">
        <span class="title">Geburah</span>
        {{#if (displayScience actor "geburah")}}
        {{#with (science actor "geburah") as |degre|}}
        <span class="degre">{{degre}}</span>
        {{/with}}
        {{/if}}
    </div>

    <div class="chesed">
        <span class="title">Chesed</span>
        {{#if (displayScience actor "chesed")}}
        {{#with (science actor "chesed") as |degre|}}
        <span class="degre">{{degre}}</span>
        {{/with}}
        {{/if}}
    </div>

    <div class="binah">
        <span class="title">Binah</span>
        {{#if (displayScience actor "binah")}}
        {{#with (science actor "binah") as |degre|}}
        <span class="degre">{{degre}}</span>
        {{/with}}
        {{/if}}
    </div>

    <div class="chokmah">
        <span class="title">Hokmah</span>
        {{#if (displayScience actor "chokmah")}}
        {{#with (science actor "chokmah") as |degre|}}
        <span class="degre">{{degre}}</span>
        {{/with}}
        {{/if}}
    </div>

    <div class="kether">
        <span class="title">Kether</span>
        {{#if (displayScience actor "kether")}}
        {{#with (science actor "kether") as |degre|}}
        <span class="degre">{{degre}}</span>
        {{/with}}
        {{/if}}
    </div>

</div>