<li class="focus item macro {{#if (eq item.degre 0)}}disabled{{/if}}" data-id="{{item.embedded.id}}">

    <label class="focus-element tooltip {{#if (eq item.embedded.degre 0)}}disabled{{/if}}">
        {{#switch item.original.system.element}}
        {{#case 'air'}}<i class="fas fa-wind"></i><span class="tooltiptext">{{localize "NEPH5E.air"}}</span>{{/case}}
        {{#case 'eau'}}<i class="fas fa-water"></i><span class="tooltiptext">{{localize "NEPH5E.eau"}}</span>{{/case}}
        {{#case 'feu'}}<i class="fas fa-fire"></i><span class="tooltiptext">{{localize "NEPH5E.feu"}}</span>{{/case}}
        {{#case 'lune'}}<i class="fas fa-moon"></i><span class="tooltiptext">{{localize "NEPH5E.lune"}}</span>{{/case}}
        {{#case 'luneNoire'}}<i class="fas fa-circle"></i><span class="tooltiptext">{{localize "NEPH5E.luneNoire"}}</span>{{/case}}
        {{#case 'terre'}}<i class="fas fa-seedling"></i><span class="tooltiptext">{{localize "NEPH5E.terre"}}</span>{{/case}}
        {{/switch}}
    </label>

    <label class="focus-name open">{{item.original.name}}</label>


    {{#unless (eq degre 0)}}

    <label class="focus-pacte change {{#if (eq item.embedded.degre 0)}}disabled{{/if}}" data-id="{{item.embedded.id}}">
        {{#if item.embedded.system.pacte}}
        <i class="fa-solid fa-feather-pointed"></i>
        {{else}}
        <i class="fa-regular fa-feather-pointed"></i>
        {{/if}}
    </label>

    <label class="focus-focus change {{#if (eq item.embedded.degre 0)}}disabled{{/if}}" data-id="{{item.embedded.id}}">
        {{#if item.embedded.system.focus}}
        <i class="fa-solid fa-scroll"></i>
        {{else}}
        <i class="fa-regular fa-scroll"></i>
        {{/if}}
    </label>

    <label class="focus-status change {{#if (eq item.embedded.degre 0)}}disabled{{/if}}" data-id="{{item.embedded.id}}">{{item.embedded.getStatus}}</label> 

    <a class="focus-dice roll">
        <i class="fas fa-dice-d20"></i>
    </a>

    {{/unless}}

</li>