{{#with (cercles actor science) as |cercles|}}
{{#if (gt cercles.length 0)}} 
<ol class="cercles">

    {{#each cercles as |cercle|}}
    <div class="cercle {{#if (eq cercle.degre 0)}}disabled{{/if}}">

        {{#if (nonNull cercle.voie)}}
        <div class="voie">
            <label>{{cercle.voie.name}}</label>
        </div>
        {{/if}}

        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" cercle=cercle}}

        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=focus}}
        {{/each}}
        </ol>

    </div>
    {{/each}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}
{{/with}}

{{#with actor.ordonnances as |items|}}
{{#unless (eq items.size 0)}}
<ol class="item-list ordonnances">

    <div class="monde">
        <div class="circle">
            <div class="circleContent">{{items.size}}</div>
        </div>
        <div class="title">
            <span>{{localize "NEPH5E.ordonnances-de"}} {{items.monde}}</span>
        </div>
    </div>

    {{#each items.items as |item|}}
    <li class="item" data-item-id="{{item.embedded.id}}">

        <div class="item-control">
            <a class="item-delete"><i class="fas fa-trash"></i></a>
        </div>

        <div class="item-name edit-ordonnance" data-id="{{item.original.id}}">
            {{html item.original.name}}
        </div>

    </li>
    {{/each}}

</ol>
{{/unless}}
{{/with}}
