{{#if (displaySciences actor 'malkut' 'yesod' 'hod' 'netzach' 'tiphereth' 'geburah' 'chesed' 'binah' 'chokmah' 'kether' )}}
<ol class="cercles">
    
    {{#if (displayScience actor "malkut")}}
    {{#with (science actor "malkut") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" sephirah="Malkut" degre=degre cercle-id="malkut" sciencesOccultes=../sciencesOccultes}}
        <ol class="all-focus">
        {{#each (focus ../actor 'malkut') as |item|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}
    
    {{#if (displayScience actor "yesod")}}
    {{#with (science actor "yesod") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" sephirah="Yesod" degre=degre cercle-id="yesod" sciencesOccultes=../sciencesOccultes}}
        <ol class="all-focus">
        {{#each (focus ../actor 'yesod') as |item|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "hod")}}
    {{#with (science actor "hod") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" sephirah="Hod" degre=degre cercle-id="hod" sciencesOccultes=../sciencesOccultes}}
        <ol class="all-focus">
        {{#each (focus ../actor 'hod') as |item|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "netzach")}}
    {{#with (science actor "netzach") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" sephirah="Netzah" degre=degre cercle-id="netzach" sciencesOccultes=../sciencesOccultes}}
        <ol class="all-focus">
        {{#each (focus ../actor 'netzach') as |item|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "tiphereth")}}
    {{#with (science actor "tiphereth") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" sephirah="Tiphereth" degre=degre cercle-id="tiphereth" sciencesOccultes=../sciencesOccultes}}
        <ol class="all-focus">
        {{#each (focus ../actor 'tiphereth') as |item|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "geburah")}}
    {{#with (science actor "geburah") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" sephirah="Geburah" degre=degre cercle-id="geburah" sciencesOccultes=../sciencesOccultes}}
        <ol class="all-focus">
        {{#each (focus ../actor 'geburah') as |item|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "chesed")}}
    {{#with (science actor "chesed") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" sephirah="Chesed" degre=degre cercle-id="chesed" sciencesOccultes=../sciencesOccultes}}
        <ol class="all-focus">
        {{#each (focus ../actor 'chesed') as |item|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "binah")}}
    {{#with (science actor "binah") as |degre|}}
        <div class="cercle">
            {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" sephirah="Binah" degre=degre cercle-id="binah" sciencesOccultes=../sciencesOccultes}}
            <ol class="all-focus">
            {{#each (focus ../actor 'binah') as |item|}}
                {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=item degre=degre}}
            {{/each}}
            </ol>
        </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "chokmah")}}
    {{#with (science actor "chokmah") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" sephirah="Chokmah" degre=degre cercle-id="chokmah" sciencesOccultes=../sciencesOccultes}}
        <ol class="all-focus">
        {{#each (focus ../actor 'chokmah') as |item|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

    {{#if (displayScience actor "kether")}}
    {{#with (science actor "kether") as |degre|}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" sephirah="Kether" degre=degre cercle-id="kether" sciencesOccultes=../sciencesOccultes}}
        <ol class="all-focus">
        {{#each (focus ../actor 'kether') as |item|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=item degre=degre}}
        {{/each}}
        </ol>
    </div>
    {{/with}}
    {{/if}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}

{{#with actor.ordonnances as |items|}}
{{#unless (eq items.size 0)}}
<ol class="item-list ordonnances">

    <div class="monde">
        <div class="circle">
            <div class="circleContent">{{items.size}}</div>
        </div>
        <div class="title">
            <span>{{localize "NEPH5E.ordonnances-de"}} {{items.monde}}</span>
        </div>
    </div>

    {{#each items.items as |item|}}
    <li class="item" data-item-id="{{item.embedded.id}}">

        <div class="item-control">
            <a class="item-delete"><i class="fas fa-trash"></i></a>
        </div>

        <div class="item-name edit-ordonnance" data-id="{{item.original.id}}">
            {{html item.original.name}}
        </div>

    </li>
    {{/each}}

</ol>
{{/unless}}
{{/with}}