{{#with (cercles actor "kabbale") as |cercles|}}
{{#if cercles.display}}  
<ol class="cercles">

    {{#with cercles.malkut as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.yesod as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.hod as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.netzach as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.tiphereth as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.geburah as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.chesed as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.binah as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.chokmah as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

    {{#with cercles.kether as |cercle|}}
    {{#if cercle.display}}
    <div class="cercle">
        {{> "systems/neph5e/feature/kabbale/actor/cercle.hbs" cercle=cercle}}
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/kabbale/actor/focus.hbs" item=focus degre=focus.degre}}
        {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/with}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}
{{/with}}

{{#with actor.ordonnances as |items|}}
{{#unless (eq items.size 0)}}
<ol class="item-list ordonnances">

    <div class="monde">
        <div class="circle">
            <div class="circleContent">{{items.size}}</div>
        </div>
        <div class="title">
            <span>{{localize "NEPH5E.ordonnances-de"}} {{items.monde}}</span>
        </div>
    </div>

    {{#each items.items as |item|}}
    <li class="item" data-item-id="{{item.embedded.id}}">

        <div class="item-control">
            <a class="item-delete"><i class="fas fa-trash"></i></a>
        </div>

        <div class="item-name edit-ordonnance" data-id="{{item.original.id}}">
            {{html item.original.name}}
        </div>

    </li>
    {{/each}}

</ol>
{{/unless}}
{{/with}}