<li 
    {{#if (eq degre 0)}}
    class="item macro focus disabled"
    {{else}}
    class="item macro focus"
    {{/if}}
    data-item-id="{{item.embedded.id}}"
    data-id="{{item.embedded.id}}"
    data-sid="{{item.original.sid}}"
    data-type="habitus">

    <div class="item-control">
        <a class="item-delete"><i class="fas fa-trash"></i></a>
    </div>

    <div class="item-name edit-focus" data-id="{{item.original.id}}">
        <span>{{item.original.name}}</span>
    </div>

    {{#unless (eq degre 0)}}

    <label class="item-parameter width-40">
        {{item.embedded.degre}}
    </label>

    <label class="tooltip item-parameter width-40">
        {{#switch item.original.system.element}}
            {{#case 'air'}}<i class="fas fa-wind"></i><span class="tooltiptext">{{localize "NEPH5E.air"}}</span>{{/case}}
            {{#case 'eau'}}<i class="fas fa-water"></i><span class="tooltiptext">{{localize "NEPH5E.eau"}}</span>{{/case}}
            {{#case 'feu'}}<i class="fas fa-fire"></i><span class="tooltiptext">{{localize "NEPH5E.feu"}}</span>{{/case}}
            {{#case 'lune'}}<i class="fas fa-moon"></i><span class="tooltiptext">{{localize "NEPH5E.lune"}}</span>{{/case}}
            {{#case 'luneNoire'}}<i class="fas fa-circle"></i><span class="tooltiptext">{{localize "NEPH5E.luneNoire"}}</span>{{/case}}
            {{#case 'terre'}}<i class="fas fa-seedling"></i><span class="tooltiptext">{{localize "NEPH5E.terre"}}</span>{{/case}}
        {{/switch}}
    </label>

    <div class="dice">
        <a class="roll-focus" data-id="{{item.original.id}}"><i class="fas fa-dice-d20"></i></a>
    </div>

    {{/unless}}

</li>