<li 
    {{#if (eq degre 0)}}
    class="focus item macro disabled"
    {{else}}
    class="focus item macro"
    {{/if}}
    data-id="{{item.embedded.id}}">

    {{#if (eq item.embedded.degre 0)}}
    <label class="focus-element tooltip disabled">
    {{else}}
    <label class="focus-element tooltip">
    {{/if}}
    {{#switch item.original.system.element}}
    {{#case 'air'}}<i class="fas fa-wind"></i><span class="tooltiptext">{{localize "NEPH5E.air"}}</span>{{/case}}
    {{#case 'eau'}}<i class="fas fa-water"></i><span class="tooltiptext">{{localize "NEPH5E.eau"}}</span>{{/case}}
    {{#case 'feu'}}<i class="fas fa-fire"></i><span class="tooltiptext">{{localize "NEPH5E.feu"}}</span>{{/case}}
    {{#case 'lune'}}<i class="fas fa-moon"></i><span class="tooltiptext">{{localize "NEPH5E.lune"}}</span>{{/case}}
    {{#case 'luneNoire'}}<i class="fas fa-circle"></i><span class="tooltiptext">{{localize "NEPH5E.luneNoire"}}</span>{{/case}}
    {{#case 'terre'}}<i class="fas fa-seedling"></i><span class="tooltiptext">{{localize "NEPH5E.terre"}}</span>{{/case}}
    {{/switch}}
    </label>

    <label class="focus-name open">{{item.original.name}}</label>

    {{#unless (eq degre 0)}}

    {{#if (eq item.embedded.degre 0)}}
    <label class="focus-focus change disabled" data-id="{{item.embedded.id}}">
    {{else}}
    <label class="focus-focus change" data-id="{{item.embedded.id}}">
    {{/if}}
    {{#if item.embedded.system.focus}}
    <i class="fa-solid fa-scroll"></i>
    {{else}}
    <i class="fa-regular fa-scroll"></i>
    {{/if}}
    </label>

    {{#if (eq item.embedded.degre 0)}}
    <label class="focus-status change disabled" data-id="{{item.embedded.id}}">{{item.embedded.getStatus}}</label>
    {{else}}
    <label class="focus-status change" data-id="{{item.embedded.id}}">{{item.embedded.getStatus}}</label>
    {{/if}}

    <label class="focus-difficulty">
    {{#unless (eq item.embedded.degre 0)}}
    {{item.embedded.degre}}
    {{/unless}}
    </label>

    <a class="focus-dice roll"><i class="fas fa-dice-d20"></i></a>

<!--
    <div class="dice">
        <a class="roll-focus" data-id="{{item.original.id}}">
            {{#unless (eq item.embedded.degre 0)}}
            <i class="fas fa-dice-d20"></i>
            {{/unless}}
        </a>
    </div>
-->
    {{/unless}}

</li>