{{#with (cercles actor science) as |data|}}
{{#if (gt data.cercles.length 0)}} 
<ol class="cercles">

    {{#each data.cercles as |cercle|}}
    <div class="cercle {{#if (eq cercle.degre 0)}}disabled{{/if}}">

        <!-- Display the voie if necessary -->
        {{#if (nonNull cercle.voie)}}
        <label class="voie">{{cercle.voie.name}}</label>
        {{/if}}

        <!-- Display the header -->
        <div class="cercle-header item" data-id="{{cercle.id}}">

            <img class="cercle-circle" src="systems/neph5e/assets/core/circle2.webp"/>

            <img class="cercle-separator" src="systems/neph5e/assets/core/separator2.webp"/>

            <div class="cercle-degre">{{cercle.degre}}</div>

            <div class="cercle-menu">

                <span class="cercle-name">{{cercle.name}}</span>

                {{#unless (eq cercle.degre 0)}}
                    
                    {{#if (includes ../header 'focus')}}
                    <span class="cercle-focus">{{localize "NEPH5E.focus"}}</span>
                    {{/if}}

                    {{#if (includes ../header 'status')}}
                    <span class="cercle-status">{{localize "NEPH5E.status"}}</span>
                    {{/if}}

                    {{#if (includes ../header 'percentage')}}
                    <span class="cercle-percentage">{{localize "%"}}</span>
                    {{/if}}

                    <a class="cercle-dice roll"><i class="fas fa-dice-d20"></i></a>

                {{/unless}}

            </div>

        </div>

        <!-- Display all focus -->
        <ol class="all-focus">
        {{#each cercle.focus as |focus|}}
            {{> "systems/neph5e/feature/magie/actor/focus.hbs" item=focus}}
        {{/each}}
        </ol>

    </div>
    {{/each}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}
{{/with}}