{{#with (cercles actor science) as |data|}}
{{#if (gt data.cercles.length 0)}} 
<ol class="cercles">

    {{#each data.cercles as |cercle|}}
    <div class="cercle {{#if (eq cercle.degre 0)}}disabled{{/if}}">

        <!-- Display the voie related to the specified cercle if necessary. -->
        {{#if (nonNull cercle.voie)}}
        <label class="voie">{{cercle.voie.name}}</label>
        {{/if}}

        <!-- Display the header above all focus of the cercle. Each science displays specific parameters. -->
        <div class="cercle-header item" data-id="{{cercle.id}}">

            <img class="cercle-circle" src="systems/neph5e/assets/core/circle2.webp"/>

            <img class="cercle-separator" src="systems/neph5e/assets/core/separator2.webp"/>

            <div class="cercle-degre">{{cercle.degre}}</div>

            <div class="cercle-menu">

                <span class="cercle-name">{{cercle.name}}</span>

                {{#unless (eq cercle.degre 0)}}
                    
                    {{#if (includes ../header 'focus')}}
                    <span class="cercle-focus">{{localize "NEPH5E.focus"}}</span>
                    {{/if}}

                    {{#if (includes ../header 'status')}}
                    <span class="cercle-status">{{localize "NEPH5E.status"}}</span>
                    {{/if}}

                    {{#if (includes ../header 'percentage')}}
                    <span class="cercle-percentage">{{localize "%"}}</span>
                    {{/if}}

                    <a class="cercle-dice roll"><i class="fas fa-dice-d20"></i></a>

                {{/unless}}

            </div>

        </div>

        <!-- Display all focus related to the cercle. -->
        <ol class="all-focus">

            {{#each cercle.focus as |item|}}
            <li class="focus item macro {{#if (eq item.degre 0)}}disabled{{/if}}" data-id="{{item.embedded.id}}">

                {{#if (includes ../../header 'elements')}}
                <label class="focus-element tooltip {{#if (eq item.embedded.degre 0)}}disabled{{/if}}">
                    {{#switch item.original.system.element}}
                    {{#case 'air'}}<i class="fas fa-wind"></i><span class="tooltiptext">{{localize "NEPH5E.air"}}</span>{{/case}}
                    {{#case 'eau'}}<i class="fas fa-water"></i><span class="tooltiptext">{{localize "NEPH5E.eau"}}</span>{{/case}}
                    {{#case 'feu'}}<i class="fas fa-fire"></i><span class="tooltiptext">{{localize "NEPH5E.feu"}}</span>{{/case}}
                    {{#case 'lune'}}<i class="fas fa-moon"></i><span class="tooltiptext">{{localize "NEPH5E.lune"}}</span>{{/case}}
                    {{#case 'luneNoire'}}<i class="fas fa-circle"></i><span class="tooltiptext">{{localize "NEPH5E.luneNoire"}}</span>{{/case}}
                    {{#case 'terre'}}<i class="fas fa-seedling"></i><span class="tooltiptext">{{localize "NEPH5E.terre"}}</span>{{/case}}
                    {{/switch}}
                </label>
                {{/if}}

                <label class="focus-name open">{{item.original.name}}</label>

                {{#unless (eq degre 0)}}

                {{#if (includes ../../header 'focus')}}
                <label class="focus-focus change {{#if (eq item.embedded.degre 0)}}disabled{{/if}}" data-id="{{item.embedded.id}}">
                    {{#if item.embedded.system.focus}}
                    <i class="fa-solid fa-scroll"></i>
                    {{else}}
                    <i class="fa-regular fa-scroll"></i>
                    {{/if}}
                </label>
                {{/if}}

                {{#if (includes ../../header 'status')}}
                <label class="focus-status change {{#if (eq item.embedded.degre 0)}}disabled{{/if}}" data-id="{{item.embedded.id}}">{{item.embedded.getStatus}}</label>
                {{/if}} 

                {{#if (includes ../../header 'percentage')}}
                <label class="focus-difficulty">
                    {{#unless (eq item.embedded.degre 0)}}
                    {{item.embedded.degre}}
                    {{/unless}}
                </label>
                {{/if}}

                <a class="focus-dice roll">
                    <i class="fas fa-dice-d20"></i>
                </a>

            <!--
                <div class="dice">
                    <a class="roll-focus" data-id="{{item.original.id}}">
                        {{#unless (eq item.embedded.degre 0)}}
                        <i class="fas fa-dice-d20"></i>
                        {{/unless}}
                    </a>
                </div>
            -->
                {{/unless}}

            </li>
            {{/each}}

        </ol>

    </div>
    {{/each}}

</ol>
{{else}}

{{> "systems/neph5e/templates/actor/parts/nofocus.hbs"}}

{{/if}}
{{/with}}