<div class="akasha">

    <div class="column">

        <div class="header">

            <img class="puce"/>

            <img class="separator"/>

            <span class="name">{{localize "NEPH5E.akasha"}}</span>

            <label class="vaisseau {{#if (not actor.system.akasha.nef.active)}}disabled{{/if}}" data-type="nef">{{localize "NEPH5E.nef"}}</label>
            
            <input
                name="actor.system.akasha.nef.active"
                type="hidden"
                value="{{actor.system.akasha.nef.active}}"
                data-dtype="Boolean"/>

        </div>

        <div class="directions">

            <div class="nef tooltip" data-type="nef">
                <img class="activate {{#unless actor.system.akasha.nef.active}}disabled{{/unless}}"/>
                <label class="tooltiptext">{{localize "NEPH5E.nef"}}</label>
            </div>

            <div class="zenith">
                <img class="circle"/>
                <input
                    name="system.akasha.boussole.zenith"
                    type="text"
                    value="{{system.akasha.boussole.zenith}}"
                    data-dtype="Number"/>
                <label>Zenith +{{getLevel actor.system.akasha.boussole.zenith}}</label>
            </div>

            <div class="orient">
                <img class="circle"/>
                <input
                    name="system.akasha.boussole.orient"
                    type="text"
                    value="{{system.akasha.boussole.orient}}"
                    data-dtype="Number"/>
                <label>Orient +{{getLevel actor.system.akasha.boussole.orient}}</label>
            </div>

            <div class="nadir">
                <img class="circle"/>
                <input
                    name="system.akasha.boussole.nadir"
                    type="text"
                    value="{{system.akasha.boussole.nadir}}"
                    data-dtype="Number"/>
                <label>Nadir +{{getLevel actor.system.akasha.boussole.nadir}}</label>
            </div>

            <div class="occident">
                <img class="circle"/>
                <input
                    name="system.akasha.boussole.occident"
                    type="text"
                    value="{{system.akasha.boussole.occident}}"
                    data-dtype="Number"/>
                <label>Occident +{{getLevel actor.system.akasha.boussole.occident}}</label>
            </div>

            <div class="midi">
                <img class="circle"/>
                <input
                    name="system.akasha.boussole.midi"
                    type="text"
                    value="{{system.akasha.boussole.midi}}"
                    data-dtype="Number"/>
                <label>Midi +{{getLevel actor.system.akasha.boussole.midi}}</label>
            </div>

            <div class="septentrion">
                <img class="circle"/>
                <input
                    name="system.akasha.boussole.septentrion"
                    type="text"
                    value="{{system.akasha.boussole.septentrion}}"
                    data-dtype="Number"/>
                <label>Septentrion +{{getLevel actor.system.akasha.boussole.septentrion}}</label>
            </div>

        </div>

    </div>

    <div class="column">

        <div class="header">

            <img class="puce"/>

            <img class="separator"/>

            <span class="name">{{localize "NEPH5E.antiTerre"}}</span>

            <label class="vaisseau {{#if (not actor.system.akasha.barge.active)}}disabled{{/if}}" data-type="barge">{{localize "NEPH5E.barge"}}</label>

            <input
                name="actor.system.akasha.barge.active"
                type="hidden"
                value="{{actor.system.akasha.barge.active}}"
                data-dtype="Boolean"/>

        </div>

        <div class="directions">

            <div class="barge tooltip" data-type="barge">
                <img class="activate {{#unless actor.system.akasha.barge.active}}disabled{{/unless}}"/>
                <label class="tooltiptext">{{localize "NEPH5E.barge"}}</label>
            </div>

            <div class="zenith">
                <img class="circle"/>
                <input
                    name="system.akasha.compas.zenith"
                    type="text"
                    value="{{system.akasha.compas.zenith}}"
                    data-dtype="Number"/>
                <label>Zenith +{{getLevel actor.system.akasha.compas.zenith}}</label>
            </div>

            <div class="orient">
                <img class="circle"/>
                <input
                    name="system.akasha.compas.orient"
                    type="text"
                    value="{{system.akasha.compas.orient}}"
                    data-dtype="Number"/>
                <label>Orient +{{getLevel actor.system.akasha.compas.orient}}</label>
            </div>

            <div class="nadir">
                <img class="circle"/>
                <input
                    name="system.akasha.compas.nadir"
                    type="text"
                    value="{{system.akasha.compas.nadir}}"
                    data-dtype="Number"/>
                <label>Nadir +{{getLevel actor.system.akasha.compas.nadir}}</label>
            </div>

            <div class="occident">
                <img class="circle"/>
                <input
                    name="system.akasha.compas.occident"
                    type="text"
                    value="{{system.akasha.compas.occident}}"
                    data-dtype="Number"/>
                <label>Occident +{{getLevel actor.system.akasha.compas.occident}}</label>
            </div>

            <div class="midi">
                <img class="circle"/>
                <input
                    name="system.akasha.compas.midi"
                    type="text"
                    value="{{system.akasha.compas.midi}}"
                    data-dtype="Number"/>
                <label>Midi +{{getLevel actor.system.akasha.compas.midi}}</label>
            </div>

            <div class="septentrion">
                <img class="circle"/>
                <input
                    name="system.akasha.compas.septentrion"
                    type="text"
                    value="{{system.akasha.compas.septentrion}}"
                    data-dtype="Number"/>
                <label>Septentrion +{{getLevel actor.system.akasha.compas.septentrion}}</label>
            </div>

        </div>

    </div>

</div>