<div class="effectif">

    {{#each actor.membres as |group|}}
    <div class="group">

        <div class="header">

            <img class="circle"/>

            <div class="degre">{{group.size}}</div>

            <img class="separator"/>

            <label class="name">{{#if (eq group.status "membres")}}{{localize "NEPH5E.membres"}}{{else}}{{group.status}}{{/if}}</label>

        </div>

        <ol class="body">

            {{#each group.membres as |membre|}}
            <li class="membre item" data-id="{{membre.id}}">

                <a class="icon"><i class="fa-solid fa-user"></i></a>
            
                <label class="name open">{{membre.name}}</label>

            </li>
            {{/each}}

        </ol>

    </div>
    {{/each}}

</div>