{{#if isGM}}
<div class="tab" data-group="primary" data-tab="options">

    <img src="systems/neph5e/assets/core/top-incarnations.webp" style="border:0px;width:814px;height:98px"/>

    <div style="display:flex;flex-direction:row;padding-top:20px;">

        <div style="display:flex;flex-direction:column;width:50%;margin-right:10px;">

            <div style="display:flex; flex-direction:row; padding-top:10px; justify-content: center;">
                <div style="width:100%; margin-left: 20px;display:flex; flex-direction:row; margin-top:10px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
                    <span style="padding-left:5px;">{{localize "NEPH5E.nephilim"}}</span>
                </div>
            </div>

            <ol class="item-list">

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.nephilim"
                            type="checkbox"
                            {{checked system.options.nephilim}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.pentacle.nom"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.magie"
                            type="checkbox"
                            {{checked system.options.magie}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.magie.science"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.kabbale"
                            type="checkbox"
                            {{checked system.options.kabbale}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.kabbale.science"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.alchimie"
                            type="checkbox"
                            {{checked system.options.alchimie}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.alchimie.science"}}</label>
                </li>

            </ol>

            <div style="display:flex; flex-direction:row; padding-top:10px; justify-content: center;">
                <div style="width:100%; margin-left: 20px;display:flex; flex-direction:row; margin-top:10px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
                    <span style="padding-left:5px;">{{localize "NEPH5E.selenim"}}</span>
                </div>
            </div>

            <ol class="item-list">

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.selenim"
                            type="checkbox"
                            {{checked system.options.selenim}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.noyau"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.necromancie"
                            type="checkbox"
                            {{checked system.options.necromancie}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.necromancie.science"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.conjuration"
                            type="checkbox"
                            {{checked system.options.conjuration}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.conjuration.science"}}</label>
                </li>

            </ol>

            <div style="display:flex; flex-direction:row; padding-top:10px; justify-content: center;">
                <div style="width:100%; margin-left: 20px;display:flex; flex-direction:row; margin-top:10px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
                    <span style="padding-left:5px;">{{localize "NEPH5E.arcanesMineurs"}}</span>
                </div>
            </div>

            <ol class="item-list">

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.baton"
                            type="checkbox"
                            {{checked system.options.baton}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.baton.baton"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.coupe"
                            type="checkbox"
                            {{checked system.options.coupe}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.coupe.coupe"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.denier"
                            type="checkbox"
                            {{checked system.options.denier}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.denier.denier"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.epee"
                            type="checkbox"
                            {{checked system.options.epee}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.epee.epee"}}</label>
                </li>

            </ol>

        </div>

        <div style="display:flex;flex-direction:column;width:50%;margin-left:10px;">

            <div style="display:flex; flex-direction:row; padding-top:10px; justify-content: center;">
                <div style="width:100%; margin-left: 20px;display:flex; flex-direction:row; margin-top:10px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
                    <span style="padding-left:5px;">{{localize "NEPH5E.mondeProfane"}}</span>
                </div>
            </div>

            <ol class="item-list">

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.vecus"
                            type="checkbox"
                            {{checked system.options.vecus}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.vecus"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.incarnations"
                            type="checkbox"
                            {{checked system.options.incarnations}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.incarnations"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.combat"
                            type="checkbox"
                            {{checked system.options.combat}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.combat"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.simulacre"
                            type="checkbox"
                            {{checked system.options.simulacre}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.simulacre"}}</label>
                </li>

            </ol>

            <div style="display:flex; flex-direction:row; padding-top:10px; justify-content: center;">
                <div style="width:100%; margin-left: 20px;display:flex; flex-direction:row; margin-top:10px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
                    <span style="padding-left:5px;">{{localize "NEPH5E.mondeOcculte"}}</span>
                </div>
            </div>

            <ol class="item-list">

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.akasha"
                            type="checkbox"
                            {{checked system.options.akasha}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.plansSubtils"}}</label>
                </li>

            </ol>

            <div style="display:flex; flex-direction:row; padding-top:10px; justify-content: center;">
                <div style="width:100%; margin-left: 20px;display:flex; flex-direction:row; margin-top:10px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
                    <span style="padding-left:5px;">{{localize "NEPH5E.affichage"}}</span>
                </div>
            </div>

            <ol class="item-list">

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.chronologieDescendante"
                            type="checkbox"
                            {{checked system.options.chronologieDescendante}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.chronologieDescendante"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.degreGauche"
                            type="checkbox"
                            {{checked system.options.degreGauche}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.degreGauche"}}</label>
                </li>

            </ol>

        </div>

    </div>

</div>
{{else}}
<div class="tab" data-group="primary" data-tab="options">

    <img src="systems/neph5e/assets/core/top-incarnations.webp" style="border:0px;width:814px;height:98px"/>

    <div style="display:flex;flex-direction:row;padding-top:20px;">

        <div style="display:flex;flex-direction:column;width:100%;margin-right:10px;">

            <div style="display:flex; flex-direction:row; padding-top:10px; justify-content: center;">
                <div style="width:100%; margin-left: 20px;display:flex; flex-direction:row; margin-top:10px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
                    <span style="padding-left:5px;">{{localize "NEPH5E.affichage"}}</span>
                </div>
            </div>

            <ol class="item-list">

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.chronologieDescendante"
                            type="checkbox"
                            {{checked system.options.chronologieDescendante}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.chronologieDescendante"}}</label>
                </li>

                <li class="item">
                    <label class="hand-checkbox">
                        <input
                            class="item-checkbox" 
                            name="system.options.degreGauche"
                            type="checkbox"
                            {{checked system.options.degreGauche}}
                            data-dtype="Boolean"/>
                        <i class="far fa-circle unchecked"></i>
                        <i class="fas fa-circle checked"></i>
                    </label>
                    <label class="item-name">{{localize "NEPH5E.degreGauche"}}</label>
                </li>

            </ol>

        </div>

    </div>

    <input
        name="system.options.combat"
        type="hidden"
        value="{{system.options.combat}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.vecus"
        type="hidden"
        value="{{system.options.vecus}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.simulacre"
        type="hidden"
        value="{{system.options.simulacre}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.nephilim"
        type="hidden"
        value="{{system.options.nephilim}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.magie"
        type="hidden"
        value="{{system.options.magie}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.kabbale"
        type="hidden"
        value="{{system.options.kabbale}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.alchimie"
        type="hidden"
        value="{{system.options.alchimie}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.laboratoire"
        type="hidden"
        value="{{system.options.laboratoire}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.akasha"
        type="hidden"
        value="{{system.options.akasha}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.selenim"
        type="hidden"
        value="{{system.options.selenim}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.necromancie"
        type="hidden"
        value="{{system.options.necromancie}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.conjuration"
        type="hidden"
        value="{{system.options.conjuration}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.baton"
        type="hidden"
        value="{{system.options.baton}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.coupe"
        type="hidden"
        value="{{system.options.coupe}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.denier"
        type="hidden"
        value="{{system.options.denier}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.epee"
        type="hidden"
        value="{{system.options.epee}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.incarnations"
        type="hidden"
        value="{{system.options.incarnations}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.options"
        type="hidden"
        value="{{system.options.options}}"
        data-dtype="Boolean"/>

</div>
{{/if}}