{{#if isGM}}

    <div class="columns">

        <div class="column">

            <div class="group">
                <span>{{localize "NEPH5E.nephilim"}}</span>
            </div>

            <ol class="item-list">

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.pentacle.nom" name="system.options.nephilim" value=system.options.nephilim}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.magie.science" name="system.options.magie" value=system.options.magie}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.analogie" name="system.options.analogie" value=system.options.analogie}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.kabbale.science" name="system.options.kabbale" value=system.options.kabbale}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.alchimie.science" name="system.options.alchimie" value=system.options.alchimie}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.dracomachie" name="system.options.dracomachie" value=system.options.dracomachie}}

            </ol>

            <div class="group">
                <span>{{localize "NEPH5E.selenim"}}</span>
            </div>

            <ol class="item-list">

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.noyau" name="system.options.selenim" value=system.options.selenim}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.necromancie.science" name="system.options.necromancie" value=system.options.necromancie}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.conjuration.science" name="system.options.conjuration" value=system.options.conjuration}}

            </ol>

            <div class="group">
                <span>{{localize "NEPH5E.arcanesMineurs"}}</span>
            </div>

            <ol class="item-list">

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.baton.baton" name="system.options.baton" value=system.options.baton}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.coupe.coupe" name="system.options.coupe" value=system.options.coupe}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.denier.denier" name="system.options.denier" value=system.options.denier}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.epee.epee" name="system.options.epee" value=system.options.epee}}

            </ol>

        </div>

        <div class="column">

            <div class="group">
                <span>{{localize "NEPH5E.mondeProfane"}}</span>
            </div>

            <ol class="item-list">

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.vecus" name="system.options.vecus" value=system.options.vecus}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.incarnations" name="system.options.incarnations" value=system.options.incarnations}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.combat" name="system.options.combat" value=system.options.combat}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.simulacre" name="system.options.simulacre" value=system.options.simulacre}}

            </ol>

            <div class="group">
                <span>{{localize "NEPH5E.mondeOcculte"}}</span>
            </div>

            <ol class="item-list">

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.plansSubtils" name="system.options.akasha" value=system.options.akasha}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.fraternites" name="system.options.fraternites" value=system.options.fraternites}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.atlanteide" name="system.options.atlanteide" value=system.options.atlanteide}}

            </ol>

            <div class="group">
                <span>{{localize "NEPH5E.affichage"}}</span>
            </div>

            <ol class="item-list">

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.chronologieDescendante" name="system.options.chronologieDescendante" value=system.options.chronologieDescendante}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.degreGauche" name="system.options.degreGauche" value=system.options.degreGauche}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.incarnationsOuvertes" name="system.options.incarnationsOuvertes" class="incarnationsOuvertes" value=system.options.incarnationsOuvertes}}

            </ol>

            <div class="group">
                <span>{{localize "NEPH5E.sciencesOccultes"}}</span>
            </div>

            <ol class="item-list">

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.gestionLaboratoire" name="system.options.gestionLaboratoire" value=system.options.gestionLaboratoire}}

            </ol>

        </div>

    </div>

{{else}}

    <div class="columns">

        <div class="column">

            <div class="group">
                <span>{{localize "NEPH5E.affichage"}}</span>
            </div>

            <ol class="item-list">

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.chronologieDescendante" name="system.options.chronologieDescendante" value=system.options.chronologieDescendante}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.degreGauche" name="system.options.degreGauche" value=system.options.degreGauche}}

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.incarnationsOuvertes" name="system.options.incarnationsOuvertes" class="incarnationsOuvertes" value=system.options.incarnationsOuvertes}}

            </ol>

            <div class="group">
                <span>{{localize "NEPH5E.sciencesOccultes"}}</span>
            </div>

            <ol class="item-list">

                {{> "systems/neph5e/templates/actor/parts/checkbox.hbs" label="NEPH5E.gestionLaboratoire" name="system.options.gestionLaboratoire" value=system.options.gestionLaboratoire}}

            </ol>

        </div>

    </div>

    <input
        name="system.options.combat"
        type="hidden"
        value="{{system.options.combat}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.vecus"
        type="hidden"
        value="{{system.options.vecus}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.simulacre"
        type="hidden"
        value="{{system.options.simulacre}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.nephilim"
        type="hidden"
        value="{{system.options.nephilim}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.magie"
        type="hidden"
        value="{{system.options.magie}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.kabbale"
        type="hidden"
        value="{{system.options.kabbale}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.alchimie"
        type="hidden"
        value="{{system.options.alchimie}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.laboratoire"
        type="hidden"
        value="{{system.options.laboratoire}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.akasha"
        type="hidden"
        value="{{system.options.akasha}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.selenim"
        type="hidden"
        value="{{system.options.selenim}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.necromancie"
        type="hidden"
        value="{{system.options.necromancie}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.conjuration"
        type="hidden"
        value="{{system.options.conjuration}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.baton"
        type="hidden"
        value="{{system.options.baton}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.coupe"
        type="hidden"
        value="{{system.options.coupe}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.denier"
        type="hidden"
        value="{{system.options.denier}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.epee"
        type="hidden"
        value="{{system.options.epee}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.incarnations"
        type="hidden"
        value="{{system.options.incarnations}}"
        data-dtype="Boolean"/>

    <input
        name="system.options.options"
        type="hidden"
        value="{{system.options.options}}"
        data-dtype="Boolean"/>

{{/if}}
