<img src="systems/neph5e/assets/core/top-incarnations.webp" style="border:0px;width:814px;height:98px"/>

{{#if system.simulacre}}
{{#with (getActor system.simulacre)}}

<div style="width:100%;margin-top:10px;">
    <div style="margin-left:auto;margin-right:auto;width:100%;display:flex; flex-direction: row; font-family: 'AJensonPro'; font-size: 25px; font-weight:bold;background-color: transparent;border: 0px;">
        <label style="padding-bottom:3px; border: none; background-color: transparent; width:100%; text-align: center;">{{system.name}}</label>
    </div>
</div>

<div style="display:flex;flex-direction:row;padding-top:20px;">

    <div style="display:flex;flex-direction:column;width:50%;margin-right:10px;">

        <div style="display:flex; flex-direction:row; padding-top:10px; justify-content: center;">
            <div style="width:100%; margin-left: 20px;display:flex; flex-direction:row; margin-top:10px; margin-bottom:10px; font-family: 'AJensonPro'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
                <span style="padding-left:5px;">{{localize "ITEM.TypeVecu"}}</span>
            </div>
        </div>

        <ol class="item-list">

            <li class="item">
                <div class="circle" style="flex-basis: 30px;flex-grow: 0;flex-shrink: 0; margin-right: 20px; width: 30px; height: 30px;">
                    <div class="circleContent">{{system.ka}}</div>
                </div>
                <label class="item-name">Ka {{localize "NEPH5E.soleil"}}</label>
                <div class="item-control">
                    <a class="roll-ka" data-element="ka" data-scope="simulacre"><i class="fas fa-dice-d20"></i></a>
                </div>
            </li>

            {{#each (vecus ../actor 'simulacre') as |item|}}
            <li class="item" style="margin-top:10px;">
                <div class="circle" style="flex-basis: 30px;flex-grow: 0;flex-shrink: 0; margin-right: 20px; width: 30px; height: 30px;">
                    <div class="circleContent">{{item.degre}}</div>
                </div>
                <div class="item-name edit-vecu" data-id="{{item.id}}" data-scope="simulacre">
                    <span>{{item.name}}</span>
                </div>
                <div class="item-control">
                    <a class="roll-vecu" data-id="{{item.id}}" data-scope="simulacre"><i class="fas fa-dice-d20"></i></a>
                </div>
            </li>
            {{/each}}

        </ol>

    </div>

</div>

{{html system.description}}

{{/with}}
{{else}}
    <ol class="item-list">
        <li class="item-list-header">
            <div class="item-name">
                <span>Déposer un simulacre</span>
            </div>
        </li>
    </ol>
{{/if}}