<div class="chat">

    <div class="chat-header">

        <img class="chat-image" src="{{action.actor.img}}"/>

        <span class="chat-title">{{action.actor.name}} {{action.sentence}}</span>

        {{#if action.target}}
        <img class="chat-image" src="{{action.target.img}}"/>
        {{/if}}

    </div>

    <div class="chat-body">

        <div class="chat-details">

            {{#if (gte action.difficulty 0)}}
            <span>Difficulté: {{action.difficulty}}0%</span>
            {{/if}}

        </div>

    </div>

</div>