<form>

    <div style="display:flex; flex-direction: column; width:400px">

        {{#if (eq id 'fire')}}
            {{#if ranged.armed}}
                <span style="font-weight: bold;">Attaque avec {{ranged.weapon.data.name}}</span>
                <ul>
                    <li>Visée: {{ranged.state.visee}}/3 rounds</li>
                    <li>Munitions utilisées: {{ranged.state.utilise}} sur {{ranged.weapon.data.data.ranged.munitions}}</li>
                    <li>Rechargement: {{ranged.state.reload}}/{{ranged.weapon.data.data.ranged.vitesse}}</li>
                </ul>
                {{#if (gt counters.ranged 0)}}
                    {{#each actions as |action|}}
                        {{#if (eq action.type 'ranged')}}
                        <div class="item-name tooltip hoverable">
                            <input type="radio" id="{{action.id}}" name="action" value="{{action.id}}" checked>
                            <label for="{{action.id}}">{{action.name}}: {{action.difficulty}}0% - Impact: {{action.impact}}</label>
                            <span class="tooltiptext">{{action.tooltip}}</span>
                        </div>
                        {{/if}}
                    {{/each}}
                    <br>
                {{/if}}
            {{/if}}
        {{/if}}

        {{#if (eq id 'strike')}}
            {{#if (gt counters.melee 0)}}
                <span style="font-weight: bold;">Attaque avec {{melee.weapon.data.name}}</span>
                {{#each actions as |action|}}
                    {{#if (eq action.type 'melee')}}
                    <div class="item-name tooltip hoverable">
                        <input type="radio" id="{{action.id}}" name="action" value="{{action.id}}" checked>
                        <label for="{{action.id}}">{{action.name}}: {{action.difficulty}}0% - Impact: {{action.impact}}</label>
                        <span class="tooltiptext">{{action.tooltip}}</span>
                    </div>
                    {{/if}}
                {{/each}}
                <br>
            {{/if}}
        {{/if}}

        {{#if (eq id 'defense')}}
            {{#if (gt counters.defense 0)}}
                <span style="font-weight: bold;">Défense</span>
                {{#each actions as |action|}}
                    {{#if (eq action.type 'defense')}}
                    <div class="item-name tooltip hoverable">
                        <input type="radio" id="{{action.id}}" name="action" value="{{action.id}}" checked>
                        <label for="{{action.id}}">{{action.name}}: {{action.difficulty}}0%</label>
                        <span class="tooltiptext">{{action.tooltip}}</span>
                    </div>
                    {{/if}}
                {{/each}}
                <br>
            {{/if}}
        {{/if}}

        {{#if (ne id 'defense')}}
            {{#if (gt counters.maneuver 0)}}
                <span style="font-weight: bold;">Manoeuvre</span>
                {{#each actions as |action|}}
                    {{#if (eq action.type 'maneuver')}}
                        {{#if (eq action.id 'liberer')}}
                        <div class="item-name tooltip hoverable">
                            <input type="radio" id="{{action.id}}" name="action" value="{{action.id}}" checked>
                            <label for="{{action.id}}">{{action.name}}: {{action.difficulty}}0%</label>
                            <span class="tooltiptext">{{action.tooltip}}</span>
                        </div>
                        {{else}}
                        <div class="item-name tooltip hoverable">
                            <input type="radio" id="{{action.id}}" name="action" value="{{action.id}}" checked>
                            <label for="{{action.id}}">{{action.name}}</label>
                            <span class="tooltiptext">{{action.tooltip}}</span>
                        </div>
                        {{/if}}
                    {{/if}}
                {{/each}}
                <br>
            {{/if}}
        {{/if}}

        {{#if (ne id 'defense')}}
            {{#if (gt counters.unarmed 0)}}
                <span style="font-weight: bold;">Attaque à mains nues</span>
                {{#each actions as |action|}}
                    {{#if (eq action.type 'unarmed')}}
                    <div class="item-name tooltip hoverable">
                        <input type="radio" id="{{action.id}}" name="action" value="{{action.id}}" checked>
                        {{#if (eq action.id 'frappe')}}
                        <label for="{{action.id}}">{{action.name}}: {{action.difficulty}}0% - Impact: {{action.impact}}</label>
                        {{else}}
                        <label for="{{action.id}}">{{action.name}}: {{action.difficulty}}0%</label>
                        {{/if}}
                        <span class="tooltiptext">{{action.tooltip}}</span>
                    </div>
                    {{/if}}
                {{/each}}
                <br>
            {{/if}}
        {{/if}}

        <span style="font-weight: bold;">Modificateur (%)
            <input id="modifier" type="Number" value="0"/>
        </span>
        <br>

</form>