<form>

    <div style="display:flex; flex-direction: column; width:400px">

        {{#each actions as |action|}}
            <div class="item-name tooltip hoverable">
                <input type="radio" id="{{action.id}}" name="action" value="{{action.id}}" checked>
                {{#switch action.id}}
                {{#case 'liberer'}}<label for="{{action.id}}">{{localize "NEPH5E.free"}}: {{action.difficulty}}0%</label>{{/case}}
                {{#case 'relever'}}<label for="{{action.id}}">{{localize "NEPH5E.standup"}}</label>{{/case}}
                {{#case 'couvert'}}<label for="{{action.id}}">{{localize "NEPH5E.softCover"}}</label>{{/case}}
                {{#case 'cacher'}}<label for="{{action.id}}">{{localize "NEPH5E.hardCover"}}</label>{{/case}}
                {{/switch}}
                <span class="tooltiptext">{{action.tooltip}}</span>
            </div>
        {{/each}}
        <br>

        <span style="font-weight: bold;">Modificateur (%)
            <input id="modifier" type="Number" value="0"/>
        </span>
        <br>

    </div>

</form>