<form>

    <div style="display:flex; flex-direction: column; width:400px">

        <span style="font-weight: bold;">Défense</span>
        {{#each actions as |action|}}
        <div class="item-name tooltip hoverable">
            <input type="radio" id="{{action.id}}" name="action" value="{{action.id}}" checked>
            <label for="{{action.id}}">{{action.name}}: {{action.difficulty}}0%</label>
            <span class="tooltiptext">{{action.tooltip}}</span>
        </div>
        {{/each}}
        <br>

        <div class="basic">

            <div class="basic-body">

                <div class="basic-sort">
                    <a><i class="fas fa-sort"></i></a>
                </div>
                
                <div class="basic-modifier">
                    <input id="modifier" type="Number" value="0"/>
                </div>

            </div>

        </div>

        <br>

</form>