<form>

    <div style="display:flex; flex-direction: column; width:300px">

        <span style="font-weight: bold;">Protection</span>
        {{#each protections as |protection|}}
            <div class="item-name tooltip hoverable">
                <input type="radio" id="{{id}}" name="protection" value="{{id}}" {{checked used}}>
                <label for="protection">{{description}}</label>
                {{#if (ne id 'none-protection')}}
                <span class="tooltiptext">Contact: {{contact}}; Trait: {{trait}}; Arme à feu: {{feu}}; Magique: {{magique}}</span>
                {{/if}}
            </div>
        {{/each}}

        <br>

        <span style="font-weight: bold;">Arme naturelle</span>
        {{#each unarmed as |weapon|}}
        <div class="item-name tooltip hoverable">
            <input type="radio" id="{{id}}" name="unarmed" value="{{id}}" {{checked used}}>
            <label for="unarmed">{{description}}</label>
            <span class="tooltiptext">Dommage: {{damages}}; Blocage: {{blocage}}; Magique: {{magique}}</span>
        </div>
        {{/each}}

        <br>

        <span style="font-weight: bold;">Arme de mêlée</span>
        {{#each melee as |weapon|}}
        <div class="item-name tooltip hoverable">
            <input type="radio" id="{{id}}" name="melee" value="{{id}}" {{checked used}}>
            <label for="melee">{{description}}</label>
            {{#if (ne id 'none-melee')}}
            <span class="tooltiptext">Dommage: {{damages}}; Blocage: {{blocage}}; Magique: {{magique}}</span>
            {{/if}}
        </div>
        {{/each}}

        <br>

        <span style="font-weight: bold;">Arme à distance</span>
        {{#each ranged as |weapon|}}
        <div class="item-name tooltip hoverable">
            <input type="radio" id="{{id}}" name="ranged" value="{{id}}" {{checked used}}>
            <label for="ranged">{{description}}</label>
            {{#if (ne id 'none-ranged')}}
            <span class="tooltiptext">Dommage: {{damages}}</span>
            {{/if}}
        </div>
        {{/each}}

        <br>
        <span style="font-weight: bold; ">Bonus</span>

        <div style="flex-direction: row">
            <input style="width: 30px;" id="initiative" type="Number" value="{{improvements.initiative}}"/>
            <span>Initiative :</span>
        </div>

        <div style="flex-direction: row">
            <input style="width: 30px;" id="damages" type="Number" value="{{improvements.damages}}"/>
            <span>Dommages au contact :</span>
        </div>

        <div style="flex-direction: row">
            <input style="width: 30px;" id="choc" type="Number" value="{{improvements.choc}}"/>
            <span>Choc avant d'être blessé :</span>
        </div>

        <br>

    </div>

</form>