{{#if (and debug isGM)}}
<input
    name="system.id"
    type="text"
    value="{{system.id}}"
    data-dtype="String"
    style="margin-bottom:5px;text-align:center;color:indianred;font-weight:bold;"/>
{{else}}
<input
    name="system.id"
    type="hidden"
    value="{{system.id}}"
    data-dtype="String"/>
{{/if}}

<div style="display: flex; flex-direction: row; height: 60px;">

    <input name="name" type="text" value="{{item.name}}" style="font-size: 25px; text-align: center; margin-bottom: 10px; height: 100%; width: 100%; font-family:'Modesto Condensed','Palatino Linotype','serif';"/>

    <img src="{{item.img}}" title="{{item.name}}" data-edit="img" style="flex: 0 0 auto; margin-left: 10px"/>

</div>