<div class="header">

    <input

        {{#if (and debug isGM)}}
        type="text"
        class="uuid"
        {{else}}
        type="hidden"
        {{/if}}

        name="document.system.id"
        type="text"
        value="{{document.system.id}}"
        data-dtype="String"/>
   
    <div class="title">

        <input
            name="name"
            type="text"
            value="{{document.name}}"
            class="name"/>

        <img
            src="{{document.img}}"
            title="{{document.name}}"
            data-edit="img"
            class="image"/>

    </div>

</div>