<div class="data">

    <div class="value tooltip">

        <span class="tooltiptext">{{localize tooltip}}</span>

        {{#if (or (nonNull difficulty) (nonNull readOnly))}}
        <select name={{name}} class="select selector-disabled" disabled>
        {{else}}
        <select name={{name}} class="select hoverable">
        {{/if}}

            {{#select value}}
            {{#each collection as |name label|}}
            <option value="{{label}}" class="option">{{localize name}}</option>
            {{/each}}
            {{/select}}

        </select>
        
    </div>

</div>