{{#if (eq cercle.degre 0)}}
<div class="cercle-header disabled item" data-id="{{cercle.id}}">
{{else}}
<div class="cercle-header item" data-id="{{cercle.id}}">
{{/if}}

    <img class="cercle-circle" src="systems/neph5e/assets/core/circle2.webp"/>

    <img class="cercle-separator" src="systems/neph5e/assets/core/separator2.webp"/>
    
    <div class="cercle-degre">{{cercle.degre}}</div>

    <div class="cercle-menu">

        <span class="cercle-name">{{cercle.name}}</span>

        {{#unless (eq cercle.degre 0)}}

            <span class="cercle-percentage">{{localize "%"}}</span>

            <a class="cercle-dice roll"><i class="fas fa-dice-d20"></i></a>

        {{/unless}}

    </div>

</div>