<div class="science">

    {{#with (cercles actor science false) as |data|}}
    {{#if (gt data.cercles.length 0)}} 
    <ol class="cercles">

        {{#each data.cercles as |cercle|}}
        <div class="cercle {{#if (eq cercle.degre 0)}}disabled{{/if}}">

            <!-- Display the voie related to the specified cercle if necessary. -->
            {{#if (nonNull cercle.voie)}}
            <label class="voie">{{cercle.voie.name}}</label>
            {{/if}}

            <!-- Display the header above all focus of the cercle. Each science displays specific parameters. -->
            <div class="header item" data-sid="{{cercle.sid}}">

                <img class="circle"/>

                <img class="separator"/>

                <div class="cercle-degre">{{cercle.degre}}</div>

                <div class="cercle-menu">

                    <span class="cercle-name">{{cercle.name}}</span>

                    {{#unless (eq cercle.degre 0)}}
                        
                        {{#if (includes ../header 'quantite')}}
                        <span class="cercle-quantite">{{localize "NEPH5E.quantite"}}</span>
                        {{/if}}

                        {{#if (includes ../header 'transporte')}}
                        <span class="cercle-transporte">{{localize "NEPH5E.soi"}}</span>
                        {{/if}}

                        {{#if (includes ../header 'pacte')}}
                        <span class="cercle-pacte">{{localize "NEPH5E.pacte"}}</span>
                        {{/if}}

                        {{#if (includes ../header 'possede')}}
                        <span class="cercle-possede">{{localize "NEPH5E.focus"}}</span>
                        {{/if}}

                        {{#if (includes ../header 'status')}}
                        <span class="cercle-status">{{localize "NEPH5E.status"}}</span>
                        {{/if}}

                        {{#if (includes ../header 'percentage')}}
                        <span class="cercle-percentage">{{localize "%"}}</span>
                        {{/if}}

                        <a class="cercle-dice roll"><i class="fas fa-dice-d20"></i></a>

                    {{/unless}}

                </div>

            </div>

            <!-- Display all focus related to the cercle. -->
            <ol class="all-focus">

                {{#each cercle.focus as |item|}}
                <li class="focus item macro {{#if (eq item.degre 0)}}disabled{{/if}}" data-sid="{{item.original.sid}}">

                    <!-- The only element of the focus. -->
                    {{#if (includes ../../header 'element')}}
                    <label class="focus-element tooltip {{#if (eq item.embedded.degre 0)}}disabled{{/if}}">
                        {{#switch item.original.system.element}}
                            {{> "systems/neph5e/feature/science/actor/elements.hbs"}}
                        {{/switch}}
                    </label>
                    {{/if}}

                    <!-- The both elements of the focus. -->
                    {{#if (includes ../../header 'elements')}}
                    <label class="focus-elements {{#if (eq item.embedded.degre 0)}}disabled{{/if}}">
                        <div class="tooltip">
                        {{#switch item.original.system.elements.[0]}}
                            {{> "systems/neph5e/feature/science/actor/elements.hbs"}}
                        {{/switch}}
                        </div>
                        <div class="tooltip">
                        {{#switch item.original.system.elements.[1]}}
                            {{> "systems/neph5e/feature/science/actor/elements.hbs"}}
                        {{/switch}}
                        </div>
                    </label>
                    {{/if}}

                    <!-- The lune noire element. -->
                    {{#if (includes ../../header 'luneNoire')}}
                    <label class="focus-element tooltip {{#if (eq item.embedded.degre 0)}}disabled{{/if}}">
                        {{#switch 'luneNoire'}}
                            {{> "systems/neph5e/feature/science/actor/elements.hbs"}}
                        {{/switch}}
                    </label>
                    {{/if}}

                    <!-- The name of the focus. -->
                    <label class="focus-name open">{{item.original.name}}</label>

                    {{#unless (eq item.embedded.degre 0)}}

                    <!-- The quantity produced by the laboratory. -->
                    {{#if (includes ../../header 'quantite')}}
                    <input
                        class="focus-quantite change {{#if (eq item.embedded.degre 0)}}disabled{{/if}}"
                        type="number"
                        value="{{item.embedded.system.quantite}}"
                        data-dtype="Number"/>
                    {{/if}}

                    <!-- The quantity carried by the character. -->
                    {{#if (includes ../../header 'transporte')}}
                    <input
                        class="focus-transporte change {{#if (eq item.embedded.degre 0)}}disabled{{/if}}"
                        type="number"
                        value="{{item.embedded.system.transporte}}"
                        data-dtype="Number"/>
                    {{/if}}

                    <!-- The status of the pacte with the kabbale creature. -->
                    {{#if (includes ../../header 'pacte')}}
                    <label class="focus-pacte change {{#if (eq item.embedded.degre 0)}}disabled{{/if}}">
                        {{#if item.embedded.system.pacte}}
                        <i class="fa-solid fa-feather-pointed"></i>
                        {{else}}
                        <i class="fa-regular fa-feather-pointed"></i>
                        {{/if}}
                    </label>
                    {{/if}}

                    <!-- Indicates id the character has the focus. -->
                    {{#if (includes ../../header 'possede')}}
                    <label class="focus-possede {{#if (eq item.embedded.degre 0)}}disabled{{/if}}">
                        {{#if item.embedded.system.focus}}
                        <i class="fa-solid fa-scroll"></i>
                        {{else}}
                        <i class="fa-regular fa-scroll"></i>
                        {{/if}}
                    </label>
                    {{/if}}

                    <!-- The status of the focus: dechiffre, appris, tatoue. -->
                    {{#if (includes ../../header 'status')}}
                    <label class="focus-status {{#if (eq item.embedded.degre 0)}}disabled{{/if}}">{{item.embedded.getStatus}}</label>
                    {{/if}} 

                    {{#if (includes ../../header 'percentage')}}
                    <label class="focus-difficulty">{{item.embedded.degre}}</label>
                    {{/if}}

                    <!-- The percentage to succeed to use the focus. -->
                    <a class="focus-dice roll">
                        <i class="fas fa-dice-d20"></i>
                    </a>

                <!--
                    <div class="dice">
                        <a class="roll-focus" data-id="{{item.original.id}}">
                            {{#unless (eq item.embedded.degre 0)}}
                            <i class="fas fa-dice-d20"></i>
                            {{/unless}}
                        </a>
                    </div>
                -->
                    {{/unless}}

                </li>
                {{/each}}

            </ol>

        </div>
        {{/each}}

    </ol>
    {{else}}

    <div class="nofocus">
        <label>{{localize 'NEPH5E.aideFocus'}}</label>
        <i class="fas fa-arrow-alt-circle-down fa-2xl"></i>
    </div>

    {{/if}}
    {{/with}}

</div>