{{#unless (noItemsFromPeriodes data.id 'arcanes')}}
<ol class="item-list">

    <div style="margin-top:20px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
        {{localize "NEPH5E.arcanes"}}
    </div>

    {{#each (getLevels data.id 'arcanes') as |arcane|}}
    <li class="item" data-item-id="{{arcane.refid}}" data-item-type="arcane">

        {{#with (getItem arcane.refid)}}
        <div class="item-name show-arcane">
            <span data-item-id="{{arcane.refid}}">{{name}}</span>
        </div>
        {{/with}}

        <label class="item-integer">{{arcane.degre}}</label>

        <div class="item-control">
            <a class="item-roll"><i class="fas fa-dice-d20"></i></a>
        </div>

    {{/each}}
    </li>

</ol>
{{/unless}}