<div style="display:flex; flex-direction:column;">

    <div style="display:flex; flex-direction:row; justify-content: center;">
        <label style="width:150px;flex: 0 0 auto;">{{localize "NEPH5E.initiative"}}</label>
        <span style="width:40px">{{initiative}}</span>
    </div>

    <div style="display:flex; flex-direction:row; justify-content: center;">
        <label style="width:150px;flex: 0 0 auto;">{{localize "NEPH5E.bonusDommage"}}</label>
        <span style="width:40px">{{bonusDommage}}</span>
    </div>

    <div style="display:flex; flex-direction:row; justify-content: center;">
        <label style="width:150px;flex: 0 0 auto;">{{localize "NEPH5E.perspicacite"}}</label>
        <span style="width:40px">{{perspicacite}}</span>
    </div>

    <div style="display:flex; flex-direction:row; justify-content: center;">
        <label style="width:150px;flex: 0 0 auto;">{{localize "NEPH5E.recuperation"}}</label>
        <span style="width:40px">{{recuperation}}</span>
    </div>

    <div style="display:flex; flex-direction:row; justify-content: center;">
        <label style="width:150px;flex: 0 0 auto;">{{localize "NEPH5E.voile"}}</label>
        <span style="width:40px">{{voile}}</span>
    </div>

</div>