{{#unless (noItemsFromPeriodes data.id 'chutes')}}
<div class="section">

    <div class="sectionRow">

        <div class="circleHidden">
            <div class="circleContent"></div>
        </div>

        <div class="sectionTitle">
            <span class="sectionName">{{localize "NEPH5E.chutes"}}</span>
        </div>

    </div>

    <ol class="item-list">

        {{#each (getLevels data.id 'chutes') as |chute|}}
        <li class="item" data-item-id="{{chute.refid}}" data-item-type="chute">

            <label class="item-integer">{{chute.degre}}</label>

            {{#with (getItem chute.refid)}}
            <div class="item-name show-chute">
                <span data-item-id="{{chute.refid}}">{{name}}</span>
            </div>
            {{/with}}

            <div class="item-control">
                <a class="item-roll"><i class="fas fa-dice-d20"></i></a>
            </div>

        </li>
        {{/each}}

    </ol>

</div>
{{/unless}}