{{#unless (noItemsFromPeriodes data.id 'chutes')}}
<ol class="item-list">
    
    <div style="margin-top:20px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
        {{localize "NEPH5E.chutes"}}
    </div>

    {{#each (getLevels data.id 'chutes') as |chute|}}
    <li class="item" data-item-id="{{chute.refid}}" data-item-type="chute">

        {{#with (getItem chute.refid)}}
        <div class="item-name show-chute">
            <span data-item-id="{{chute.refid}}">{{name}}</span>
        </div>
        {{/with}}

        <label class="item-integer">{{chute.degre}}</label>

        <div class="item-control">
            <a class="item-roll"><i class="fas fa-dice-d20"></i></a>
        </div>

    </li>
    {{/each}}

</ol>
{{/unless}}