<ol class="item-list">

    <div style="text-align:center;font-size:x-large;">
        {{#if data.metamorphe.refid}}
            {{#with (getItem data.metamorphe.refid)}}
            <span>{{name}}</span>
            {{/with}}
        {{else}}
            <span>{{localize "ITEM.TypeMetamorphe"}}</span>
        {{/if}}
    </div>

    <hr>

    <li class="item">

        {{#with (getItem data.metamorphe.refid)}}
        <label class="item-name">{{data.data.metamorphoses.[0].name}}</label>
        {{/with}}

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.metamorphoses.[0]"
                type="checkbox"
                {{checked data.metamorphe.metamorphoses.[0]}}
                data-dtype="Boolean"/>
            <i class="far fa-circle unchecked"></i>
            <i class="fas fa-circle checked"></i>
        </label>

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.manifested.[0]"
                type="checkbox"
                {{checked data.metamorphe.manifested.[0]}}
                data-dtype="Boolean"/>
            <i class="fas fa-eye-slash unchecked"></i>
            <i class="fas fa-eye checked"></i>
        </label>

    </li>

    <li class="item">

        {{#with (getItem data.metamorphe.refid)}}
        <label class="item-name">{{data.data.metamorphoses.[1].name}}</label>
        {{/with}}

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.metamorphoses.[1]"
                type="checkbox"
                {{checked data.metamorphe.metamorphoses.[1]}}
                data-dtype="Boolean"/>
            <i class="far fa-circle unchecked"></i>
            <i class="fas fa-circle checked"></i>
        </label>

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.manifested.[1]"
                type="checkbox"
                {{checked data.metamorphe.manifested.[1]}}
                data-dtype="Boolean"/>
            <i class="fas fa-eye-slash unchecked"></i>
            <i class="fas fa-eye checked"></i>
        </label>

    </li>

    <li class="item">

        {{#with (getItem data.metamorphe.refid)}}
        <label class="item-name">{{data.data.metamorphoses.[2].name}}</label>
        {{/with}}

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.metamorphoses.[2]"
                type="checkbox"
                {{checked data.metamorphe.metamorphoses.[2]}}
                data-dtype="Boolean"/>
            <i class="far fa-circle unchecked"></i>
            <i class="fas fa-circle checked"></i>
        </label>

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.manifested.[2]"
                type="checkbox"
                {{checked data.metamorphe.manifested.[2]}}
                data-dtype="Boolean"/>
            <i class="fas fa-eye-slash unchecked"></i>
            <i class="fas fa-eye checked"></i>
        </label>

    </li>

    <li class="item">

        {{#with (getItem data.metamorphe.refid)}}
        <label class="item-name">{{data.data.metamorphoses.[3].name}}</label>
        {{/with}}

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.metamorphoses.[3]"
                type="checkbox"
                {{checked data.metamorphe.metamorphoses.[3]}}
                data-dtype="Boolean"/>
            <i class="far fa-circle unchecked"></i>
            <i class="fas fa-circle checked"></i>
        </label>

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.manifested.[3]"
                type="checkbox"
                {{checked data.metamorphe.manifested.[3]}}
                data-dtype="Boolean"/>
            <i class="fas fa-eye-slash unchecked"></i>
            <i class="fas fa-eye checked"></i>
        </label>

    </li>

    <li class="item">

        {{#with (getItem data.metamorphe.refid)}}
        <label class="item-name">{{data.data.metamorphoses.[4].name}}</label>
        {{/with}}

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.metamorphoses.[4]"
                type="checkbox"
                {{checked data.metamorphe.metamorphoses.[4]}}
                data-dtype="Boolean"/>
            <i class="far fa-circle unchecked"></i>
            <i class="fas fa-circle checked"></i>
        </label>

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.manifested.[4]"
                type="checkbox"
                {{checked data.metamorphe.manifested.[4]}}
                data-dtype="Boolean"/>
            <i class="fas fa-eye-slash unchecked"></i>
            <i class="fas fa-eye checked"></i>
        </label>

    </li>

    <li class="item">

        {{#with (getItem data.metamorphe.refid)}}
        <label class="item-name">{{data.data.metamorphoses.[5].name}}</label>
        {{/with}}

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.metamorphoses.[5]"
                type="checkbox"
                {{checked data.metamorphe.metamorphoses.[5]}}
                data-dtype="Boolean"/>
            <i class="far fa-circle unchecked"></i>
            <i class="fas fa-circle checked"></i>
        </label>

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.manifested.[5]"
                type="checkbox"
                {{checked data.metamorphe.manifested.[5]}}
                data-dtype="Boolean"/>
            <i class="fas fa-eye-slash unchecked"></i>
            <i class="fas fa-eye checked"></i>
        </label>

    </li>

    <li class="item">

        {{#with (getItem data.metamorphe.refid)}}
        <label class="item-name">{{data.data.metamorphoses.[6].name}}</label>
        {{/with}}

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.metamorphoses.[6]"
                type="checkbox"
                {{checked data.metamorphe.metamorphoses.[6]}}
                data-dtype="Boolean"/>
            <i class="far fa-circle unchecked"></i>
            <i class="fas fa-circle checked"></i>
        </label>

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.manifested.[6]"
                type="checkbox"
                {{checked data.metamorphe.manifested.[6]}}
                data-dtype="Boolean"/>
            <i class="fas fa-eye-slash unchecked"></i>
            <i class="fas fa-eye checked"></i>
        </label>
    </li>

    <li class="item">

        {{#with (getItem data.metamorphe.refid)}}
        <label class="item-name">{{data.data.metamorphoses.[7].name}}</label>
        {{/with}}

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.metamorphoses.[7]"
                type="checkbox"
                {{checked data.metamorphe.metamorphoses.[7]}}
                data-dtype="Boolean"/>
            <i class="far fa-circle unchecked"></i>
            <i class="fas fa-circle checked"></i>
        </label>

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.manifested.[7]"
                type="checkbox"
                {{checked data.metamorphe.manifested.[7]}}
                data-dtype="Boolean"/>
            <i class="fas fa-eye-slash unchecked"></i>
            <i class="fas fa-eye checked"></i>
        </label>

    </li>

    <li class="item">

        {{#with (getItem data.metamorphe.refid)}}
        <label class="item-name">{{data.data.metamorphoses.[8].name}}</label>
        {{/with}}

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.metamorphoses.[8]"
                type="checkbox"
                {{checked data.metamorphe.metamorphoses.[8]}}
                data-dtype="Boolean"/>
            <i class="far fa-circle unchecked"></i>
            <i class="fas fa-circle checked"></i>
        </label>

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.manifested.[8]"
                type="checkbox"
                {{checked data.metamorphe.manifested.[8]}}
                data-dtype="Boolean"/>
            <i class="fas fa-eye-slash unchecked"></i>
            <i class="fas fa-eye checked"></i>
        </label>

    </li>

    <li class="item">

        {{#with (getItem data.metamorphe.refid)}}
        <label class="item-name">{{data.data.metamorphoses.[9].name}}</label>
        {{/with}}

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.metamorphoses.[9]"
                type="checkbox"
                {{checked data.metamorphe.metamorphoses.[9]}}
                data-dtype="Boolean"/>
            <i class="far fa-circle unchecked"></i>
            <i class="fas fa-circle checked"></i>
        </label>

        <label class="hand-checkbox">
            <input
                class="item-checkbox" 
                name="data.manifested.[9]"
                type="checkbox"
                {{checked data.metamorphe.manifested.[9]}}
                data-dtype="Boolean"/>
            <i class="fas fa-eye-slash unchecked"></i>
            <i class="fas fa-eye checked"></i>
        </label>

    </li>

</ol>