<div style="text-align:center;font-size:x-large;">
    {{localize "NEPH5E.stase"}}
</div>

<div style="display:flex; flex-direction:row;">

    <input
        style="border: none; background-color: transparent; text-align:center;"
        name="data.stase.description"
        type="text"
        value="{{data.stase.description}}"
        data-dtype="String"/>

</div>

<div style="display:flex; flex-direction:row; padding-top:10px; justify-content: center;">

    <label style="margin-top:4px; margin-right:5px;">{{localize "NEPH5E.pentacle.elements.air"}}</label>

    <input
        style="width: 40px; margin-right:10px;text-align:center;"
        class="item-integer"
        name="data.stase.air"
        type="text"
        value="{{data.stase.air}}"
        data-dtype="Number"/>

    <label style="margin-top:4px; margin-right:5px;">{{localize "NEPH5E.pentacle.elements.eau"}}</label>

    <input
        style="width: 40px; margin-right:10px;text-align:center;"
        class="item-integer"
        name="data.stase.eau"
        type="text"
        value="{{data.stase.eau}}"
        data-dtype="Number"/>

    <label style="margin-top:4px; margin-right:5px;">{{localize "NEPH5E.pentacle.elements.feu"}}</label>

    <input
        style="width: 40px; margin-right:10px;text-align:center;"
        class="item-integer"
        name="data.stase.feu"
        type="text"
        value="{{data.stase.feu}}"
        data-dtype="Number"/>

    <label style="margin-top:4px; margin-right:5px;">{{localize "NEPH5E.pentacle.elements.lune"}}</label>

    <input
        style="width: 40px; margin-right:10px;text-align:center;"
        class="item-integer"
        name="data.stase.lune"
        type="text"
        value="{{data.stase.lune}}"
        data-dtype="Number"/>

    <label style="margin-top:4px; margin-right:5px;">{{localize "NEPH5E.pentacle.elements.terre"}}</label>

    <input
        style="width: 40px; margin-right:10px;text-align:center;"
        class="item-integer"
        name="data.stase.terre"
        type="text"
        value="{{data.stase.terre}}"
        data-dtype="Number"/>

</div>