<ol class="item-list">

    <li class="item-list-header" style="margin-bottom:10px">

        <div class="item-name">
            <span>{{localize "ITEM.TypeCompetence"}}</span>
        </div>

    </li>

    <div style="column-count:3">

        {{#if data.simulacre.refid}}
            {{#with (getActor data.simulacre.refid)}}
                {{#each (getVecus data.data.id) as |vecu|}}
                <li class="item" data-item-id="{{vecu.id}}" data-item-type="vecu">

                    <div class="item-name edit-vecu-simulacre">
                        <span>{{name}}</span>
                    </div>

                    <label class="item-integer">{{vecu.degre}}</label>

                    <div class="item-control">
                        <a class="roll-vecu-simulacre"><i class="fas fa-dice-d20"></i></a>
                    </div>

                </li>
                {{/each}}
            {{/with}}
        {{/if}}

        <hr>

        {{#each (getVecus data.id) as |item|}}
        <li class="item" data-item-id="{{id}}" data-item-type="vecu">

            <div class="item-name edit-vecu">
                <span>{{name}}</span>
            </div>

            <label class="item-integer">{{item.degre}}</label>

            <div class="item-control">
                <a class="item-roll-vecu"><i class="fas fa-dice-d20"></i></a>
            </div>

        </li>
        {{/each}}

        <hr>

        {{#each (getCompetences data.id) as |competence|}}
        <li class="item" data-item-id="{{competence.refid}}" data-item-type="competence">

            <div class="item-name edit-competence">
                <span>{{competence.name}}</span>
            </div>

            <div class="item-integer">
                <span>{{competence.degre}}</span>
            </div>

            <div class="item-control">
                <a class="item-roll"><i class="fas fa-dice-d20"></i></a>
            </div>

        </li>
        {{/each}}

    </div>

</ol>