{{#unless (noItemsFromPeriodes data.id 'passes')}}
<ol class="item-list">

    <div style="width:794px;margin-left:10px; display:flex; flex-direction:row; margin-top:10px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
        <span style="padding-left:5px;">{{localize "NEPH5E.passes"}}</span>
    </div>

    <div style="column-count:3">

        {{#each (getLevels data.id 'passes') as |passe|}}
        <li class="item" data-item-id="{{passe.refid}}" data-item-type="passe">

            <label style="width:20px;">{{passe.degre}}</label>

            <div class="item-name edit-passe">
                <span data-item-id="{{passe.refid}}">{{passe.name}}</span>
            </div>

            <div class="item-control">
                <a class="item-roll"><i class="fas fa-dice-d20"></i></a>
            </div>

        </li>
        {{/each}}

    </div>

</ol>
{{/unless}}