<ol class="item-list">
    
    <li class="item-list-header" style="margin-bottom:10px">

        <div class="item-name">
            <span>{{localize "ITEM.TypeQuete"}}</span>
        </div>

        <div class="item-integer">
            <span/>
        </div>

        <div class="item-control">
            <span/>
        </div>

        <div class="item-control">
            <span/>
        </div>

    </li>

    <div style="column-count:3">

        {{#each (getLevels data.id 'quetes') as |quete|}}
        <li class="item" data-item-id="{{quete.refid}}" data-item-type="quete">

            <div class="item-name">
                <span data-item-id="{{quete.refid}}">{{quete.name}}</span>
            </div>

            <label class="item-integer">{{quete.degre}}</label>

            <div class="item-control">
                <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
            </div>

            <div class="item-control">
                <a class="edit-quete" title="Edit Item"><i class="fas fa-edit"></i></a>
            </div>

        </li>
        {{/each}}
        

    </div>

</ol>