<ol class="item-list">
    
    <li class="item-list-header" style="margin-bottom:10px">

        <div class="item-name">
            <span>{{localize "ITEM.TypeSavoir"}}</span>
        </div>

    </li>

    <div style="column-count:3">

        {{#each (getLevels data.id 'savoirs') as |savoir|}}
        <li class="item" data-item-id="{{savoir.refid}}" data-item-type="savoir">

            <div class="item-name edit-savoir">
                <span data-item-id="{{savoir.refid}}">{{savoir.name}}</span>
            </div>

            <label class="item-integer">{{savoir.degre}}</label>

            <div class="item-control">
                <a class="item-roll"><i class="fas fa-dice-d20"></i></a>
            </div>

        </li>
        {{/each}}

    </div>

</ol>