<ol class="item-list">

    <li class="item-list-header">
        <div class="item-checkbox">
            <span/>
        </div>
        <div class="item-name">
            <span>{{localize "NEPH5E.tab"}}</span>
        </div>
    </li>

    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.description"
            {{checked data.options.description}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.description"}}</label>
    </li>

    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.vecus"
            {{checked data.options.vecus}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.vecus"}}</label>
    </li>

    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.simulacre"
            {{checked data.options.simulacre}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.simulacre.nom"}}</label>
    </li>

    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.nephilim"
            {{checked data.options.nephilim}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.nephilim"}}</label>
    </li>

    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.magie"
            {{checked data.options.magie}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.magie.science"}}</label>
    </li>

    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.kabbale"
            {{checked data.options.kabbale}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.kabbale.science"}}</label>
    </li>

    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.alchimie"
            {{checked data.options.alchimie}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.alchimie.science"}}</label>
    </li>
    
    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.akasha"
            {{checked data.options.akasha}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.akasha"}}</label>
    </li>

    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.boussole"
            {{checked data.options.boussole}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.boussole"}}</label>
    </li>

    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.compas"
            {{checked data.options.compas}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.compas"}}</label>
    </li>

    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.selenim"
            {{checked data.options.selenim}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.selenim"}}</label>
    </li>
    
    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.anamorphose"
            {{checked data.options.anamorphose}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.anamorphose.science"}}</label>
    </li>

    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.necromancie"
            {{checked data.options.necromancie}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.necromancie.science"}}</label>
    </li>
    
    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.conjuration"
            {{checked data.options.conjuration}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.conjuration.science"}}</label>
    </li>

    <li class="item">
        <input
            class="item-checkbox"
            type="checkbox"
            name="data.options.incarnations"
            {{checked data.options.incarnations}}
            data-dtype="Boolean"/>
        <label class="item-name">{{localize "NEPH5E.incarnations"}}</label>
    </li>

</ol>