<input
    name="data.page.necromancie"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

<div class="cercles">

    <div class="cercle">
        <label class="cercle-name">{{localize "NEPH5E.necromancie.cercles.fossoyeur"}}</label>
        <label class="cercle-tag"/>
        <label class="cercle-value">{{getScience data.id "fossoyeur"}}</label>
    </div>

    <div class="cercle">
        <label class="cercle-name">{{localize "NEPH5E.necromancie.cercles.embaumeur"}}</label>
        <label class="cercle-tag"/>
        <label class="cercle-value">{{getScience data.id "embaumeur"}}</label>
    </div>

    <div class="cercle">
        <label class="cercle-name">{{localize "NEPH5E.necromancie.cercles.imputrescible"}}</label>
        <label class="cercle-tag"/>
        <label class="cercle-value">{{getScience data.id "imputrescible"}}</label>
    </div>

</div>

<ol class="item-list">

    {{> "systems/neph5e/templates/actor/parts/necromancie/header.hbs" cercle="Fossoyeur"}}

    {{#each data.necromancie.rites as |rite|}}
        {{#with (getItem rite.refid)}}
            {{#if (eq data.data.cercle "fossoyeur")}}
                {{> "systems/neph5e/templates/actor/parts/necromancie/rite.hbs" rite=rite}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{> "systems/neph5e/templates/actor/parts/necromancie/header.hbs" cercle="Embaumeur"}}

    {{#each data.necromancie.rites as |rite|}}
        {{#with (getItem rite.refid)}}
            {{#if (eq data.data.cercle "embaumeur")}}
                {{> "systems/neph5e/templates/actor/parts/necromancie/rite.hbs" rite=rite}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{> "systems/neph5e/templates/actor/parts/necromancie/header.hbs" cercle="Imputrescible"}}

    {{#each data.necromancie.rites as |rite|}}
        {{#with (getItem rite.refid)}}
            {{#if (eq data.data.cercle "imputrescible")}}
                {{> "systems/neph5e/templates/actor/parts/necromancie/rite.hbs" rite=rite}}
            {{/if}}
        {{/with}}
    {{/each}}

</ol>