<li class="item" style="height:17px;display:flex; flex-direction:row;align-items: center;" data-item-id="{{rite.refid}}" data-item-science="necromancie" data-item-collection="rites">

    <div class="item-control">
        <a class="item-delete"><i class="fas fa-trash"></i></a>
    </div>

    <input
        name="data.necromancie.rites.[{{@index}}].refid"
        type="hidden"
        value="{{rite.refid}}"
        data-dtype="String"/>

    <input
        name="data.necromancie.rites.[{{@index}}].appris"
        type="hidden"
        value="{{rite.appris}}"
        data-dtype="Boolean"/>

    {{#with (getItem rite.refid)}}
    <div class="item-name edit-rite" style="margin-left:20px;">
        <span data-item-id="{{rite.refid}}">{{name}}</span>
    </div>
    {{/with}}

    <label class="change-sort" style="flex: 0 0 auto; width:80px;margin-left:10px;margin-right:10px;text-align:center;">{{getSortStatus rite}}</label>

    <div class="item-control" style="flex: 0 0 auto; width:18px;margin-left:10px;margin-right:10px;">
        <a class="item-roll"><i class="fas fa-dice-d20"></i></a>
    </div>

</li>