<li class="item" data-item-id="{{invocation.refid}}" data-item-type="invocation">

    <input
        name="data.kabbale.invocations.[{{@index}}].refid"
        type="hidden"
        value="{{invocation.refid}}"
        data-dtype="String"/>

    {{#with (getItem invocation.refid)}}
    <div class="item-name">
        <span data-item-id="{{invocation.refid}}">{{name}}</span>
    </div>
    {{/with}}

    <div class="item-checkbox">
        <input
            type="checkbox"
            name="data.kabbale.invocations.[{{@index}}].pacte"
            {{checked invocation.pacte}}
            data-dtype="Boolean"/>
    </div>

    {{#if useV3}}
    <div class="item-integer">
        <input
            name="data.kabbale.invocations.[{{@index}}].feal"
            type="text"
            value="{{invocation.feal}}"
            data-dtype="Number"/>
    </div>
    <div class="item-integer">
        <input
            name="data.kabbale.invocations.[{{@index}}].allie"
            type="text"
            value="{{invocation.allie}}"
            data-dtype="Number"/>
    </div>
    {{else}}
    <input
        name="data.kabbale.invocations.[{{@index}}].feal"
        type="hidden"
        value="{{invocation.feal}}"
        data-dtype="Number"/>
    <input
        name="data.kabbale.invocations.[{{@index}}].allie"
        type="hidden"
        value="{{invocation.allie}}"
        data-dtype="Number"/>
    {{/if}}

    <div class="item-checkbox">
        <input
            type="checkbox"
            name="data.kabbale.invocations.[{{@index}}].appris"
            {{checked invocation.appris}}
            data-dtype="Boolean"/>
    </div>

    <div class="item-checkbox">
        <input
            type="checkbox"
            name="data.kabbale.invocations.[{{@index}}].tatoue"
            {{checked invocation.tatoue}}
            data-dtype="Boolean"/>
    </div>

    <div class="item-control">
        <a class="item-roll" title="Roll Item"><i class="fas fa-dice-d20"></i></a>
    </div>

    <div class="item-control">
        <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
    </div>
    
    <div class="item-control">
        <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>

</li>