<input
    name="data.page.kabbale"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

<img src="systems/neph5e/assets/top-incarnations.webp" style="border:0px;width:814px;height:98px"/>

{{#unless (eq ordonnances 0)}}
<div style="width:100%;margin-top:10px;">
    <div style="margin-left:auto;margin-right:auto;width:100%;display:flex; flex-direction: row; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 25px; font-weight:bold;background-color: transparent;border: 0px;">
        <label style="padding-bottom:3px; border: none; background-color: transparent; width:100%; text-align: center;">{{monde}}</label>
    </div>
</div>

<ol class="item-list" style="margin-top:-35px;margin-bottom:20px;">

    <div style="display:flex; flex-direction:row; justify-content: center;">
        <div class="circle" style="flex-basis: 40px;flex-grow: 0;flex-shrink: 0;">
            <div class="circleContent">{{ordonnances}}</div>
        </div>
        <div style="width:100%; margin-left: 20px;display:flex; flex-direction:row; margin-top:10px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
            <div class="item-name" style="width:100%;padding-left:5px;">
                <span>{{localize "NEPH5E.ordonnances"}}</span>
            </div>
        </div>
    </div>

    {{#each data.kabbale.voie.ordonnances as |ordonnance|}}
        {{#with (getItem ordonnance.refid)}}
        <li class="item" style="height:17px;display:flex; flex-direction:row;align-items: center;" data-item-id="{{ordonnance.refid}}" data-item-science="kabbale" data-item-collection="voie.ordonnances">

            <div class="item-control">
                <a class="item-delete"><i class="fas fa-trash"></i></a>
            </div>

            <input
                name="data.kabbale.voie.ordonnances.[{{@index}}].refid"
                type="hidden"
                value="{{ordonnance.refid}}"
                data-dtype="String"/>

            {{#with (getItem ordonnance.refid)}}
            <div class="item-name edit-ordonnance" style="margin-left:20px;">
                <span data-item-id="{{ordonnance.refid}}">{{name}}</span>
            </div>
            {{/with}}

        </li>
        {{/with}}
    {{/each}}

</ol>
{{/unless}}

<ol class="item-list" style="margin-top:20ox;">

    {{#with (getScience data.id "malkut") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Malkut" degre=degre useV3=../useV3}}
        {{#each ../data.kabbale.invocations as |invocation|}}
            {{#with (getItem invocation.refid)}}
                {{#if (eq data.data.sephirah "malkut")}}
                    {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "yesod") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Yesod" degre=degre useV3=../useV3}}
        {{#each ../data.kabbale.invocations as |invocation|}}
            {{#with (getItem invocation.refid)}}
                {{#if (eq data.data.sephirah "yesod")}}
                    {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "hod") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Hod" degre=degre useV3=../useV3}}
        {{#each ../data.kabbale.invocations as |invocation|}}
            {{#with (getItem invocation.refid)}}
                {{#if (eq data.data.sephirah "hod")}}
                    {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "netzach") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Netzah" degre=degre useV3=../useV3}}
        {{#each ../data.kabbale.invocations as |invocation|}}
            {{#with (getItem invocation.refid)}}
                {{#if (eq data.data.sephirah "netzach")}}
                    {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "tiphereth") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Tiphereth" degre=degre useV3=../useV3}}
        {{#each ../data.kabbale.invocations as |invocation|}}
            {{#with (getItem invocation.refid)}}
                {{#if (eq data.data.sephirah "tiphereth")}}
                    {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "geburah") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Geburah" degre=degre useV3=../useV3}}
        {{#each ../data.kabbale.invocations as |invocation|}}
            {{#with (getItem invocation.refid)}}
                {{#if (eq data.data.sephirah "geburah")}}
                    {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "chesed") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Chesed" degre=degre useV3=../useV3}}
        {{#each ../data.kabbale.invocations as |invocation|}}
            {{#with (getItem invocation.refid)}}
                {{#if (eq data.data.sephirah "chesed")}}
                    {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "binah") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Binah" degre=degre useV3=../useV3}}
        {{#each ../data.kabbale.invocations as |invocation|}}
            {{#with (getItem invocation.refid)}}
                {{#if (eq data.data.sephirah "chesed")}}
                    {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "chokmah") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Chokmah" degre=degre useV3=../useV3}}
        {{#each ../data.kabbale.invocations as |invocation|}}
            {{#with (getItem invocation.refid)}}
                {{#if (eq data.data.sephirah "chesed")}}
                    {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "kether") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/kabbale/header.hbs" sephirah="Kether" degre=degre useV3=../useV3}}
        {{#each ../data.kabbale.invocations as |invocation|}}
            {{#with (getItem invocation.refid)}}
                {{#if (eq data.data.sephirah "chesed")}}
                    {{> "systems/neph5e/templates/actor/parts/kabbale/invocation.hbs" invocation=invocation useV3=../../useV3}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

</ol>