<li class="item" data-item-id="{{ordonnance.refid}}" data-item-science="kabbale" data-item-collection="voie.ordonnances">

    <input
        name="data.kabbale.voie.ordonnances.[{{@index}}].refid"
        type="hidden"
        value="{{ordonnance.refid}}"
        data-dtype="String"/>

    {{#with (getItem ordonnance.refid)}}
    <div class="item-name">
        <span data-item-id="{{ordonnance.refid}}">{{name}}</span>
    </div>
    {{/with}}

    <div class="item-control">
        <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
    </div>
    
    <div class="item-control">
        <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>

</li>