<div class="section">

    <div class="sectionRow">

        <div class="circleHidden">
            <div class="circleContent"></div>
        </div>

        <div class="sectionTitle">
            <span class="sectionName">{{localize "NEPH5E.attributs"}}</span>
        </div>

    </div>

    <ol class="item-list">

        <li class="item">
            <label class="item-integer">{{actor.initiative}}</label>
            <div class="item-name">
                <span>{{localize "NEPH5E.initiative"}}</span>
            </div>
        </li>

        <li class="item">
            <label class="item-integer">{{actor.mouvement}}</label>
            <div class="item-name">
                <span>{{localize "NEPH5E.mouvement"}}</span>
            </div>
        </li>

        <li class="item">
            <label class="item-integer">{{actor.dommage}}</label>
            <div class="item-name">
                <span>{{localize "NEPH5E.bonusDommage"}}</span>
            </div>
        </li>

        <li class="item">
            <label class="item-integer">{{actor.perspicacite}}</label>
            <div class="item-name">
                <span>{{localize "NEPH5E.perspicacite"}}</span>
            </div>
        </li>

        <li class="item">
            <label class="item-integer">{{actor.recuperation}}</label>
            <div class="item-name">
                <span>{{localize "NEPH5E.recuperation"}}</span>
            </div>
        </li>

        <li class="item">
            <label class="item-integer">{{actor.voile}}</label>
            <div class="item-name">
                <span>{{localize "NEPH5E.voile"}}</span>
            </div>
        </li>

    </ol>

</div>