<div class="chutes">

    <div class="title">
        <span>{{localize "NEPH5E.chutes"}}</span>
    </div>

    <ol class="article">

        {{#with actor.khaiba as |chute|}}
        <li class="item">

            <div class="tooltip">
                <span>{{localize "NEPH5E.khaiba"}}</span>
                {{#if (gt chute.degre 0)}}
                <span class="tooltiptext">{{chute.name}}</span>
                {{/if}}
            </div>

            <div class="degres">

                {{#if (gte chute.degre 1)}}
                <i class="fa-solid fa-circle khaiba" data-id="1"></i>
                {{else}}
                <i class="fa-regular fa-circle khaiba" data-id="1"></i>
                {{/if}}

                {{#if (gte chute.degre 2)}}
                <i class="fa-solid fa-circle khaiba l3" data-id="2"></i>
                {{else}}
                <i class="fa-regular fa-circle khaiba l3" data-id="2"></i>
                {{/if}}

                {{#if (gte chute.degre 3)}}
                <i class="fa-solid fa-circle khaiba l3" data-id="3"></i>
                {{else}}
                <i class="fa-regular fa-circle khaiba l3" data-id="3"></i>
                {{/if}}

                {{#if (gte chute.degre 4)}}
                <i class="fa-solid fa-circle khaiba l3" data-id="4"></i>
                {{else}}
                <i class="fa-regular fa-circle khaiba l3" data-id="4"></i>
                {{/if}}

                {{#if (gte chute.degre 5)}}
                <i class="fa-solid fa-circle khaiba l6" data-id="5"></i>
                {{else}}
                <i class="fa-regular fa-circle khaiba l6" data-id="5"></i>
                {{/if}}

                {{#if (gte chute.degre 6)}}
                <i class="fa-solid fa-circle khaiba l3" data-id="6"></i>
                {{else}}
                <i class="fa-regular fa-circle khaiba l3" data-id="6"></i>
                {{/if}}

                {{#if (gte chute.degre 7)}}
                <i class="fa-solid fa-circle khaiba l3" data-id="7"></i>
                {{else}}
                <i class="fa-regular fa-circle khaiba l3" data-id="7"></i>
                {{/if}}

                {{#if (gte chute.degre 8)}}
                <i class="fa-solid fa-circle khaiba l6r" data-id="8"></i>
                {{else}}
                <i class="fa-regular fa-circle khaiba l6r" data-id="8"></i>
                {{/if}}

                {{#if (gte chute.degre 9)}}
                <i class="fa-solid fa-circle khaiba l3r" data-id="9"></i>
                {{else}}
                <i class="fa-regular fa-circle khaiba l3r" data-id="9"></i>
                {{/if}}

                {{#if (gte chute.degre 10)}}
                <i class="fa-solid fa-circle khaiba l6r" data-id="10"></i>
                {{else}}
                <i class="fa-regular fa-circle khaiba l6r" data-id="10"></i>
                {{/if}}

        </li>
        {{/with}}

        {{#with actor.narcose as |chute|}}
        <li class="item">

            <div class="name">
                <span>{{localize "NEPH5E.narcose"}}</span>
            </div>

            <div class="degres">

                {{#if (gte chute.degre 1)}}
                <i class="fa-solid fa-circle narcose" data-id="1"></i>
                {{else}}
                <i class="fa-regular fa-circle narcose" data-id="1"></i>
                {{/if}}

                {{#if (gte chute.degre 2)}}
                <i class="fa-solid fa-circle narcose l3" data-id="2"></i>
                {{else}}
                <i class="fa-regular fa-circle narcose l3" data-id="2"></i>
                {{/if}}

                {{#if (gte chute.degre 3)}}
                <i class="fa-solid fa-circle narcose l3" data-id="3"></i>
                {{else}}
                <i class="fa-regular fa-circle narcose l3" data-id="3"></i>
                {{/if}}

                {{#if (gte chute.degre 4)}}
                <i class="fa-solid fa-circle narcose l3" data-id="4"></i>
                {{else}}
                <i class="fa-regular fa-circle narcose l3" data-id="4"></i>
                {{/if}}

                {{#if (gte chute.degre 5)}}
                <i class="fa-solid fa-circle narcose l6" data-id="5"></i>
                {{else}}
                <i class="fa-regular fa-circle narcose l6" data-id="5"></i>
                {{/if}}

                {{#if (gte chute.degre 6)}}
                <i class="fa-solid fa-circle narcose l3" data-id="6"></i>
                {{else}}
                <i class="fa-regular fa-circle narcose l3" data-id="6"></i>
                {{/if}}

                {{#if (gte chute.degre 7)}}
                <i class="fa-solid fa-circle narcose l3" data-id="7"></i>
                {{else}}
                <i class="fa-regular fa-circle narcose l3" data-id="7"></i>
                {{/if}}

                {{#if (gte chute.degre 8)}}
                <i class="fa-solid fa-circle narcose l6r" data-id="8"></i>
                {{else}}
                <i class="fa-regular fa-circle narcose l6r" data-id="8"></i>
                {{/if}}

                {{#if (gte chute.degre 9)}}
                <i class="fa-solid fa-circle narcose l3r" data-id="9"></i>
                {{else}}
                <i class="fa-regular fa-circle narcose l3r" data-id="9"></i>
                {{/if}}

                {{#if (gte chute.degre 10)}}
                <i class="fa-solid fa-circle narcose l6r" data-id="10"></i>
                {{else}}
                <i class="fa-regular fa-circle narcose l6r" data-id="10"></i>
                {{/if}}
            
            </div>

        </li>
        {{/with}}

        {{#with actor.ombre as |chute|}}
        <li class="item">

            <div class="name">
                <span>{{localize "NEPH5E.ombre"}}</span>
            </div>

            <div class="degres">

                {{#if (gte chute.degre 1)}}
                <i class="fa-solid fa-circle ombre" data-id="1"></i>
                {{else}}
                <i class="fa-regular fa-circle ombre" data-id="1"></i>
                {{/if}}

                {{#if (gte chute.degre 2)}}
                <i class="fa-solid fa-circle ombre l3" data-id="2"></i>
                {{else}}
                <i class="fa-regular fa-circle ombre l3" data-id="2"></i>
                {{/if}}

                {{#if (gte chute.degre 3)}}
                <i class="fa-solid fa-circle ombre l3" data-id="3"></i>
                {{else}}
                <i class="fa-regular fa-circle ombre l3" data-id="3"></i>
                {{/if}}

                {{#if (gte chute.degre 4)}}
                <i class="fa-solid fa-circle ombre l3" data-id="4"></i>
                {{else}}
                <i class="fa-regular fa-circle ombre l3" data-id="4"></i>
                {{/if}}

                {{#if (gte chute.degre 5)}}
                <i class="fa-solid fa-circle ombre l6" data-id="5"></i>
                {{else}}
                <i class="fa-regular fa-circle ombre l6" data-id="5"></i>
                {{/if}}

                {{#if (gte chute.degre 6)}}
                <i class="fa-solid fa-circle ombre l3" data-id="6"></i>
                {{else}}
                <i class="fa-regular fa-circle ombre l3" data-id="6"></i>
                {{/if}}

                {{#if (gte chute.degre 7)}}
                <i class="fa-solid fa-circle ombre l3" data-id="7"></i>
                {{else}}
                <i class="fa-regular fa-circle ombre l3" data-id="7"></i>
                {{/if}}

                {{#if (gte chute.degre 8)}}
                <i class="fa-solid fa-circle ombre l6r" data-id="8"></i>
                {{else}}
                <i class="fa-regular fa-circle ombre l6r" data-id="8"></i>
                {{/if}}

                {{#if (gte chute.degre 9)}}
                <i class="fa-solid fa-circle ombre l3r" data-id="9"></i>
                {{else}}
                <i class="fa-regular fa-circle ombre l3r" data-id="9"></i>
                {{/if}}

                {{#if (gte chute.degre 10)}}
                <i class="fa-solid fa-circle ombre l6r" data-id="10"></i>
                {{else}}
                <i class="fa-regular fa-circle ombre l6r" data-id="10"></i>
                {{/if}}

            </div>

        </li>
        {{/with}}

        {{#with actor.luneNoire as |chute|}}
        <li class="item">

            <div class="name">
                <span>{{localize "NEPH5E.entropieLunaire"}}</span>
            </div>

            <div class="degres">

                {{#if (gte chute.degre 1)}}
                <i class="fa-solid fa-circle luneNoire" data-id="1"></i>
                {{else}}
                <i class="fa-regular fa-circle luneNoire" data-id="1"></i>
                {{/if}}

                {{#if (gte chute.degre 2)}}
                <i class="fa-solid fa-circle luneNoire l3" data-id="2"></i>
                {{else}}
                <i class="fa-regular fa-circle luneNoire l3" data-id="2"></i>
                {{/if}}

                {{#if (gte chute.degre 3)}}
                <i class="fa-solid fa-circle luneNoire l3" data-id="3"></i>
                {{else}}
                <i class="fa-regular fa-circle luneNoire l3" data-id="3"></i>
                {{/if}}

                {{#if (gte chute.degre 4)}}
                <i class="fa-solid fa-circle luneNoire l3" data-id="4"></i>
                {{else}}
                <i class="fa-regular fa-circle luneNoire l3" data-id="4"></i>
                {{/if}}

                {{#if (gte chute.degre 5)}}
                <i class="fa-solid fa-circle luneNoire l6" data-id="5"></i>
                {{else}}
                <i class="fa-regular fa-circle luneNoire l6" data-id="5"></i>
                {{/if}}

                {{#if (gte chute.degre 6)}}
                <i class="fa-solid fa-circle luneNoire l3" data-id="6"></i>
                {{else}}
                <i class="fa-regular fa-circle luneNoire l3" data-id="6"></i>
                {{/if}}

                {{#if (gte chute.degre 7)}}
                <i class="fa-solid fa-circle luneNoire l3" data-id="7"></i>
                {{else}}
                <i class="fa-regular fa-circle luneNoire l3" data-id="7"></i>
                {{/if}}

                {{#if (gte chute.degre 8)}}
                <i class="fa-solid fa-circle luneNoire l6r" data-id="8"></i>
                {{else}}
                <i class="fa-regular fa-circle luneNoire l6r" data-id="8"></i>
                {{/if}}

                {{#if (gte chute.degre 9)}}
                <i class="fa-solid fa-circle luneNoire l3r" data-id="9"></i>
                {{else}}
                <i class="fa-regular fa-circle luneNoire l3r" data-id="9"></i>
                {{/if}}

                {{#if (gte chute.degre 10)}}
                <i class="fa-solid fa-circle luneNoire l6r" data-id="10"></i>
                {{else}}
                <i class="fa-regular fa-circle luneNoire l6r" data-id="10"></i>
                {{/if}}
            
            </div>

        </li>
        {{/with}}

    </ol>

</div>