<div class="nephilim">

    <div class="left">

        <div class="header">

            <img class="puce"/>

            <img class="separator"/>

            <span class="name">{{localize "NEPH5E.pentacle.nom"}}</span>

        </div>

        <div class="pentacle">

            <img src="systems/neph5e/assets/core/pentacle.webp"/>

            <ol class="elements">

                <li class="element macro air" data-macro="ka" data-id="air">
                    <img class="circle"/>
                    <div class="tooltip">
                        <input
                            name="system.ka.air"
                            type="text"
                            value="{{system.ka.air}}"
                            data-dtype="Number"/>
                        <span class="tooltiptext">{{localize "NEPH5E.air"}}</span>
                    </div>
                    <a class="dice"><i class="fas fa-dice-d20"></i></a>
                </li>

                <li class="element macro eau" data-macro="ka" data-id="eau">
                    <img class="circle"/>
                    <div class="tooltip">
                        <input
                            name="system.ka.eau"
                            type="text"
                            value="{{system.ka.eau}}"
                            data-dtype="Number"/>
                        <span class="tooltiptext">{{localize "NEPH5E.eau"}}</span>
                    </div>
                    <a class="dice"><i class="fas fa-dice-d20"></i></a>
                </li>

                <li class="element macro feu" data-macro="ka" data-id="feu">
                    <img class="circle"/>
                    <div class="tooltip">
                        <input
                            name="system.ka.feu"
                            type="text"
                            value="{{system.ka.feu}}"
                            data-dtype="Number"/>
                        <span class="tooltiptext">{{localize "NEPH5E.feu"}}</span>
                    </div>
                    <a class="dice"><i class="fas fa-dice-d20"></i></a>
                </li>

                <li class="element macro lune" data-macro="ka" data-id="lune">
                    <img class="circle"/>
                    <div class="tooltip">
                        <input
                            name="system.ka.lune"
                            type="text"
                            value="{{system.ka.lune}}"
                            data-dtype="Number"/>
                        <span class="tooltiptext">{{localize "NEPH5E.lune"}}</span>
                    </div>
                    <a class="dice"><i class="fas fa-dice-d20"></i></a>
                </li>

                <li class="element macro terre" data-macro="ka" data-id="terre">
                    <img class="circle"/>
                    <div class="tooltip">
                        <input
                            name="system.ka.terre"
                            type="text"
                            value="{{system.ka.terre}}"
                            data-dtype="Number"/>
                        <span class="tooltiptext">{{localize "NEPH5E.terre"}}</span>
                    </div>
                    <a class="dice"><i class="fas fa-dice-d20"></i></a>
                </li>

            </ol>

        </div>

        <div class="header">

            <img class="puce"/>

            <img class="separator"/>

            <label class="name">{{localize "NEPH5E.chutes"}}</label>

        </div>

        <ol class="chutes">

            {{#with actor.khaiba as |chute|}}
            <li class="chute">

                <label class="name">{{localize "NEPH5E.khaiba"}}{{#if (gt chute.degre 0)}} ({{chute.name}}){{/if}}</label>

                <div class="degres">

                    {{#if (gte chute.degre 1)}}
                    <i class="fa-solid fa-circle khaiba" data-id="1"></i>
                    {{else}}
                    <i class="fa-regular fa-circle khaiba" data-id="1"></i>
                    {{/if}}

                    {{#if (gte chute.degre 2)}}
                    <i class="fa-solid fa-circle khaiba l3" data-id="2"></i>
                    {{else}}
                    <i class="fa-regular fa-circle khaiba l3" data-id="2"></i>
                    {{/if}}

                    {{#if (gte chute.degre 3)}}
                    <i class="fa-solid fa-circle khaiba l3" data-id="3"></i>
                    {{else}}
                    <i class="fa-regular fa-circle khaiba l3" data-id="3"></i>
                    {{/if}}

                    {{#if (gte chute.degre 4)}}
                    <i class="fa-solid fa-circle khaiba l3" data-id="4"></i>
                    {{else}}
                    <i class="fa-regular fa-circle khaiba l3" data-id="4"></i>
                    {{/if}}

                    {{#if (gte chute.degre 5)}}
                    <i class="fa-solid fa-circle khaiba l6" data-id="5"></i>
                    {{else}}
                    <i class="fa-regular fa-circle khaiba l6" data-id="5"></i>
                    {{/if}}

                    {{#if (gte chute.degre 6)}}
                    <i class="fa-solid fa-circle khaiba l3" data-id="6"></i>
                    {{else}}
                    <i class="fa-regular fa-circle khaiba l3" data-id="6"></i>
                    {{/if}}

                    {{#if (gte chute.degre 7)}}
                    <i class="fa-solid fa-circle khaiba l3" data-id="7"></i>
                    {{else}}
                    <i class="fa-regular fa-circle khaiba l3" data-id="7"></i>
                    {{/if}}

                    {{#if (gte chute.degre 8)}}
                    <i class="fa-solid fa-circle khaiba l6r" data-id="8"></i>
                    {{else}}
                    <i class="fa-regular fa-circle khaiba l6r" data-id="8"></i>
                    {{/if}}

                    {{#if (gte chute.degre 9)}}
                    <i class="fa-solid fa-circle khaiba l3r" data-id="9"></i>
                    {{else}}
                    <i class="fa-regular fa-circle khaiba l3r" data-id="9"></i>
                    {{/if}}

                    {{#if (gte chute.degre 10)}}
                    <i class="fa-solid fa-circle khaiba l6r" data-id="10"></i>
                    {{else}}
                    <i class="fa-regular fa-circle khaiba l6r" data-id="10"></i>
                    {{/if}}

            </li>
            {{/with}}

            {{#with actor.narcose as |chute|}}
            <li class="chute">

                <label class="name">{{localize "NEPH5E.narcose"}}</label>

                <div class="degres">

                    {{#if (gte chute.degre 1)}}
                    <i class="fa-solid fa-circle narcose" data-id="1"></i>
                    {{else}}
                    <i class="fa-regular fa-circle narcose" data-id="1"></i>
                    {{/if}}

                    {{#if (gte chute.degre 2)}}
                    <i class="fa-solid fa-circle narcose l3" data-id="2"></i>
                    {{else}}
                    <i class="fa-regular fa-circle narcose l3" data-id="2"></i>
                    {{/if}}

                    {{#if (gte chute.degre 3)}}
                    <i class="fa-solid fa-circle narcose l3" data-id="3"></i>
                    {{else}}
                    <i class="fa-regular fa-circle narcose l3" data-id="3"></i>
                    {{/if}}

                    {{#if (gte chute.degre 4)}}
                    <i class="fa-solid fa-circle narcose l3" data-id="4"></i>
                    {{else}}
                    <i class="fa-regular fa-circle narcose l3" data-id="4"></i>
                    {{/if}}

                    {{#if (gte chute.degre 5)}}
                    <i class="fa-solid fa-circle narcose l6" data-id="5"></i>
                    {{else}}
                    <i class="fa-regular fa-circle narcose l6" data-id="5"></i>
                    {{/if}}

                    {{#if (gte chute.degre 6)}}
                    <i class="fa-solid fa-circle narcose l3" data-id="6"></i>
                    {{else}}
                    <i class="fa-regular fa-circle narcose l3" data-id="6"></i>
                    {{/if}}

                    {{#if (gte chute.degre 7)}}
                    <i class="fa-solid fa-circle narcose l3" data-id="7"></i>
                    {{else}}
                    <i class="fa-regular fa-circle narcose l3" data-id="7"></i>
                    {{/if}}

                    {{#if (gte chute.degre 8)}}
                    <i class="fa-solid fa-circle narcose l6r" data-id="8"></i>
                    {{else}}
                    <i class="fa-regular fa-circle narcose l6r" data-id="8"></i>
                    {{/if}}

                    {{#if (gte chute.degre 9)}}
                    <i class="fa-solid fa-circle narcose l3r" data-id="9"></i>
                    {{else}}
                    <i class="fa-regular fa-circle narcose l3r" data-id="9"></i>
                    {{/if}}

                    {{#if (gte chute.degre 10)}}
                    <i class="fa-solid fa-circle narcose l6r" data-id="10"></i>
                    {{else}}
                    <i class="fa-regular fa-circle narcose l6r" data-id="10"></i>
                    {{/if}}
                
                </div>

            </li>
            {{/with}}

            {{#with actor.ombre as |chute|}}
            <li class="chute">

                <label class="name">{{localize "NEPH5E.ombre"}}</label>

                <div class="degres">

                    {{#if (gte chute.degre 1)}}
                    <i class="fa-solid fa-circle ombre" data-id="1"></i>
                    {{else}}
                    <i class="fa-regular fa-circle ombre" data-id="1"></i>
                    {{/if}}

                    {{#if (gte chute.degre 2)}}
                    <i class="fa-solid fa-circle ombre l3" data-id="2"></i>
                    {{else}}
                    <i class="fa-regular fa-circle ombre l3" data-id="2"></i>
                    {{/if}}

                    {{#if (gte chute.degre 3)}}
                    <i class="fa-solid fa-circle ombre l3" data-id="3"></i>
                    {{else}}
                    <i class="fa-regular fa-circle ombre l3" data-id="3"></i>
                    {{/if}}

                    {{#if (gte chute.degre 4)}}
                    <i class="fa-solid fa-circle ombre l3" data-id="4"></i>
                    {{else}}
                    <i class="fa-regular fa-circle ombre l3" data-id="4"></i>
                    {{/if}}

                    {{#if (gte chute.degre 5)}}
                    <i class="fa-solid fa-circle ombre l6" data-id="5"></i>
                    {{else}}
                    <i class="fa-regular fa-circle ombre l6" data-id="5"></i>
                    {{/if}}

                    {{#if (gte chute.degre 6)}}
                    <i class="fa-solid fa-circle ombre l3" data-id="6"></i>
                    {{else}}
                    <i class="fa-regular fa-circle ombre l3" data-id="6"></i>
                    {{/if}}

                    {{#if (gte chute.degre 7)}}
                    <i class="fa-solid fa-circle ombre l3" data-id="7"></i>
                    {{else}}
                    <i class="fa-regular fa-circle ombre l3" data-id="7"></i>
                    {{/if}}

                    {{#if (gte chute.degre 8)}}
                    <i class="fa-solid fa-circle ombre l6r" data-id="8"></i>
                    {{else}}
                    <i class="fa-regular fa-circle ombre l6r" data-id="8"></i>
                    {{/if}}

                    {{#if (gte chute.degre 9)}}
                    <i class="fa-solid fa-circle ombre l3r" data-id="9"></i>
                    {{else}}
                    <i class="fa-regular fa-circle ombre l3r" data-id="9"></i>
                    {{/if}}

                    {{#if (gte chute.degre 10)}}
                    <i class="fa-solid fa-circle ombre l6r" data-id="10"></i>
                    {{else}}
                    <i class="fa-regular fa-circle ombre l6r" data-id="10"></i>
                    {{/if}}

                </div>

            </li>
            {{/with}}

            {{#with actor.luneNoire as |chute|}}
            <li class="chute">

                <label class="name">{{localize "NEPH5E.entropieLunaire"}}</label>

                <div class="degres">

                    {{#if (gte chute.degre 1)}}
                    <i class="fa-solid fa-circle luneNoire" data-id="1"></i>
                    {{else}}
                    <i class="fa-regular fa-circle luneNoire" data-id="1"></i>
                    {{/if}}

                    {{#if (gte chute.degre 2)}}
                    <i class="fa-solid fa-circle luneNoire l3" data-id="2"></i>
                    {{else}}
                    <i class="fa-regular fa-circle luneNoire l3" data-id="2"></i>
                    {{/if}}

                    {{#if (gte chute.degre 3)}}
                    <i class="fa-solid fa-circle luneNoire l3" data-id="3"></i>
                    {{else}}
                    <i class="fa-regular fa-circle luneNoire l3" data-id="3"></i>
                    {{/if}}

                    {{#if (gte chute.degre 4)}}
                    <i class="fa-solid fa-circle luneNoire l3" data-id="4"></i>
                    {{else}}
                    <i class="fa-regular fa-circle luneNoire l3" data-id="4"></i>
                    {{/if}}

                    {{#if (gte chute.degre 5)}}
                    <i class="fa-solid fa-circle luneNoire l6" data-id="5"></i>
                    {{else}}
                    <i class="fa-regular fa-circle luneNoire l6" data-id="5"></i>
                    {{/if}}

                    {{#if (gte chute.degre 6)}}
                    <i class="fa-solid fa-circle luneNoire l3" data-id="6"></i>
                    {{else}}
                    <i class="fa-regular fa-circle luneNoire l3" data-id="6"></i>
                    {{/if}}

                    {{#if (gte chute.degre 7)}}
                    <i class="fa-solid fa-circle luneNoire l3" data-id="7"></i>
                    {{else}}
                    <i class="fa-regular fa-circle luneNoire l3" data-id="7"></i>
                    {{/if}}

                    {{#if (gte chute.degre 8)}}
                    <i class="fa-solid fa-circle luneNoire l6r" data-id="8"></i>
                    {{else}}
                    <i class="fa-regular fa-circle luneNoire l6r" data-id="8"></i>
                    {{/if}}

                    {{#if (gte chute.degre 9)}}
                    <i class="fa-solid fa-circle luneNoire l3r" data-id="9"></i>
                    {{else}}
                    <i class="fa-regular fa-circle luneNoire l3r" data-id="9"></i>
                    {{/if}}

                    {{#if (gte chute.degre 10)}}
                    <i class="fa-solid fa-circle luneNoire l6r" data-id="10"></i>
                    {{else}}
                    <i class="fa-regular fa-circle luneNoire l6r" data-id="10"></i>
                    {{/if}}
                
                </div>

            </li>
            {{/with}}

        </ol>

    </div>

    <div class="right">

        {{#with actor.arcanes as |items|}}
        {{#unless (isEmptyCollection items)}}
        <div class="header">

            <img class="puce"/>

            <img class="separator"/>

            <label class="name">{{localize "NEPH5E.arcanes"}}</label>

        </div>

        <ol class="arcanes">

            {{#each items as |item|}}
            {{#if (ne item.degre 0)}}
            <li class="macro item arcane" data-macro="item" data-sid="{{item.sid}}">

                <label class="value">{{item.degre}}</label>

                <label class="name open">{{item.name}}</label>

                <a class="dice roll"><i class="fas fa-dice-d20"></i></a>
  
            </li>
            {{/if}}
            {{/each}}

        </ol>

        {{/unless}}
        {{/with}}

        <div class="header">

            <img class="puce"/>

            <img class="separator"/>

            <label class="name">{{localize "NEPH5E.attributs"}}</label>

        </div>

        <ol class="attributs">

            <li class="attribut">
                <label class="value">{{actor.initiative}}</label>
                <div class="name">
                    <label>{{localize "NEPH5E.initiative"}}</label>
                </div>
            </li>

            <li class="attribut">
                <label class="value">{{actor.mouvement}}</label>
                <div class="name">
                    <label>{{localize "NEPH5E.mouvement"}}</label>
                </div>
            </li>

            <li class="attribut">
                <label class="value">{{actor.dommage}}</label>
                <div class="name">
                    <label>{{localize "NEPH5E.bonusDommage"}}</label>
                </div>
            </li>

            <li class="attribut">
                <label class="value">{{actor.perspicacite}}</label>
                <div class="name">
                    <label>{{localize "NEPH5E.perspicacite"}}</label>
                </div>
            </li>

            <li class="attribut">
                <label class="value">{{actor.recuperation}}</label>
                <div class="name">
                    <label>{{localize "NEPH5E.recuperation"}}</label>
                </div>
            </li>

            <li class="attribut">
                <label class="value">{{actor.voile}}</label>
                <div class="name">
                    <label>{{localize "NEPH5E.voile"}}</label>
                </div>
            </li>

        </ol>

        <div class="stase header-with-value">

            <img class="circle"/>

            <input
                class="degre"
                name="system.stase.ka"
                type="text"
                value="{{system.stase.ka}}"
                data-dtype="Number"/>

            <img class="separator"/>

            <input
                class="name"
                name="system.stase.description"
                type="text"
                value="{{system.stase.description}}"
                data-dtype="String"
                placeholder="Stase"/>

        </div>

        {{#with actor.metamorphe as |item|}}
        <div class="header-with-value">

            <img class="circle"/>

            <div class="degre">{{item.size}}</div>

            <img class="separator"/>

            {{#if item}}
            <label class="name">{{item.name}}</label>
            {{else}}
            <label class="name">{{localize "ITEM.TypeMetamorphe"}}</label>
            {{/if}}

        </div>

        <ol class="metamorphoses">

            {{#each item.metamorphoses as |metamorphose|}}
            <li class="metamorphose" data-id="{{../id}}" data-index="{{@index}}">

                <i class="formed fa-circle {{#if metamorphose.formed}}fas{{else}}far{{/if}}" ></i>

                <label class="name {{#unless metamorphose.formed}}grey{{/unless}}">{{metamorphose.name}}</label>

                <i class="visible {{#if metamorphose.formed}}fas {{#if metamorphose.visible}}fa-eye-slash{{else}}fa-eye{{/if}}{{else}}hidden{{/if}}"></i>

            </li>
            {{/each}}

        </ol>
        {{/with}}

    </div>

</div>