{{#with actor.metamorphe as |item|}}
<div class="section">

    <div class="sectionRow">

        <div class="circle">
            <div class="circleContent">{{item.size}}</div>
        </div>

        <div class="sectionTitle">
            {{#if item}}
            <span class="sectionName edit-metamorphe" data-id="{{item.id}}">{{item.name}}</span>
            {{else}}
            <span class="sectionName">{{localize "ITEM.TypeMetamorphe"}}</span>
            {{/if}}
        </div>

    </div>

    <ol class="item-list">
    {{#each item.metamorphoses as |metamorphose|}}

        <li class="item">

            <label class="hand-checkbox formed" data-id="{{../id}}" data-index="{{@index}}">
            {{#if metamorphose.formed}}
            <i class="fas fa-circle"></i>
            {{else}}
            <i class="far fa-circle"></i>
            {{/if}}
            </label>

            {{#if metamorphose.formed}}
            <label class="item-name">{{metamorphose.name}}</label>
            {{else}}
            <label class="item-name" style="color: #a1a1a1;">{{metamorphose.name}}</label>
            {{/if}}

            {{#if metamorphose.formed}}
            <label class="hand-checkbox visible" data-id="{{../id}}" data-index="{{@index}}">
            {{else}}
            <label class="hand-checkbox visible" style="visibility:hidden" data-id="{{../id}}" data-index="{{@index}}">
            {{/if}}
            {{#if metamorphose.visible}}
            <i class="fas fa-eye-slash"></i>
            {{else}}
            <i class="fas fa-eye"></i>
            {{/if}}
            </label>

        </li>

    {{/each}}
    </ol>

</div>
{{/with}}