<div style="position: relative; text-align: center;margin-left:40px;">

    <img src="systems/neph5e/assets/core/pentacle.webp" style="border: 0px;width:380px;height:378px"/>

    <div class="macro" data-id="air" data-sid="air" data-type="ka">
        <div class="tooltip" style="position: absolute; top: 50%; left: 50%; transform: translate(150px, -85px);">
            <input
                style="background-color: transparent; font-size: 20px; font-weight:bold; border: 0px; width: 40px; text-align: center;"
                class="item-integer"
                name="system.ka.air"
                type="text"
                value="{{system.ka.air}}"
                data-dtype="Number"/>
            <span class="tooltiptext">{{localize "NEPH5E.air"}}</span>
        </div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(140px, -80px);">
            <a class="roll-ka" data-element="air" data-scope="actor"><i class="fas fa-dice-d20"></i></a>
        </div>
    </div>

    <div class="macro" data-id="eau" data-sid="eau" data-type="ka">
        <div class="tooltip" style="position: absolute; top: 50%; left: 50%; transform: translate(120px, 140px);">
            <input
                style="background-color: transparent; font-size: 20px; font-weight:bold; border: 0px; width: 40px; text-align: center;"
                class="item-integer"
                name="system.ka.eau"
                type="text"
                value="{{system.ka.eau}}"
                data-dtype="Number"/>
            <span class="tooltiptext">{{localize "NEPH5E.eau"}}</span>
        </div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(110px, 145px);">
            <a class="roll-ka" data-element="eau" data-scope="actor"><i class="fas fa-dice-d20"></i></a>
        </div>
    </div>

    <div class="macro" data-id="feu" data-sid="feu" data-type="ka">
        <div class="tooltip" style="position: absolute; top: 50%; left: 50%; transform: translate(-60px, -180px);">
            <input
                style="background-color: transparent; font-size: 20px; font-weight:bold; border: 0px; width: 40px; text-align: center;"
                class="item-integer"
                name="system.ka.feu"
                type="text"
                value="{{system.ka.feu}}"
                data-dtype="Number"/>
            <span class="tooltiptext">{{localize "NEPH5E.feu"}}</span>
        </div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-70px, -175px);">
            <a class="roll-ka" data-element="feu" data-scope="actor"><i class="fas fa-dice-d20"></i></a>
        </div>
    </div>

    <div class="macro" data-id="lune" data-sid="lune" data-type="ka">
        <div class="tooltip" style="position: absolute; top: 50%; left: 50%; transform: translate(-130px, 150px);">
            <input
                style="background-color: transparent; font-size: 20px; font-weight:bold; border: 0px; width: 40px; text-align: center;"
                class="item-integer"
                name="system.ka.lune"
                type="text"
                value="{{system.ka.lune}}"
                data-dtype="Number"/>
            <span class="tooltiptext">{{localize "NEPH5E.lune"}}</span>
        </div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-140px, 155px);">
            <a class="roll-ka" data-element="lune" data-scope="actor"><i class="fas fa-dice-d20"></i></a>
        </div>
    </div>

    <div class="macro" data-id="terre" data-sid="terre" data-type="ka">
        <div class="tooltip" style="position: absolute; top: 50%; left: 50%; transform: translate(-210px, -20px);">
            <input
                style="background-color: transparent; font-size: 20px; font-weight:bold; border: 0px; width: 40px; text-align: center;"
                class="item-integer"
                name="system.ka.terre"
                type="text"
                value="{{system.ka.terre}}"
                data-dtype="Number"/>
            <span class="tooltiptext">{{localize "NEPH5E.terre"}}</span>
        </div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-220px, -15px);">
            <a class="roll-ka" data-element="terre" data-scope="actor"><i class="fas fa-dice-d20"></i></a>
        </div>
    </div>

</div>