<li 
    {{#if (eq degre 0)}}
    class="item macro focus disabled"
    {{else}}
    class="item macro focus"
    {{/if}}
    data-item-id="{{item.embedded.id}}"
    data-id="{{item.embedded.id}}"
    data-sid="{{item.original.sid}}"
    data-type="formule">

    <div class="item-control">
        <a class="item-delete"><i class="fas fa-trash"></i></a>
    </div>

    <div class="item-name edit-focus" data-id="{{item.original.id}}">
        <span>{{item.original.name}}</span>
    </div>

    {{#unless (or (eq degre 0) (isNull item.embedded.degre))}}
    <label class="item-parameter width-40">
        {{item.embedded.degre}}
    </label>

    <label class="item-parameter width-40">
        <div class="tooltip">
        {{#switch item.original.system.elements.[0]}}
            {{#case 'air'}}<i class="fas fa-wind"></i><span class="tooltiptext">{{localize "NEPH5E.air"}}</span>{{/case}}
            {{#case 'eau'}}<i class="fas fa-water"></i><span class="tooltiptext">{{localize "NEPH5E.eau"}}</span>{{/case}}
            {{#case 'feu'}}<i class="fas fa-fire"></i><span class="tooltiptext">{{localize "NEPH5E.feu"}}</span>{{/case}}
            {{#case 'lune'}}<i class="fas fa-moon"></i><span class="tooltiptext">{{localize "NEPH5E.lune"}}</span>{{/case}}
            {{#case 'luneNoire'}}<i class="fas fa-circle"></i><span class="tooltiptext">{{localize "NEPH5E.luneNoire"}}</span>{{/case}}
            {{#case 'terre'}}<i class="fas fa-seedling"></i><span class="tooltiptext">{{localize "NEPH5E.terre"}}</span>{{/case}}
        {{/switch}}
        </div>
        <div class="tooltip">
        {{#switch item.original.system.elements.[1]}}
            {{#case 'air'}}<i class="fas fa-wind"></i><span class="tooltiptext">{{localize "NEPH5E.air"}}</span>{{/case}}
            {{#case 'eau'}}<i class="fas fa-water"></i><span class="tooltiptext">{{localize "NEPH5E.eau"}}</span>{{/case}}
            {{#case 'feu'}}<i class="fas fa-fire"></i><span class="tooltiptext">{{localize "NEPH5E.feu"}}</span>{{/case}}
            {{#case 'lune'}}<i class="fas fa-moon"></i><span class="tooltiptext">{{localize "NEPH5E.lune"}}</span>{{/case}}
            {{#case 'luneNoire'}}<i class="fas fa-circle"></i><span class="tooltiptext">{{localize "NEPH5E.luneNoire"}}</span>{{/case}}
            {{#case 'terre'}}<i class="fas fa-seedling"></i><span class="tooltiptext">{{localize "NEPH5E.terre"}}</span>{{/case}}
        {{/switch}}
        </div>
    </label>

    <div data-id="{{item.embedded.id}}">
        <input
            class="change-quantite quantite"
            data-id="{{item.embedded.id}}"
            type="number"
            value="{{item.embedded.system.quantite}}"
            data-dtype="Number"/>
    </div>

    <div data-id="{{item.embedded.id}}">
        <input
            class="change-transporte quantite"
            data-id="{{item.embedded.id}}"
            type="number"
            value="{{item.embedded.system.transporte}}"
            data-dtype="Number"/>
    </div>

    <label class="change-focus item-parameter width-40" data-id="{{item.embedded.id}}">
        {{#if item.embedded.system.focus}}
        <i class="fa-solid fa-scroll"></i>
        {{else}}
        <i class="fa-regular fa-scroll"></i>
        {{/if}}
    </label>

    <label class="change-status item-parameter width-80" data-id="{{item.embedded.id}}">{{item.embedded.getStatus}}</label>

    <div class="dice">
        <a class="roll-focus" data-id="{{item.original.id}}"><i class="fas fa-dice-d20"></i></a>
    </div>

    {{/unless}}

</li>