<div class="laboratoire">

    <div class="constructs">

        <div class="construct alambic">

            
            <img class="artefact" src="systems/neph5e/assets/backgrounds/alambic.webp"/>

            <label class="name">{{localize "NEPH5E.alchimie.constructs.alambic"}}</label>

            <select name="system.alchimie.constructs.alambic.degre">
            {{#select degre}}
                {{#each cercles as |name label|}}
                <option value="{{label}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
            </select>

            <div class="elements">

                <img class="pentacle" src="systems/neph5e/assets/core/pentacle.webp"/>

                <div class="element tooltip air">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="system.alchimie.constructs.alambic.air"
                        type="text"
                        value="{{system.alchimie.constructs.alambic.air}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.air"}}</label>
                </div>

                <div class="element tooltip eau">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="system.alchimie.constructs.alambic.eau"
                        type="text"
                        value="{{system.alchimie.constructs.alambic.eau}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.eau"}}</label>
                </div>

                <div class="element tooltip feu">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="system.alchimie.constructs.alambic.feu"
                        type="text"
                        value="{{system.alchimie.constructs.alambic.feu}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.feu"}}</label>
                </div>

                <div class="element tooltip lune">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="system.alchimie.constructs.alambic.lune"
                        type="text"
                        value="{{system.alchimie.constructs.alambic.lune}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.lune"}}</label>
                </div>

                <div class="element tooltip terre">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="system.alchimie.constructs.alambic.terre"
                        type="text"
                        value="{{system.alchimie.constructs.alambic.terre}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.terre"}}</label>
                </div>

            </div>

        </div>

    </div>


</div>