<div class="laboratoire">

    <div class="laboratoires">

        <label class="zone">...</label>

        <ol class="menu">

            {{#each actor.laboratoires as |item|}}         
            <li data-id="{{item.id}}">
               <label class="name">{{item.name}}</label>
            </li>
            {{/each}}

        </ol>

    </div>

    {{#with (laboratoryOwner actor) as |actor|}}    
    <div class="constructs">

        <div class="construct creuset {{#unless actor.system.alchimie.constructs.creuset.active}}disabled{{/unless}}">

            <label class="name">{{localize "NEPH5E.alchimie.constructs.creuset"}}</label>

            <select name="actor.system.alchimie.constructs.creuset.degre">
            {{#select degre}}
                {{#each ../cercles as |name label|}}
                <option value="{{label}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
            </select>

            <div class="elements">

                <img class="pentacle" src="systems/neph5e/assets/core/pentacle.webp"/>

                <div class="element tooltip air">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.creuset.air"
                        type="text"
                        value="{{actor.system.alchimie.constructs.creuset.air}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.air"}}</label>
                </div>

                <div class="element tooltip eau">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.creuset.eau"
                        type="text"
                        value="{{actor.system.alchimie.constructs.creuset.eau}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.eau"}}</label>
                </div>

                <div class="element tooltip feu">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.creuset.feu"
                        type="text"
                        value="{{actor.system.alchimie.constructs.creuset.feu}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.feu"}}</label>
                </div>

                <div class="element tooltip lune">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.creuset.lune"
                        type="text"
                        value="{{actor.system.alchimie.constructs.creuset.lune}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.lune"}}</label>
                </div>

                <div class="element tooltip terre">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.creuset.terre"
                        type="text"
                        value="{{actor.system.alchimie.constructs.creuset.terre}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.terre"}}</label>
                </div>

            </div>

        </div>

        <div class="construct aludel {{#unless actor.system.alchimie.constructs.aludel.active}}disabled{{/unless}}">

            <label class="name">{{localize "NEPH5E.alchimie.constructs.aludel"}}</label>

            <select name="actor.system.alchimie.constructs.aludel.degre">
            {{#select degre}}
                {{#each ../cercles as |name label|}}
                <option value="{{label}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
            </select>

            <div class="elements">

                <img class="pentacle" src="systems/neph5e/assets/core/pentacle.webp"/>

                <div class="element tooltip air">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.aludel.air"
                        type="text"
                        value="{{actor.system.alchimie.constructs.aludel.air}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.air"}}</label>
                </div>

                <div class="element tooltip eau">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.aludel.eau"
                        type="text"
                        value="{{actor.system.alchimie.constructs.aludel.eau}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.eau"}}</label>
                </div>

                <div class="element tooltip feu">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.aludel.feu"
                        type="text"
                        value="{{actor.system.alchimie.constructs.aludel.feu}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.feu"}}</label>
                </div>

                <div class="element tooltip lune">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.aludel.lune"
                        type="text"
                        value="{{actor.system.alchimie.constructs.aludel.lune}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.lune"}}</label>
                </div>

                <div class="element tooltip terre">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.aludel.terre"
                        type="text"
                        value="{{actor.system.alchimie.constructs.aludel.terre}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.terre"}}</label>
                </div>

            </div>

        </div>

        <div class="construct cornue {{#unless actor.system.alchimie.constructs.cornue.active}}disabled{{/unless}}">

            <label class="name">{{localize "NEPH5E.alchimie.constructs.cornue"}}</label>

            <select name="actor.system.alchimie.constructs.cornue.degre">
            {{#select degre}}
                {{#each ../cercles as |name label|}}
                <option value="{{label}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
            </select>

            <div class="elements">

                <img class="pentacle" src="systems/neph5e/assets/core/pentacle.webp"/>

                <div class="element tooltip air">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.cornue.air"
                        type="text"
                        value="{{actor.system.alchimie.constructs.cornue.air}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.air"}}</label>
                </div>

                <div class="element tooltip eau">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.cornue.eau"
                        type="text"
                        value="{{actor.system.alchimie.constructs.cornue.eau}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.eau"}}</label>
                </div>

                <div class="element tooltip feu">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.cornue.feu"
                        type="text"
                        value="{{actor.system.alchimie.constructs.cornue.feu}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.feu"}}</label>
                </div>

                <div class="element tooltip lune">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.cornue.lune"
                        type="text"
                        value="{{actor.system.alchimie.constructs.cornue.lune}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.lune"}}</label>
                </div>

                <div class="element tooltip terre">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.cornue.terre"
                        type="text"
                        value="{{actor.system.alchimie.constructs.cornue.terre}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.terre"}}</label>
                </div>

            </div>

        </div>

        <div class="construct alambic {{#unless actor.system.alchimie.constructs.alambic.active}}disabled{{/unless}}">

            <label class="name">{{localize "NEPH5E.alchimie.constructs.alambic"}}</label>

            <select name="actor.system.alchimie.constructs.alambic.degre">
            {{#select degre}}
                {{#each ../cercles as |name label|}}
                <option value="{{label}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
            </select>

            <div class="elements">

                <img class="pentacle" src="systems/neph5e/assets/core/pentacle.webp"/>

                <div class="element tooltip air">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.alambic.air"
                        type="text"
                        value="{{actor.system.alchimie.constructs.alambic.air}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.air"}}</label>
                </div>

                <div class="element tooltip eau">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.alambic.eau"
                        type="text"
                        value="{{actor.system.alchimie.constructs.alambic.eau}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.eau"}}</label>
                </div>

                <div class="element tooltip feu">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.alambic.feu"
                        type="text"
                        value="{{actor.system.alchimie.constructs.alambic.feu}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.feu"}}</label>
                </div>

                <div class="element tooltip lune">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.alambic.lune"
                        type="text"
                        value="{{actor.system.alchimie.constructs.alambic.lune}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.lune"}}</label>
                </div>

                <div class="element tooltip terre">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.alambic.terre"
                        type="text"
                        value="{{actor.system.alchimie.constructs.alambic.terre}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.terre"}}</label>
                </div>

            </div>

        </div>

        <div class="construct athanor {{#unless actor.system.alchimie.constructs.athanor.active}}disabled{{/unless}}">

            <label class="name">{{localize "NEPH5E.alchimie.constructs.athanor"}}</label>

            <select name="actor.system.alchimie.constructs.athanor.degre">
            {{#select degre}}
                {{#each ../cercles as |name label|}}
                <option value="{{label}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
            </select>

            <div class="elements">

                <img class="pentacle" src="systems/neph5e/assets/core/pentacle.webp"/>

                <div class="element tooltip air">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.athanor.air"
                        type="text"
                        value="{{actor.system.alchimie.constructs.athanor.air}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.air"}}</label>
                </div>

                <div class="element tooltip eau">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.athanor.eau"
                        type="text"
                        value="{{actor.system.alchimie.constructs.athanor.eau}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.eau"}}</label>
                </div>

                <div class="element tooltip feu">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.athanor.feu"
                        type="text"
                        value="{{actor.system.alchimie.constructs.athanor.feu}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.feu"}}</label>
                </div>

                <div class="element tooltip lune">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.athanor.lune"
                        type="text"
                        value="{{actor.system.alchimie.constructs.athanor.lune}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.lune"}}</label>
                </div>

                <div class="element tooltip terre">
                    <img class="circle"/>
                    <input
                        class="degre"
                        name="actor.system.alchimie.constructs.athanor.terre"
                        type="text"
                        value="{{actor.system.alchimie.constructs.athanor.terre}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.terre"}}</label>
                </div>

            </div>

        </div>

        <div class="artefacts">

            <div class="athanor tooltip" data-type="athanor">
                <img src="systems/neph5e/assets/backgrounds/athanor.webp" class="activate {{#unless actor.system.alchimie.constructs.athanor.active}}disabled{{/unless}}"/>
                <label class="tooltiptext">{{localize "NEPH5E.athanor"}}</label>
            </div>

            <div class="alambic tooltip" data-type="alambic">
                <img src="systems/neph5e/assets/backgrounds/alambic.webp" class="activate {{#unless actor.system.alchimie.constructs.alambic.active}}disabled{{/unless}}"/>
                <label class="tooltiptext">{{localize "NEPH5E.alambic"}}</label>
            </div>

            <div class="aludel tooltip" data-type="aludel">
                <img src="systems/neph5e/assets/backgrounds/aludel.webp" class="activate {{#unless actor.system.alchimie.constructs.aludel.active}}disabled{{/unless}}"/>
                <label class="tooltiptext">{{localize "NEPH5E.aludel"}}</label>
            </div>

            <div class="cornue tooltip" data-type="cornue">
                <img src="systems/neph5e/assets/backgrounds/cornue.webp" class="activate {{#unless actor.system.alchimie.constructs.cornue.active}}disabled{{/unless}}"/>
                <label class="tooltiptext">{{localize "NEPH5E.cornue"}}</label>
            </div>

            <div class="creuset tooltip" data-type="creuset">
                <img src="systems/neph5e/assets/backgrounds/creuset.webp" class="activate {{#unless actor.system.alchimie.constructs.creuset.active}}disabled{{/unless}}"/>
                <label class="tooltiptext">{{localize "NEPH5E.creuset"}}</label>
            </div>

        </div>

    </div>
    
{{/with}}
</div>