<div class="materiae">

    <div class="left">

        <div class="header">

            <img class="puce"/>

            <img class="separator"/>

            <span class="name">{{localize "NEPH5E.materiaePrimae"}}</span>

        </div>

        <div class="pentacle">

            <img src="systems/neph5e/assets/core/pentacle.webp"/>

            <div class="element air">
                <img class="circle"/>
                <div class="tooltip">
                    <input
                        name="system.alchimie.primae.air.quantite"
                        type="text"
                        value="{{actor.system.alchimie.primae.air.quantite}}"
                        data-dtype="Number"/>
                    <label class="tooltiptext">{{localize "NEPH5E.air"}}</label>
                </div>
                <label class="maximum">/ {{getMaxMP actor 'air'}}</label>
            </div>

            <div class="element eau">
                <img class="circle"/>
                <div class="tooltip">
                    <input
                        name="system.alchimie.primae.eau.quantite"
                        type="text"
                        value="{{actor.system.alchimie.primae.eau.quantite}}"
                        data-dtype="Number"/>
                    <span class="tooltiptext">{{localize "NEPH5E.eau"}}</span>
                </div>
                <label class="maximum">/ {{getMaxMP actor 'eau'}}</label>
            </div>

            <div class="element feu">
                <img class="circle"/>
                <div class="tooltip">
                    <input
                        name="system.alchimie.primae.feu.quantite"
                        type="text"
                        value="{{actor.system.alchimie.primae.feu.quantite}}"
                        data-dtype="Number"/>
                    <span class="tooltiptext">{{localize "NEPH5E.feu"}}</span>
                </div>
                <label class="maximum">/ {{getMaxMP actor 'feu'}}</label>
            </div>

            <div class="element lune">
                <img class="circle lune"/>
                <div class="tooltip lune">
                    <input
                        name="system.alchimie.primae.lune.quantite"
                        type="text"
                        value="{{actor.system.alchimie.primae.lune.quantite}}"
                        data-dtype="Number"/>                    
                    <span class="tooltiptext">{{localize "NEPH5E.lune"}}</span>
                </div>
                <label class="maximum">/ {{getMaxMP actor 'lune'}}</label>
            </div>

            <div class="element terre">
                <img class="circle"/>
                <div class="tooltip">
                    <input
                        name="system.alchimie.primae.terre.quantite"
                        type="text"
                        value="{{actor.system.alchimie.primae.terre.quantite}}"
                        data-dtype="Number"/>
                    <span class="tooltiptext">{{localize "NEPH5E.terre"}}</span>
                </div>
                <label class="maximum">/ {{getMaxMP actor 'terre'}}</label>
            </div>

        </div>

    </div>

    <div class="right">

        <div class="materiae-primae">

            <div class="header">

                <img class="puce"/>

                <img class="separator"/>

                <label class="name">{{localize "NEPH5E.materiae"}}</label>

            </div>

            <ol class="body">

                {{#each actor.materiae as |item|}}
                <li class="materiae item" data-id="{{item.embedded.id}}">

                    <i class="delete fas fa-trash"></i>

                    <label class="name open">{{item.original.name}}</label>

                    <input
                        class="quantite"
                        type="number"
                        value="{{item.embedded.quantite}}"
                        data-dtype="Number"/>

                    <i class="element fas 
                    {{#switch item.original.element}}
                        {{#case 'air'}}fa-wind{{/case}}
                        {{#case 'eau'}}fa-wate{{/case}}
                        {{#case 'feu'}}fa-fire{{/case}}
                        {{#case 'lune'}}fa-moon{{/case}}
                        {{#case 'luneNoire'}}fa-circle{{/case}}
                        {{#case 'terre'}}fa-seedling{{/case}}
                    {{/switch}}"></i>

                </li>
                {{/each}}

            </ol>

        </div>

        {{#if catalyseurs}}
        <div class="catalyseurs">

            <div class="header">

                <img class="puce"/>

                <img class="separator"/>

                <label class="name">{{localize "NEPH5E.catalyseurs"}}</label>

            </div>

            <ol class="body">

                {{#each actor.catalyseurs as |item|}}
                <li class="catalyseur item" data-id="{{item.embedded.id}}">

                    <i class="delete fas fa-trash"></i>

                    <label class="name open">{{item.original.name}}</label>

                </li>
                {{/each}}

            </ol>


        </div>

    </div>   
    {{/if}}

</div>