<div style="display:flex;flex-direction:row;">

    <div style="flex:auto;margin-right:10px">
        <ol class="item-list">
            <li class="item-list-header" style="margin-bottom:10px">
                <div class="item-name">
                    <span>Dommages physiques</span>
                </div>
                <div class="item-checkbox">
                    <span/>
                </div>
                <div class="item-control">
                    <span/>
                </div>
                <div class="item-checkbox">
                    <span/>
                </div>
            </li>
            <li class="item">
                <div class="item-name">
                    <span>Choc</span>
                </div>
                <input
                    class="item-checkbox"
                    name="data.dommage.physique.choc"
                    type="text"
                    value="{{data.dommage.physique.choc}}"
                    data-dtype="Number"/>
                <div class="item-control">
                    <span>/</span>
                </div>
                <input
                    class="item-checkbox"
                    name="data.dommage.physique.cases"
                    type="text"
                    value="{{data.dommage.physique.cases}}"
                    data-dtype="Number"/>
            </li>
            <li class="item">
                <div class="item-name">
                    <span>Mineure -2</span>
                </div>
                <div class="item-checkbox">
                    <span/>
                </div>
                <div class="item-control">
                    <span/>
                </div>
                <div class="item-checkbox">
                    <input
                        class="item-checkbox" 
                        name="data.dommage.physique.mineure"
                        type="checkbox"
                        {{checked data.dommage.physique.mineure}}
                        data-dtype="Boolean"/>
                </div>
            </li>
            <li class="item">
                <div class="item-name">
                    <span>Sérieuse -4</span>
                </div>
                <div class="item-checkbox">
                    <span/>
                </div>
                <div class="item-control">
                    <span/>
                </div>
                <div class="item-checkbox">
                    <input
                        class="item-checkbox" 
                        name="data.dommage.physique.serieuse"
                        type="checkbox"
                        {{checked data.dommage.physique.serieuse}}
                        data-dtype="Boolean"/>
                </div>
            </li>
            <li class="item">
                <div class="item-name">
                    <span>Grave -6</span>
                </div>
                <div class="item-checkbox">
                    <span/>
                </div>
                <div class="item-control">
                    <span/>
                </div>
                <div class="item-checkbox">
                    <input
                        class="item-checkbox" 
                        name="data.dommage.physique.grave"
                        type="checkbox"
                        {{checked data.dommage.physique.grave}}
                        data-dtype="Boolean"/>
                </div>
            </li>
            <li class="item">
                <div class="item-name">
                    <span>Mortelle</span>
                </div>
                <div class="item-checkbox">
                    <span/>
                </div>
                <div class="item-control">
                    <span/>
                </div>
                <div class="item-checkbox">
                    <input
                        class="item-checkbox" 
                        name="data.dommage.physique.mortelle"
                        type="checkbox"
                        {{checked data.dommage.physique.mortelle}}
                        data-dtype="Boolean"/>
                </div>
            </li>
        </ol>
    </div>

    <div style="flex:auto;margin-right:10px">
        <ol class="item-list">
            <li class="item-list-header" style="margin-bottom:10px">
                <div class="item-name">
                    <span>Dommages magiques</span>
                </div>
                <div class="item-checkbox">
                    <span/>
                </div>
                <div class="item-control">
                    <span/>
                </div>
                <div class="item-checkbox">
                    <span/>
                </div>
            </li>
            <li class="item">
                <div class="item-name">
                    <span>Choc</span>
                </div>
                <input
                    class="item-checkbox"
                    name="data.dommage.magique.choc"
                    type="text"
                    value="{{data.dommage.magique.choc}}"
                    data-dtype="Number"/>
                <div class="item-control">
                    <span>/</span>
                </div>
                <input
                    class="item-checkbox"
                    name="data.dommage.magique.cases"
                    type="text"
                    value="{{data.dommage.magique.cases}}"
                    data-dtype="Number"/>
            </li>
            <li class="item">
                <div class="item-name">
                    <span>Mineure -2</span>
                </div>
                <div class="item-checkbox">
                    <span/>
                </div>
                <div class="item-control">
                    <span/>
                </div>
                <div class="item-checkbox">
                    <input
                        class="item-checkbox" 
                        name="data.dommage.magique.mineure"
                        type="checkbox"
                        {{checked data.dommage.magique.mineure}}
                        data-dtype="Boolean"/>
                </div>
            </li>
            <li class="item">
                <div class="item-name">
                    <span>Sérieuse -4</span>
                </div>
                <div class="item-checkbox">
                    <span/>
                </div>
                <div class="item-control">
                    <span/>
                </div>
                <div class="item-checkbox">
                    <input
                        class="item-checkbox" 
                        name="data.dommage.magique.serieuse"
                        type="checkbox"
                        {{checked data.dommage.magique.serieuse}}
                        data-dtype="Boolean"/>
                </div>
            </li>
            <li class="item">
                <div class="item-name">
                    <span>Grave -6</span>
                </div>
                <div class="item-checkbox">
                    <span/>
                </div>
                <div class="item-control">
                    <span/>
                </div>
                <div class="item-checkbox">
                    <input
                        class="item-checkbox" 
                        name="data.dommage.magique.grave"
                        type="checkbox"
                        {{checked data.dommage.magique.grave}}
                        data-dtype="Boolean"/>
                </div>
            </li>
            <li class="item">
                <div class="item-name">
                    <span>Mortelle</span>
                </div>
                <div class="item-checkbox">
                    <span/>
                </div>
                <div class="item-control">
                    <span/>
                </div>
                <div class="item-checkbox">
                    <input
                        class="item-checkbox" 
                        name="data.dommage.magique.mortelle"
                        type="checkbox"
                        {{checked data.dommage.magique.mortelle}}
                        data-dtype="Boolean"/>
                </div>
            </li>
        </ol>
    </div>

</div>
