<div style="display:flex;flex-direction:row;">

    <div style="flex:auto;margin-right:10px">

        <ol class="item-list">

            <li class="item-list-header" style="margin-bottom:10px">
                <div class="item-name">
                    <span>Armes de mêlée</span>
                </div>
                {{#if ../useCombatSystem}}
                <div class="item-control">
                    </span>
                </div>
                <div class="item-control">
                    </span>
                </div>
                {{/if}}
                <div class="item-control">
                    </span>
                </div>
                <div class="item-control">
                    </span>
                </div>
                <div class="item-control">
                    </span>
                </div>
                <div class="item-control">
                    </span>
                </div>
            </li>

            {{#each actor.items as |item id|}}
            {{#if (eq item.type 'arme')}}
            {{#if (eq item.data.data.skill 'melee')}}
            <li class="item" data-item-id="{{item.id}}" data-item-type="{{item.type}}">

                <div class="item-name edit-arme">
                    <span data-item-id="{{item.id}}">{{item.name}}</span>
                </div>

                {{#if ../useCombatSystem}}
                <div class="item-control tooltip">
                    </span>
                </div>
                <div class="item-control tooltip">
                    </span>
                </div>
                {{/if}}

                <div class="item-control">
                {{#if item.data.data.used}}
                    <i class="fas fa-hand-paper item-use"></i>
                {{else}}
                    <i class="far fa-hand-paper item-use"></i>
                {{/if}}
                </div>

                <div class="item-control">
                    {{#if ../useCombatSystem}}
                    <a class="item-attack"><i class="fas fa-dice-d20"></i></a>
                    {{else}}
                    <a class="item-roll"><i class="fas fa-dice-d20"></i></a>
                    {{/if}}
                </div>

                <div class="item-control">
                    <a class="item-delete"><i class="fas fa-trash"></i></a>
                </div>

            </li>
            {{/if}}
            {{/if}}
            {{/each}}

        </ol>

        <ol class="item-list">

            <li class="item-list-header" style="margin-bottom:10px">
                <div class="item-name">
                    <span>Armes à distance</span>
                </div>
                {{#if ../useCombatSystem}}
                <div class="item-control">
                    </span>
                </div>
                <div class="item-control">
                    </span>
                </div>
                {{/if}}
                <div class="item-control">
                    </span>
                </div>
                <div class="item-control">
                    </span>
                </div>
                <div class="item-control">
                    </span>
                </div>
                <div class="item-control">
                    </span>
                </div>
            </li>

            {{#each actor.items as |item id|}}
            {{#if (eq item.type 'arme')}}
            {{#if (ne item.data.data.skill 'melee')}}
            <li class="item" data-item-id="{{item.id}}" data-item-type="{{item.type}}">

                <div class="item-name edit-arme">
                    <span data-item-id="{{item.id}}">{{item.name}}</span>
                </div>

                {{#if ../useCombatSystem}}
                <div class="item-control tooltip">
                    <a class="item-reload" title="Reload"><i class="fas fa-spinner"></i></a>
                    <span class="tooltiptext">{{item.data.data.ranged.utilise}} / {{item.data.data.ranged.munitions}}</span>
                </div>
                <div class="item-control tooltip">
                    <a class="item-aim" title="Aim"><i class="fas fa-crosshairs"></i></a>
                    <span class="tooltiptext">{{item.data.data.ranged.visee}} / 3</span>
                </div>
                {{/if}}

                <div class="item-control">
                {{#if item.data.data.used}}
                    <i class="fas fa-hand-paper item-use"></i>
                {{else}}
                    <i class="far fa-hand-paper item-use"></i>
                {{/if}}
                </div>

                <div class="item-control">
                    {{#if ../useCombatSystem}}
                    <a class="item-attack"><i class="fas fa-dice-d20"></i></a>
                    {{else}}
                    <a class="item-roll"><i class="fas fa-dice-d20"></i></a>
                    {{/if}}
                </div>

                <div class="item-control">
                    <a class="item-delete"><i class="fas fa-trash"></i></a>
                </div>

            </li>
            {{/if}}
            {{/if}}
            {{/each}}

        </ol>

    </div>

    {{#if useCombatSystem}}
    <div style="flex: auto;margin-right:10px">

        <ol class="item-list">

            <li class="item-list-header" style="margin-bottom:10px">
                <div class="item-name">
                    <span>Armure</span>
                </div>
                <div class="item-control">
                    </span>
                </div>
                <div class="item-control">
                    </span>
                </div>
            </li>

            {{#each actor.items as |item id|}}
            {{#if (eq item.data.type 'armure')}}
            <li class="item" data-item-id="{{item.id}}" data-item-type="{{item.type}}">

                <div class="item-name edit-armure">
                    <span data-item-id="{{item.id}}">{{item.name}}</span>
                </div>

                <div class="item-control">
                {{#if item.data.data.used}}
                    <i class="fas fa-hand-paper item-use"></i>
                {{else}}
                    <i class="far fa-hand-paper item-use"></i>
                {{/if}}
                </div>

                <div class="item-control">
                    <a class="item-delete"><i class="fas fa-trash"></i></a>
                </div>

            </li>
            {{/if}}
            {{/each}}

        </ol>

        <ol class="item-list">
            <li class="item-list-header" style="margin-bottom:10px">
                <div class="item-name">
                    <span>Actions</span>
                </div>
                <div class="item-control">
                    </span>
                </div>
            </li>
            <li class="item">
                <div class="item-name">
                    <span>Manoeuvres</span>
                </div>
                 <div class="item-control">
                    <a class="item-move"><i class="fas fa-dice-d20"></i></a>
                </div>
            </li>
            <li class="item">
                <div class="item-name">
                    <span>Mains nues</span>
                </div>
                 <div class="item-control">
                    <a class="item-wrestle"><i class="fas fa-dice-d20"></i></a>
                </div>
            </li>
        </ol>
    
    </div>
    {{/if}}

</div>
