<input
    name="data.page.conjuration"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

<div class="cercles">

    <div class="cercle">
        <label class="cercle-name">{{localize "NEPH5E.conjuration.cercles.charmeur"}}</label>
        <label class="cercle-tag"/>
        <label class="cercle-value">{{getScience data.id "charmeur"}}</label>
    </div>

    <div class="cercle">
        <label class="cercle-name">{{localize "NEPH5E.conjuration.cercles.dresseur"}}</label>
        <label class="cercle-tag"/>
        <label class="cercle-value">{{getScience data.id "dresseur"}}</label>
    </div>

    <div class="cercle">
        <label class="cercle-name">{{localize "NEPH5E.conjuration.cercles.demiurge"}}</label>
        <label class="cercle-tag"/>
        <label class="cercle-value">{{getScience data.id "demiurge"}}</label>
    </div>

</div>

<ol class="item-list">

    {{> "systems/neph5e/templates/actor/parts/conjuration/header.hbs" cercle="Charmeur"}}

    {{#each data.conjuration.appels as |appel|}}
        {{#with (getItem appel.refid)}}
            {{#if (eq data.data.cercle "charmeur")}}
                {{> "systems/neph5e/templates/actor/parts/conjuration/appel.hbs" appel=appel}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{> "systems/neph5e/templates/actor/parts/conjuration/header.hbs" cercle="Dresseur"}}

    {{#each data.conjuration.appels as |appel|}}
        {{#with (getItem appel.refid)}}
            {{#if (eq data.data.cercle "dresseur")}}
                {{> "systems/neph5e/templates/actor/parts/conjuration/appel.hbs" appel=appel}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{> "systems/neph5e/templates/actor/parts/conjuration/header.hbs" cercle="Démiurge"}}

    {{#each data.conjuration.appels as |appel|}}
        {{#with (getItem appel.refid)}}
            {{#if (eq data.data.cercle "demiurge")}}
                {{> "systems/neph5e/templates/actor/parts/conjuration/appel.hbs" appel=appel}}
            {{/if}}
        {{/with}}
    {{/each}}

</ol>