<input
    name="data.page.conjuration"
    type="hidden"
    value="true"
    data-dtype="Boolean"/>

<img src="systems/neph5e/assets/top-incarnations.webp" style="border:0px;width:814px;height:98px"/>

<ol class="item-list">

    {{#with (getScience data.id "charmeur") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/conjuration/header.hbs" cercle="Charmeur" degre=degre degre=degre useV3=../useV3}}
        {{#each ../data.conjuration.appels as |appel|}}
            {{#with (getItem appel.refid)}}
                {{#if (eq data.data.cercle "charmeur")}}
                    {{> "systems/neph5e/templates/actor/parts/conjuration/appel.hbs" appel=appel}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "dresseur") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/conjuration/header.hbs" cercle="Dresseur" degre=degre degre=degre useV3=../useV3}}
        {{#each ../data.conjuration.appels as |appel|}}
            {{#with (getItem appel.refid)}}
                {{#if (eq data.data.cercle "dresseur")}}
                    {{> "systems/neph5e/templates/actor/parts/conjuration/appel.hbs" appel=appel}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

    {{#with (getScience data.id "demiurge") as |degre|}}
    {{#unless (eq degre 0)}}
        {{> "systems/neph5e/templates/actor/parts/conjuration/header.hbs" cercle="Démiurge" degre=degre degre=degre useV3=../useV3}}
        {{#each ../data.conjuration.appels as |appel|}}
            {{#with (getItem appel.refid)}}
                {{#if (eq data.data.cercle "demiurge")}}
                    {{> "systems/neph5e/templates/actor/parts/conjuration/appel.hbs" appel=appel}}
                {{/if}}
            {{/with}}
        {{/each}}
    {{/unless}}
    {{/with}}

</ol>
<!--
<div class="cercles">

    <div class="cercle">
        <label class="cercle-name">{{localize "NEPH5E.conjuration.cercles.charmeur"}}</label>
        <label class="cercle-tag"/>
        <label class="cercle-value">{{getScience data.id "charmeur"}}</label>
    </div>

    <div class="cercle">
        <label class="cercle-name">{{localize "NEPH5E.conjuration.cercles.dresseur"}}</label>
        <label class="cercle-tag"/>
        <label class="cercle-value">{{getScience data.id "dresseur"}}</label>
    </div>

    <div class="cercle">
        <label class="cercle-name">{{localize "NEPH5E.conjuration.cercles.demiurge"}}</label>
        <label class="cercle-tag"/>
        <label class="cercle-value">{{getScience data.id "demiurge"}}</label>
    </div>

</div>

<ol class="item-list">

    {{> "systems/neph5e/templates/actor/parts/conjuration/header.hbs" cercle="Charmeur"}}

    {{#each data.conjuration.appels as |appel|}}
        {{#with (getItem appel.refid)}}
            {{#if (eq data.data.cercle "charmeur")}}
                {{> "systems/neph5e/templates/actor/parts/conjuration/appel.hbs" appel=appel}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{> "systems/neph5e/templates/actor/parts/conjuration/header.hbs" cercle="Dresseur"}}

    {{#each data.conjuration.appels as |appel|}}
        {{#with (getItem appel.refid)}}
            {{#if (eq data.data.cercle "dresseur")}}
                {{> "systems/neph5e/templates/actor/parts/conjuration/appel.hbs" appel=appel}}
            {{/if}}
        {{/with}}
    {{/each}}

    {{> "systems/neph5e/templates/actor/parts/conjuration/header.hbs" cercle="Démiurge"}}

    {{#each data.conjuration.appels as |appel|}}
        {{#with (getItem appel.refid)}}
            {{#if (eq data.data.cercle "demiurge")}}
                {{> "systems/neph5e/templates/actor/parts/conjuration/appel.hbs" appel=appel}}
            {{/if}}
        {{/with}}
    {{/each}}

</ol>
-->