<form class="chat">

    <div class="side-background"></div>

    <div class="border-top"></div>

    <div class="side">

        <img class="chat-sender" src="{{actor.img}}" />

        <img class="chat-receiver" src="{{img}}" />

    </div>

    <div class="content">

        <label class="chat-sentence">{{richSentence}}</label>

        {{#if (nonNull difficulty)}}
        <div class="chat-roll">

            <i class="fa-solid fa-dice-d20"></i>

            <label>{{total}}</label>

            {{#if (nonNull impact)}}
            <i class="fas fa-heart-broken"></i>
            <label> {{impact}}</label>
            {{/if}}

        </div>
        {{/if}}


        {{#if (nonNull result)}}
        <label class="chat-result">{{actor.name}} {{result}}</label>
        {{/if}}

    </div>

</form>