<form class="action">
{{log .}}
    <div class="header">
        <img class="actor" src="{{actor.img}}"/>
        <span class="sentence">{{sentence}}</span>
        <img class="target" src="{{img}}"/>
    </div>

    <div class="body">

        <div class="roll">

            <div class="type">
            {{#if opposed}}

                <span>{{localize 'NEPH5E.jetOpposition'}}</span>

            {{else}}

                {{#switch type}}
                {{#case 'none'}}
                <select id="rollType" name="rollType">
                    <option value="simple">{{localize 'NEPH5E.jetSimple'}}</option>
                    <option value="opposed">{{localize 'NEPH5E.jetOppose'}}</option>
                </select>
                {{/case}}
                {{#case 'simple'}}
                <select id="rollType" name="rollType" disabled>
                    <option value="simple">{{localize 'NEPH5E.jetSimple'}}</option>
                </select>
                {{/case}}
                {{#case 'opposed'}}
                <select id="rollType" name="rollType" disabled>
                    <option value="opposed">{{localize 'NEPH5E.jetOppose'}}</option>
                </select>
                {{/case}}
                {{/switch}}

            {{/if}}
            </div>

            {{#if (eq item.system.element 'choix')}}
            <label>Elément:</label>
            <select id="element" name="element">
                <option value='air'>{{localize "NEPH5E.air"}}</option>
                <option value='eau'>{{localize 'NEPH5E.eau'}}</option>
                <option value='feu'>{{localize 'NEPH5E.feu'}}</option>
                <option value='lune'>{{localize 'NEPH5E.lune'}}</option>
                <option value='terre'>{{localize 'NEPH5E.terre'}}</option>
            </select>
            {{/if}}

            <div class="dice">

                <div class="item-control">
                    <a id="roll"><i class="fas fa-dice-d20"></i></a>
                </div>

            </div>

        </div>

        <table class="table">

            <tr>
                <td class="base-name"></td>
                <td class="value" id="difficulty">{{difficulty}}</td>
                <td class="percentage"></td>
            </tr>

            <tr>
                <td class="base-name">{{base.name}}</td>
                <td class="value" id="base">{{base.difficulty}}</td>
                <td class="percentage">%</td>
            </tr>

            <tr>
                <td class="modifier">Modificateur</td>
                <td class="value">
                    {{#if (eq (getSystemOption 'modifierPolicy') 'clavier')}}
                    <input id="modifier" type="Number" value="0"/>
                    {{/if}}
                    {{#if (eq (getSystemOption 'modifierPolicy') 'liste')}}
                    <select id="modifier">
                        <option value="50">50</option>
                        <option value="40">40</option>
                        <option value="30">30</option>
                        <option value="20">20</option>
                        <option value="10">10</option>
                        <option value="0" selected>0</option>
                        <option value="-10">-10</option>
                        <option value="-20">-20</option>
                        <option value="-30">-30</option>
                        <option value="-40">-40</option>
                        <option value="-50">-50</option>
                    </select>
                    {{/if}}
                    {{#if (eq (getSystemOption 'modifierPolicy') 'slider')}}
                    <div class="slider">
                        <input id="modifier" class="slider" type="range" min="-50" max="50" step="10" value="0"/>
                        <label id="sliderModifier">0</label>
                    </div>
                    {{/if}}
                </td>
                <td class="percentage">%</td>
            </tr>

            {{#unless opposed}}
            {{#unless (eq fraternite 0)}}
            <tr>
                <td>
                    <select id="fraternite" name="fraternite">
                        <option value="ignore">{{localize 'NEPH5E.ignorerFraternite'}}</option>
                        <option value="apply">{{localize 'NEPH5E.appliquerFraternite'}}</option>
                    </select>
                </td>
                <td class="value" id="fraterniteModifier">0</td>
                <td class="percentage">%</td>
            </tr>
            {{/unless}}

            {{#unless (eq blessures 0)}}
            <tr>
                <td>
                    <select id="blessures" name="blessures">
                        <option value="apply">{{localize 'NEPH5E.appliquerBlessures'}}</option>
                        <option value="ignore">{{localize 'NEPH5E.ignorerBlessures'}}</option>
                    </select>
                </td>
                <td class="value" id="blessuresModifier">{{blessures}}</td>
                <td class="percentage">%</td>
            </tr>
            {{/unless}}

            {{#if (nonNull approches)}}
            <tr>
                <td>
                    <select id="approche" name="approche">
                        {{#each approches as |approche|}}
                        <option value="{{approche.name}}">{{approche.label}}</option>
                        {{/each}}
                    </select>
                </td>
                <td class="value" id="approcheModifier">0</td>
                <td class="percentage">%</td>
            </tr>
            {{/if}}

            {{#if (nonNull metamorphe)}}
            <tr>
                <td>
                    <select id="metamorphe" name="metamorphe">
                        <option value="ignore">{{localize 'NEPH5E.ignorerMetamorphe'}}</option>
                        <option value="apply">{{localize 'NEPH5E.appliquerMetamorphe'}}</option>
                    </select>
                </td>
                <td class="value" id="metamorpheModifier">0</td>
                <td class="percentage">%</td>
            </tr>
            {{/if}}
            {{/unless}}

        </table>
    
    </div>

</form>