<form class="chat">

    <img class="chat-sender" src="{{actor.img}}" />

    <div class="border-top"></div>

    <div class="chat-purpose">

        <label class="chat-sentence">{{richSentence}}</label>

        <img class="chat-receiver" src="{{img}}" />

    </div>

    <!--
    {{#if (nonNull difficulty)}}
    <div class="chat-dice">
        <i class="fa-solid fa-dice-d20"></i>
        <label>{{total}}</label>
        {{#if (nonNull impact)}}
        <i class="fas fa-heart-broken"></i>
        <label> {{impact}}</label>
        {{/if}}
    </div>
    {{/if}}

    {{#if (nonNull result)}}
    <div class="chat-result">
        <label>{{actor.name}} {{result}}</label>
    </div>
    {{/if}}
    -->

</form>