<form class="chat">

    <div class="chat-body" style="margin-top:20px">
        <i class="fa-sharp fa-solid fa-dice-d20"></i>
        <span>{{total}}</span>
        {{#unless (isNull absorption)}}
            {{#if (nonNull absorption.modifier)}}
                <i class="fas fa-shield" style="margin-left:30px;margin-right:5px"></i>
                <span> {{absorption.modifier}}</span>
            {{else}}
                <i class="fas fa-heart-broken" style="margin-left:30px;margin-right:5px"></i>
                <i class="fa-sharp fa-solid fa-right" style="margin-right:5px"></i>
                <span> {{absorption.fix}}</span>
            {{/if}}
        {{/unless}}
    </div>

    {{#unless (isEmptyString effects)}}
    <div style="text-align: center;margin-bottom:20px">{{effects}}</div>
    {{/unless}}

    <div class="chat-header">
        <img class="chat-image" src="{{actor.img}}" />
        <span class="chat-title">{{actor.name}} {{sentence}}</span>
        <img class="chat-image" src="{{img}}" />
    </div>

</form>