<form class="chat">

    <div class="chat-body opposition">

        <i class="fa-solid fa-dice-d20"></i>
        <span>{{total}}</span>

        {{#unless (isNull absorption)}}
        {{#if (nonNull absorption.modifier)}}
        <i class="fas fa-shield opposition"></i>
        <span> {{absorption.modifier}}</span>
        {{else}}
        <i class="fas fa-heart-broken opposition"></i>
        <i class="fa-solid fa-right opposition"></i>
        <span> {{absorption.fix}}</span>
        {{/if}}
        {{/unless}}

    </div>

    {{#unless (isEmptyString effects)}}
    <div class="effects">{{effects}}</div>
    {{/unless}}

    <div class="chat-header">
        <img class="chat-image" src="{{actor.img}}" />
        <span class="chat-title">{{actor.name}} {{sentence}}</span>
        <img class="chat-image" src="{{img}}" />
    </div>

</form>