<form class="reaction">

    <div class="header">
        <img class="actor" src="{{actor.img}}"/>
        <span class="sentence">{{sentence}}</span>
        <img class="target" src="{{img}}"/>
    </div>

    <div class="roll">

        <span id="difficulty">{{difficulty}}%</span>

        <div class="item-control">
            <a id="roll"><i class="fas fa-dice-d20"></i></a>
        </div>

        <div class="type">
            <span>{{localize 'NEPH5E.jetOpposition'}}</span>
        </div>

    </div>

    <table class="table">

        <tr>
            <td class="base-name">{{base.name}}</th>
            <td class="value" id="base">{{base.difficulty}}</th>
            <td class="percentage">%</td>
        </tr>

        <tr>
            <td class="modifier">Modificateur</td>
            <td class="value">
                {{#if (eq (getSystemOption 'modifierPolicy') 'clavier')}}
                <input id="modifier" type="Number" value="0"/>
                {{/if}}
                {{#if (eq (getSystemOption 'modifierPolicy') 'liste')}}
                <select id="modifier">
                    <option value="50">50</option>
                    <option value="40">40</option>
                    <option value="30">30</option>
                    <option value="20">20</option>
                    <option value="10">10</option>
                    <option value="0">0</option>
                    <option value="-10">-10</option>
                    <option value="-20">-20</option>
                    <option value="-30">-30</option>
                    <option value="-40">-40</option>
                    <option value="-50">-50</option>
                </select>
                {{/if}}
                {{#if (eq (getSystemOption 'modifierPolicy') 'slider')}}
                <div class="slider">
                    <input id="modifier" class="slider" type="range" min="-50" max="50" step="10" value="0"/>
                    <label id="sliderModifier">0</label>
                </div>
                {{/if}}
            </td>
            <td class="percentage">%</td>
        </tr>

    </table>

</form>