<form class="reaction">

    <div class="header">
        <img class="actor" src="{{actor.img}}"/>
        <span class="sentence">{{sentence}}</span>
        <img class="target" src="{{img}}"/>
    </div>

    <div class="roll">

        <span id="difficulty">{{difficulty}}%</span>

        <div class="item-control">
            <a id="roll"><i class="fas fa-dice-d20"></i></a>
        </div>

        <div class="type">
            <span>{{localize 'NEPH5E.jetOpposition'}}</span>
        </div>

    </div>

    <table class="table">

        <tr>
            <td class="base-name">{{base.name}}</th>
            <td class="value" id="base">{{base.difficulty}}</th>
            <td class="percentage">%</td>
        </tr>

        <tr>
            <td class="modifier">Modificateur</td>
            <td class="value">
                <input id="modifier" type="Number" value="0"/>
            </td>
            <td class="percentage">%</td>
        </tr>

    </table>

</form>