<li class="item" data-item-id="{{formule.refid}}" data-item-science="alchimie" data-item-collection="formules">

    <input
        name="data.alchimie.formules.[{{@index}}].refid"
        type="hidden"
        value="{{formule.refid}}"
        data-dtype="String"/>

    {{#with (getItem formule.refid)}}
    <div class="item-name edit-formule">
        <span data-item-id="{{formule.refid}}">{{name}}</span>
    </div>
    {{/with}}

    <div class="item-integer">
        <input
            name="data.alchimie.formules.[{{@index}}].quantite"
            type="text"
            value="{{formule.quantite}}"
            data-dtype="Number"/>
    </div>

    <div class="item-integer">
        <input
            name="data.alchimie.formules.[{{@index}}].transporte"
            type="text"
            value="{{formule.transporte}}"
            data-dtype="Number"/>
    </div>

    <div class="item-checkbox"> 
        <input
            type="checkbox"
            name="data.alchimie.formules.[{{@index}}].focus"
            {{checked formule.focus}}
            data-dtype="Boolean"/>
    </div>

    <div class="item-checkbox"> 
        <input
            type="checkbox"
            name="data.alchimie.formules.[{{@index}}].appris"
            {{checked formule.appris}}
            data-dtype="Boolean"/>
    </div>

    <div class="item-checkbox">
        <input
            type="checkbox"
            name="data.alchimie.formules.[{{@index}}].tatoue"
            {{checked formule.tatoue}}
            data-dtype="Boolean"/>
    </div>

    <div class="item-control">
        <a class="item-roll"><i class="fas fa-dice-d20"></i></a>
    </div>
    
    <div class="item-control">
        <a class="item-delete"><i class="fas fa-trash"></i></a>
    </div>

</li>