<li class="item" style="height:17px;display:flex; flex-direction:row;align-items: center;" data-item-id="{{sort.refid}}" data-item-science="magie" data-item-collection="sorts">

    <div class="item-control">
        <a class="item-delete"><i class="fas fa-trash"></i></a>
    </div>

    <input
        name="data.magie.sorts.[{{@index}}].appris"
        type="hidden"
        value="{{sort.appris}}"
        data-dtype="Boolean"/>

    <input
        name="data.magie.sorts.[{{@index}}].tatoue"
        type="hidden"
        value="{{sort.tatoue}}"
        data-dtype="Boolean"/>

    <input
        name="data.magie.sorts.[{{@index}}].refid"
        type="hidden"
        value="{{sort.refid}}"
        data-dtype="String"/>

    {{#with (getItem sort.refid)}}
    <div class="item-name edit-sort" style="margin-left:20px;">
        <span data-item-id="{{sort.refid}}">{{name}}</span>
    </div>
    {{/with}}

    <label class="hand-checkbox" style="flex: 0 0 auto; padding-top:10px; justify-content: center; text-align:center; width:40px;margin-left:10px; margin-right:10px;">
        <input
            class="item-checkbox" 
            name="data.magie.sorts.[{{@index}}].focus"
            type="checkbox"
            {{checked sort.focus}}
            data-dtype="Boolean"/>
        <i class="far fa-circle unchecked"></i>
        <i class="fas fa-circle checked"></i>
    </label>

    <label class="change-sort" style="flex: 0 0 auto; width:80px;margin-left:10px;margin-right:10px;text-align:center;">{{getSortStatus sort}}</label>

    <div class="item-control" style="flex: 0 0 auto; width:18px;margin-left:10px;margin-right:10px;">
        <a class="item-roll"><i class="fas fa-dice-d20"></i></a>
    </div>

</li>