{{#if (eq degre 0)}}
<div class="cercle disabled">
{{else}}
<div class="cercle">
{{/if}}

    <div class="cercle-header">

        <img class="cercle-circle" src="systems/neph5e/assets/core/circle2.webp"/>

        <img class="cercle-separator" src="systems/neph5e/assets/core/separator2.webp"/>
        
        <div class="cercle-degre">{{degre}}</div>

        <div class="cercle-menu">

            <span class="cercle-name">{{cercle}}</span>

            {{#unless (eq degre 0)}}

                <span class="cercle-status">{{localize "NEPH5E.status"}}</span>

                {{#if sciencesOccultes}}
                <a class="cercle-dice roll" data-item="{{cercle-id}}"><i class="fas fa-dice-d20"></i></a>
                {{/if}}

            {{/unless}}

        </div>

    </div>

</div>