<li class="item" data-item-id="{{materiae.refid}}" data-item-type="materiae">

    <input
        name="data.alchimie.materiae.[{{@index}}].refid"
        type="hidden"
        value="{{materiae.refid}}"
        data-dtype="String"/>

    {{#with (getItem materiae.refid)}}
    <div class="item-name">
        <span data-item-id="{{materiae.refid}}">{{name}}</span>
    </div>
    <div class="item-short-string">
        <span>{{data.data.element}}</span>
    </div>
    {{/with}}

    <input
        class="item-integer"
        name="data.alchimie.materiae.[{{@index}}].quantite"
        type="text"
        value="{{materiae.quantite}}"
        data-dtype="Number"/>

    <div class="item-control">
        <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
    </div>
    
    <div class="item-control">
        <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>

</li>