<ol class="item-list">

    <li class="item-list-header">

        <div class="item-name">
            <span>{{localize "ITEM.TypeMateriae"}}</span>
        </div>

        <div class="item-integer">
            <span>{{localize "NEPH5E.pentacle.elements.air"}}</span>
        </div>

        <div class="item-integer">
            <span>{{localize "NEPH5E.pentacle.elements.eau"}}</span>
        </div>

        <div class="item-integer">
            <span>{{localize "NEPH5E.pentacle.elements.feu"}}</span>
        </div>

        <div class="item-integer">
            <span>{{localize "NEPH5E.pentacle.elements.lune"}}</span>
        </div>

        <div class="item-integer">
            <span>{{localize "NEPH5E.pentacle.elements.terre"}}</span>
        </div>

    </li>

    <li class="item">

        <label class="item-name">
            <span/>
        </label>

        <input
            class="item-integer"
            name="data.alchimie.primae.air.quantite"
            type="text"
            value="{{data.alchimie.primae.air.quantite}}"
            data-dtype="Number"/>

        <input
            class="item-integer"
            name="data.alchimie.primae.eau.quantite"
            type="text"
            value="{{data.alchimie.primae.eau.quantite}}"
            data-dtype="Number"/>

        <input
            class="item-integer"
            name="data.alchimie.primae.feu.quantite"
            type="text"
            value="{{data.alchimie.primae.feu.quantite}}"
            data-dtype="Number"/>

        <input
            class="item-integer"
            name="data.alchimie.primae.lune.quantite"
            type="text"
            value="{{data.alchimie.primae.lune.quantite}}"
            data-dtype="Number"/>

        <input
            class="item-integer"
            name="data.alchimie.primae.terre.quantite"
            type="text"
            value="{{data.alchimie.primae.terre.quantite}}"
            data-dtype="Number"/>

    </li>

</ol>