<div class="selenim">

    <div class="left">

        <div class="noyau">

            <div class="header">

                <img class="puce"/>

                <img class="separator"/>

                <span class="name">{{localize "NEPH5E.noyau"}}</span>

            </div>

            <div class="body">

                <img src="systems/neph5e/assets/core/noyau.webp"/>

                <ol class="elements">

                    <li class="element macro pavane" data-macro="ka" data-id="pavane">
                        <img class="circle"/>
                        <a class="dice"><i class="fas fa-dice-d20"></i></a>
                        <div class="tooltip">
                            <input
                                {{#if actor.locked}}disabled{{/if}}
                                name="system.ka.pavane"
                                type="text"
                                value="{{system.ka.pavane}}"
                                data-dtype="Number"/>
                            <span class="tooltiptext">{{localize "NEPH5E.pavane"}}</span>
                        </div>
                    </li>

                    <li class="element macro noyau" data-macro="ka" data-id="noyau">
                        <img class="circle"/>
                        <a class="dice"><i class="fas fa-dice-d20"></i></a>
                        <div class="tooltip">
                            <input
                                {{#if actor.locked}}disabled{{/if}}
                                name="system.ka.noyau"
                                type="text"
                                value="{{system.ka.noyau}}"
                                data-dtype="Number"/>
                            <span class="tooltiptext">{{localize "NEPH5E.noyau"}}</span>
                        </div>
                    </li>

                    <li class="element reserves">
                        <img class="circle"/>
                        <div class="tooltip reserveCourante">
                            <input
                                {{#if actor.locked}}disabled{{/if}}
                                name="system.ka.reserveCourante"
                                type="text"
                                value="{{system.ka.reserveCourante}}"
                                data-dtype="Number"/>
                            <span class="tooltiptext">{{localize "NEPH5E.reserveCourante"}}</span>
                        </div>
                        <label class="separator">/</label>
                        <div class="tooltip reserveMaximale">
                            <input
                                {{#if actor.locked}}disabled{{/if}}
                                name="system.ka.reserve"
                                type="text"
                                value="{{system.ka.reserve}}"
                                data-dtype="Number"/>
                            <span class="tooltiptext">{{localize "NEPH5E.reserveMaximale"}}</span>
                        </div>
                    </li>

                </ol>

            </div>

        </div>

    </div>

    <div class="right">

        <div class="attributs">

            <div class="header">

                <img class="puce"/>

                <img class="separator"/>

                <label class="name">{{localize "NEPH5E.attributs"}}</label>

            </div>

            <ol class="body">

                <li class="attribut">
                    <label class="value">{{actor.initiative}}</label>
                    <div class="name">
                        <label>{{localize "NEPH5E.initiative"}}</label>
                    </div>
                </li>

                <li class="attribut">
                    <label class="value">{{actor.mouvement}}</label>
                    <div class="name">
                        <label>{{localize "NEPH5E.mouvement"}}</label>
                    </div>
                </li>

                <li class="attribut">
                    <label class="value">{{actor.dommage}}</label>
                    <div class="name">
                        <label>{{localize "NEPH5E.bonusDommage"}}</label>
                    </div>
                </li>

                <li class="attribut">
                    <label class="value">{{actor.perspicacite}}</label>
                    <div class="name">
                        <label>{{localize "NEPH5E.perspicacite"}}</label>
                    </div>
                </li>

                <li class="attribut">
                    <label class="value">{{actor.recuperation}}</label>
                    <div class="name">
                        <label>{{localize "NEPH5E.recuperation"}}</label>
                    </div>
                </li>

                <li class="attribut">
                    <label class="value">{{actor.voile}}</label>
                    <div class="name">
                        <label>{{localize "NEPH5E.voile"}}</label>
                    </div>
                </li>

            </ol>

        </div>

        {{#with actor.imago as |item|}}
        <div class="imago">

            <div class="header-with-value">

                <img class="circle"/>

                <label class="degre">{{item.size}}</label>

                <img class="separator"/>

                <label class="name">{{localize "NEPH5E.imago"}}</label>

            </div>

            <ol class="body">

                {{#each item.aspects as |aspect|}}
                <li class="aspect item" data-id="{{aspect.embedded.id}}" data-sid="{{aspect.original.sid}}">

                    <label class="visible fas {{#if aspect.embedded.active}}fa-eye-slash{{else}}fa-eye{{/if}}"></label>

                    <label class="name open">{{aspect.original.name}}</label>

                    <i class="fas fa-trash delete"></i>

                </li>
                {{/each}}

            </ol>

        </div>
        {{/with}}

    </div>

</div>