<form class="flexcol">

    <div class="flexrow" style="flex-grow:0; align-items: center; background-color: rgba(0, 0, 0, 0.2); border-radius: 4px; margin: 10px;">
        <img style="margin: 10px; height: 50px; width: 50px; border: none;flex: 0;" src="{{actor.img}}"/>
        <span style="font-size: 14px;font-style: bold;text-align: center;flex: 1;font-family:'Modesto Condensed','Palatino Linotype','serif';font-size:18px;">{{sentence}}</span>
        {{#unless (isNull img)}}
        <img style="margin: 10px; height: 50px; width: 50px; border: none;flex: 0;" src="{{img}}"/>
        {{/unless}}
    </div>

    <div class="flexrow" style="height:20px;flex-grow:0;">

        <div id="difficulty" style="margin-left:60px;padding-top:4px;text-align:right">{{difficulty}}%</div>
        <div style="margin-left:10px;padding-top: 5px;">
            <a id="roll"><i class="fas fa-dice-d20"></i></a>
        </div>

        <div id="impact" style="margin-left:30px;padding-top:4px;text-align:right">{{impact}}</div>
        <div style="margin-left:10px;padding-top:5px;">
            <i class="fas fa-heart-broken"></i>
        </div>

        <div style="margin-left:40px">

            {{#switch type}}
            {{#case 'none'}}
            <select id="rollType" name="rollType" style="flex: 0 0 auto;width:100px;border:none;outline:0px;background-color:transparent;">
                <option value="opposed">{{localize 'NEPH5E.jetOppose'}}</option>
                <option value="simple">{{localize 'NEPH5E.jetSimple'}}</option>
            </select>
            {{/case}}
            {{#case 'simple'}}
            <select id="rollType" name="rollType" style="flex: 0 0 auto;width:100px;border:none;outline:0px;background-color:transparent;" disabled>
                <option value="simple">{{localize 'NEPH5E.jetSimple'}}</option>
            </select>
            {{/case}}
            {{#case 'opposed'}}
            <select id="rollType" name="rollType" style="flex: 0 0 auto;width:100px;border:none;outline:0px;background-color:transparent;" disabled>
                <option value="opposed">{{localize 'NEPH5E.jetOppose'}}</option>
            </select>
            {{/case}}
            {{/switch}}

        </div>

        <div id="details" class="item-control" style="width:20px; padding-top: 5px;padding-right:20px; margin-left:40px;">
            <span><i class="fas fa-search"></i></span>
        </div>

    </div>

    <table style="table-layout:fixed; margin-top:20px; margin-bottom:20px; margin-left:10px; width:464px;flex-grow:0;">

        <tr style="height:35px;">
            <td style="width:380px;display:flex;flex-direction:row;">
                <select id="manoeuver" name="manoeuver" style="padding-left:15px; border:none; outline:0px; background-color:transparent;">
                    {{#each manoeuvers as |manoeuver|}}
                    {{#if (eq manoeuver.id 'standard')}}
                    <option style="width:140px;" value="{{manoeuver.id}}" selected>{{manoeuver.name}}</option>
                    {{else}}
                    <option style="width:140px;" value="{{manoeuver.id}}">{{manoeuver.name}}</option>
                    {{/if}}
                    {{/each}}
                </select>
            </td>
            <td id="manoeuverModifier" style="width:50px;text-align:right;">0</td>
            <td style="width:34px;text-align: left;">%</td>
        </tr>

        <tr style="height:35px;">
            <td style="width:380px;text-align:left;padding-left:20px;">Modificateur</td>
            <td id="manoeuverModifier" style="width:50px;text-align:right;">
                <input id="modifier" type="Number" value="0" style="text-align:right; margin-right:-3px;border:none; background-color:transparent;"/>
            </td>
            <td style="width:34px;text-align:left;">%</td>
        </tr>

        {{#unless (eq blessures 0)}}
        <tr style="height:35px;">
            <td style="width:380px;">
                <select id="blessures" name="blessures" style="padding-left:15px;border:none;outline:0px;background-color:transparent;">
                    <option value="apply">Appliquer les blessures</option>
                    <option value="ignore">Ignorer les blessures</option>
                </select>
            </td>
            <td id="blessuresModifier" style="width:50px;text-align:right;">{{blessures}}</td>
            <td style="width:34px;text-align:left;">%</td>
        </tr>
        {{/unless}}

        {{#if (nonNull approches)}}
        <tr style="height:35px;">
            <td style="width:380px;">
                <select id="approche" name="approche" style="padding-left:15px;border:none;outline:0px;background-color:transparent;">
                    {{#each approches as |approche|}}
                    <option value="{{approche.name}}">{{approche.label}}</option>
                    {{/each}}
                </select>
            </td>
            <td id="approcheModifier" style="width:50px;text-align:right;">0</td>
            <td style="width:34px;text-align:left;">%</td>
        </tr>
        {{/if}}

        <tr class="hiddable" style="height:35px;display:none;">
            <td id="vecu" style="width:380px;text-align:left;padding-left:20px;">{{base.name}}</td>
            <td id="base" style="width:50px;text-align:right;">{{base.difficulty}}</td>
            <td style="width:34px;text-align:left;">%</td>
        </tr>

        {{#if (nonNull onGround)}}
        <tr class="hiddable" style="height:35px;display:none;">
            <td style="width:380px;text-align:left;padding-left:20px;">{{localize onGround.label}}</td>
            <td style="width:50px;text-align:right;">{{onGround.modifier}}</td>
            <td style="width:34px;text-align:left;">%</td>
        </tr>
        {{/if}}

        {{#if (nonNull foeOnGround)}}
        <tr class="hiddable" style="height:35px;display:none;">
            <td style="width:380px;text-align:left;padding-left:20px;">{{localize foeOnGround.label}}</td>
            <td style="width:50px;text-align:right;">{{foeOnGround.modifier}}</td>
            <td style="width:34px;text-align:left;">%</td>
        </tr>
        {{/if}}

        {{#if (nonNull stunned)}}
        <tr class="hiddable" style="height:35px;display:none;">
            <td style="width:380px;text-align:left;padding-left:20px;">{{localize stunned.label}}</td>
            <td style="width:50px;text-align:right;">{{stunned.modifier}}</td>
            <td style="width:34px;text-align:left;">%</td>
        </tr>
        {{/if}}

        {{#if (and (nonNull weapon) (ne weapon.system.attack 0))}}
        <tr class="hiddable" style="height:35px;display:none;">
            <td style="width:380px;text-align:left;padding-left:20px;">{{weapon.name}}</td>
            <td style="width:50px;text-align:right;">{{weapon.system.attack}}0</td>
            <td style="width:34px;text-align:left;">%</td>
        </tr>
        {{/if}}

    </table>

    <div class="hiddable" style="
        display:flex;
        width:96%;
        height:80px;
        margin: auto;
        font-style:italic;
        border:solid 1px;
        border-radius:4px;
        padding:10px;">
        <p id="description" style="margin:auto;text-align:center;">{{localize "NEPH5E.manoeuvres.standard.description"}}</p>
    </div>

</form>