<form class="combat">

    <div class="header">
        <img src="{{actor.img}}"/>
        <span>{{sentence}}</span>
        {{#unless (isNull img)}}
        <img src="{{img}}"/>
        {{/unless}}
    </div>

    <div class="body">

        <div class="roll">

            <div class="parameters">

                <div class="absorption">
                    <div id="absorption">1 </div>
                    <div class="shield">
                        <i class="fas fa-shield"></i>
                    </div>
                </div>

                <div class="type">
                    <select id="rollType" name="rollType" disabled>
                        <option value="opposed">{{localize 'NEPH5E.jetOppose'}}</option>
                    </select>
                </div>

                <div id="details" class="item-control">
                    <span><i class="fas fa-search"></i></span>
                </div>

            </div>

            <div class="dice">
                <a id="roll"><i class="fas fa-dice-d20"></i></a>
                <label id="difficulty">{{difficulty}}%</label>
            </div>

        </div>

        <div class="lines">

            {{#unless (isEmptyCollection manoeuvers)}}
            <div class="line">
                <div class="line-title">
                    <select id="manoeuver" name="manoeuver">
                        {{#each manoeuvers as |manoeuver|}}
                        <option
                            {{#if (eq manoeuver.id 'eviter')}}
                            selected
                            {{/if}}
                            value="{{manoeuver.id}}">{{manoeuver.name}}</option>
                        {{/each}}
                    </select>
                    <div id='times'>
                        <i id='shot-1' class='fa-solid fa-shield checked'></i>
                        <label class='dommage-checkbox' id='shot-2'> 
                            <input class='item-checkbox' id='shot2' type='checkbox' data-dtype='Boolean'/>
                            <i class="fa-regular fa-shield unchecked"></i>
                            <i class="fa-solid fa-shield checked"></i>
                        </label>
                        <label class='dommage-checkbox' id='shot-3'> 
                            <input class='item-checkbox' id='shot3' type='checkbox' data-dtype='Boolean'/>
                            <i class="fa-regular fa-shield unchecked"></i>
                            <i class="fa-solid fa-shield checked"></i>
                        </label>
                        <label class='dommage-checkbox' id='shot-4'> 
                            <input class='item-checkbox' id='shot4' type='checkbox' data-dtype='Boolean'/>
                            <i class="fa-regular fa-shield unchecked"></i>
                            <i class="fa-solid fa-shield checked"></i>
                        </label>
                        <label class='dommage-checkbox' id='shot-5'> 
                            <input class='item-checkbox' id='shot5' type='checkbox' data-dtype='Boolean'/>
                            <i class="fa-regular fa-shield unchecked"></i>
                            <i class="fa-solid fa-shield checked"></i>
                        </label>
                        <label class='dommage-checkbox' id='shot-6'> 
                            <input class='item-checkbox' id='shot6' type='checkbox' data-dtype='Boolean'/>
                            <i class="fa-regular fa-shield unchecked"></i>
                            <i class="fa-solid fa-shield checked"></i>
                        </label>
                    </div>
                </div>
                <div class="line-value">
                    <label id="manoeuverModifier">0</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/unless}}

            {{#if (eq (getSystemOption 'modifierPolicy') 'clavier')}}
            <div class="line">
                <div class="line-title">
                    <label>Modificateur</label>
                </div>
                <div class="line-value">
                    <input id="modifier" type="Number" value="0"/>
                    <label class="percentage base-percentage">%</label>
                </div>
            </div>
            {{/if}}

            {{#if (eq (getSystemOption 'modifierPolicy') 'liste')}}
            <div class="line">
                <div class="line-title">
                    <label>Modificateur</label>
                </div>
                <div class="line-value">
                    <select id="modifier">
                        <option value="50">50%</option>
                        <option value="40">40%</option>
                        <option value="30">30%</option>
                        <option value="20">20%</option>
                        <option value="10">10%</option>
                        <option value="0" selected>0%</option>
                        <option value="-10">-10%</option>
                        <option value="-20">-20%</option>
                        <option value="-30">-30%</option>
                        <option value="-40">-40%</option>
                        <option value="-50">-50%</option>
                    </select>
                </div>
            </div>
            {{/if}}

            {{#if (eq (getSystemOption 'modifierPolicy') 'slider')}}
            <div class="line">
                <div class="line-title">
                    <label>Modificateur</label>
                    <input id="modifier" class="slider" type="range" min="-50" max="50" step="10" value="0"/>
                </div>
                <div class="line-value">
                    <label id="sliderModifier">0</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/if}}

            {{#unless (eq blessures 0)}}
            <div class="line">
                <div class="line-title">
                    <select id="blessures" name="blessures">
                        <option value="apply">{{localize 'NEPH5E.appliquerBlessures'}}</option>
                        <option value="ignore">{{localize 'NEPH5E.ignorerBlessures'}}</option>
                    </select>
                </div>
                <div class="line-value">
                    <label id="blessuresModifier">{{blessures}}</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/unless}}

            {{#if (nonNull approches)}}
            <div class="line">
                <div class="line-title">
                    <select id="approche" name="approche">
                        {{#each approches as |approche|}}
                        <option value="{{approche.name}}">{{approche.label}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="line-value">
                    <label id="approcheModifier">{{blessures}}</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/if}}

            <div class="line hiddable" style="display:none;">
                <div class="line-title">
                    <label id="vecu">{{base.name}}</label>
                </div>
                <div class="line-value">
                    <label id="base">{{base.difficulty}}</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>

            {{#if (nonNull stunned)}}
            <div class="line hiddable" style="display:none;">
                <div class="line-title">
                    <label>{{localize stunned.label}}</label>
                </div>
                <div class="line-value">
                    <label>{{stunned.modifier}}</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/if}}

            {{#if (nonNull attack)}}
            <div class="line hiddable" style="display:none;">
                <div class="line-title">
                    <label>{{attack.name}}</label>
                </div>
                <div class="line-value">
                    <label>{{attack.modifier}}</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/if}}

            {{#if (and (nonNull weapon) (ne weapon.system.defense 0))}}
            <div class="line hiddable" style="display:none;">
                <div class="line-title">
                    <label>{{weapon.name}}</label>
                </div>
                <div class="line-value">
                    <label>{{weapon.system.defense}}0</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/if}}

        </div>

        <div class="hiddable">
            <p id="description">{{localize "NEPH5E.manoeuvres.eviter.description"}}</p>
        </div>

    </div>

</form>