<form class="combat">

    <div class="header">
        <img src="{{actor.img}}"/>
        <span>{{sentence}}</span>
        {{#unless (isNull img)}}
        <img src="{{img}}"/>
        {{/unless}}
    </div>

    <div class="body">

        <div class="roll">

            <div class="parameters">

                <div class="type">

                    {{#switch type}}
                    {{#case 'none'}}
                    <select id="rollType" name="rollType">
                        <option value="opposed">{{localize 'NEPH5E.jetOppose'}}</option>
                        <option value="simple">{{localize 'NEPH5E.jetSimple'}}</option>
                    </select>
                    {{/case}}
                    {{#case 'simple'}}
                    <select id="rollType" name="rollType" disabled>
                        <option value="simple">{{localize 'NEPH5E.jetSimple'}}</option>
                    </select>
                    {{/case}}
                    {{#case 'opposed'}}
                    <select id="rollType" name="rollType" disabled>
                        <option value="opposed">{{localize 'NEPH5E.jetOppose'}}</option>
                    </select>
                    {{/case}}
                    {{/switch}}

                </div>

                <div id="details" class="item-control">
                    <span><i class="fas fa-search"></i></span>
                </div>

            </div>

            <div class="dice">
                <a id="roll"><i class="fas fa-dice-d20"></i></a>
                <label id="difficulty">{{difficulty}}%</label>
            </div>

        </div>

        <div class="lines">

            <div class="line">
                <div class="line-title">
                    <select id="manoeuver" name="manoeuver">
                        {{#each manoeuvers as |manoeuver|}}
                        <option
                            {{#if (eq manoeuver.id 'tirer')}}
                            selected
                            {{/if}}
                            value="{{manoeuver.id}}">{{manoeuver.name}}</option>
                        {{/each}}
                    </select>
                    <div id='times'>
                        <i id='shot-1' style='visibility:hidden' class='fas fa-crosshairs checked'></i>
                        <label class='dommage-checkbox' id='shot-2' style='visibility:hidden'> 
                            <input class='item-checkbox' id='shot2' type='checkbox' data-dtype='Boolean'/>
                            <i class='far fa-circle unchecked'></i>
                            <i class='fas fa-crosshairs checked'></i>
                        </label>
                        <label class='dommage-checkbox' id='shot-3' style='visibility:hidden'> 
                            <input class='item-checkbox' id='shot3' type='checkbox' data-dtype='Boolean'/>
                            <i class='far fa-circle unchecked'></i>
                            <i class='fas fa-crosshairs checked'></i>
                        </label>
                        <label class='dommage-checkbox' id='shot-4' style='visibility:hidden'> 
                            <input class='item-checkbox' id='shot4' type='checkbox' data-dtype='Boolean'/>
                            <i class='far fa-circle unchecked'></i>
                            <i class='fas fa-crosshairs checked'></i>
                        </label>
                        <label class='dommage-checkbox' id='shot-5' style='visibility:hidden'> 
                            <input class='item-checkbox' id='shot5' type='checkbox' data-dtype='Boolean'/>
                            <i class='far fa-circle unchecked'></i>
                            <i class='fas fa-crosshairs checked'></i>
                        </label>
                    </div>
                </div>
                <div class="line-value">
                    <label id="manoeuverModifier">0</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>

            {{#if (eq (getSystemOption 'modifierPolicy') 'clavier')}}
            <div class="line">
                <div class="line-title">
                    <label>Modificateur</label>
                </div>
                <div class="line-value">
                    <input id="modifier" type="Number" value="0"/>
                    <label class="percentage base-percentage">%</label>
                </div>
            </div>
            {{/if}}

            {{#if (eq (getSystemOption 'modifierPolicy') 'liste')}}
            <div class="line">
                <div class="line-title">
                    <label>Modificateur</label>
                </div>
                <div class="line-value">
                    <select id="modifier">
                        {{#if (eq (getSystemOption 'modifierRange') '100')}}
                        <option value="100">100%</option>
                        <option value="90">90%</option>
                        <option value="80">80%</option>
                        <option value="70">70%</option>
                        <option value="60">60%</option>
                        {{/if}}
                        <option value="50">50%</option>
                        <option value="40">40%</option>
                        <option value="30">30%</option>
                        <option value="20">20%</option>
                        <option value="10">10%</option>
                        <option value="0" selected>0%</option>
                        <option value="-10">-10%</option>
                        <option value="-20">-20%</option>
                        <option value="-30">-30%</option>
                        <option value="-40">-40%</option>
                        <option value="-50">-50%</option>
                        {{#if (eq (getSystemOption 'modifierRange') '100')}}
                        <option value="-60">-60%</option>
                        <option value="-70">-70%</option>
                        <option value="-80">-80%</option>
                        <option value="-90">-90%</option>
                        <option value="-100">-100%</option>
                        {{/if}}
                    </select>
                </div>
            </div>
            {{/if}}

            {{#if (eq (getSystemOption 'modifierPolicy') 'slider')}}
            <div class="line">
                <div class="line-title">
                    <label>Modificateur</label>
                    {{#if (eq (getSystemOption 'modifierRange') '50')}}
                    <input id="modifier" class="slider" type="range" min="-50" max="50" step="10" value="0"/>
                    {{else}}
                    <input id="modifier" class="slider" type="range" min="-100" max="100" step="10" value="0"/>
                    {{/if}}
                </div>
                <div class="line-value">
                    <label id="sliderModifier">0</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/if}}

            {{#unless (eq blessures 0)}}
            <div class="line">
                <div class="line-title">
                    <select id="blessures" name="blessures">
                        <option value="apply">{{localize 'NEPH5E.appliquerBlessures'}}</option>
                        <option value="ignore">{{localize 'NEPH5E.ignorerBlessures'}}</option>
                    </select>
                </div>
                <div class="line-value">
                    <label id="blessuresModifier">{{blessures}}</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/unless}}

            {{#if (nonNull approches)}}
            <div class="line">
                <div class="line-title">
                    <select id="approche" name="approche">
                        {{#each approches as |approche|}}
                        <option value="{{approche.name}}">{{approche.label}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="line-value">
                    <label id="approcheModifier">0</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/if}}

            <div class="line hiddable" style="display:none;">
                <div class="line-title">
                    <label>{{localize "NEPH5E.manoeuvres.viser.name"}}</label>
                </div>
                <div class="line-value">
                    <label id="visee">{{visee}}</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>

            <div class="line hiddable" style="display:none;">
                <div class="line-title">
                    <label id="vecu">{{base.name}}</label>
                </div>
                <div class="line-value">
                    <label id="base">{{base.difficulty}}</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>

            {{#if (nonNull onGround)}}
            <div class="line hiddable" style="display:none;">
                <div class="line-title">
                    <label>{{localize onGround.label}}</label>
                </div>
                <div class="line-value">
                    <label>{{onGround.modifier}}</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/if}}

            {{#if (nonNull foeOnGround)}}
            <div class="line hiddable" style="display:none;">
                <div class="line-title">
                    <label>{{localize foeOnGround.label}}</label>
                </div>
                <div class="line-value">
                    <label>{{foeOnGround.modifier}}</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/if}}

            {{#if (nonNull stunned)}}
            <div class="line hiddable" style="display:none;">
                <div class="line-title">
                    <label>{{localize stunned.label}}</label>
                </div>
                <div class="line-value">
                    <label>{{stunned.modifier}}</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/if}}

            {{#if (and (nonNull weapon) (ne weapon.system.attack 0))}}
            <div class="line hiddable" style="display:none;">
                <div class="line-title">
                    <label>{{weapon.name}}</label>
                </div>
                <div class="line-value">
                    <label>{{weapon.system.attack}}0</label>
                    <label class="base-percentage">%</label>
                </div>
            </div>
            {{/if}}

        </div>

        <p id="description" class="hiddable">{{html description}}</p>

    </div>

</form>