{{#if (nonNull readOnly)}}
<table class="chronology">
    <tr>
        <th>{{localize title}}</th>
        <th>{{localize 'NEPH5E.degre'}}</th>
        <th>{{localize 'NEPH5E.sapience'}}</th>
    </tr>
    {{#each periodes as |periode|}}
    <tr>
        <td class="periode-name">{{periode.name}}</td>
        <td class="periode">{{periode.degre}}</td>
        <td class="periode">{{periode.sapiences}}</td>
    </tr>
    {{/each}}
    <tr>
        <td></td>
        <td class="infos">{{degre}}</td>
        <td class="infos">{{next}}</td>
    </tr>
</table>
{{/if}}