<div 
    {{#if (nonNull style)}}
    style={{style}}
    {{/if}}
    class="input">

    {{#if (nonNull title)}}
    <span class="title">{{localize title}} : </span>
    {{/if}}

    <input

        {{#if (nonNull difficulty)}}
        disabled
        {{/if}}

        {{#if (nonNull placeholder)}}
        placeholder="{{localize placeholder}}"
        {{/if}}

        class="value"
        name={{name}}
        {{#if (eq type "Boolean")}}
        type="checkbox"
        {{checked value}}
        {{else}}
        type="text"
        value="{{value}}"
        {{/if}}
        data-dtype={{type}}/>

</div>