{{#unless (isEmptyCollection actor.chutes)}}
<div class="vecus-header">

    <img class="vecus-puce" src="systems/neph5e/assets/core/puce.webp"/>

    <img class="vecus-separator" src="systems/neph5e/assets/core/separator2.webp"/>

    <span class="vecus-name">{{localize "NEPH5E.chutes"}}</span>

</div>

<ol class="all-vecus">

    {{#each actor.chutes as |item|}}
    {{#if (ne item.degre 0)}}
    <li class="vecu item macro" data-sid="{{item.sid}}">

        {{#if ../../actor.system.options.degreGauche}}
        <label class="vecu-degre">{{item.degre}}</label>
        {{/if}}

        <label class="vecu-name open">{{item.name}}</label>

        {{#unless ../../actor.system.options.degreGauche}}
        <label class="vecu-degre">{{item.degre}}</label>
        {{/unless}}

        <a class="vecu-dice roll">
            {{#if (eq ../from 'figure')}}
            <i class="fas fa-dice-d20"></i>
            {{else}}
            <span>+{{fraterniteBonus item.degre}}</span>
            {{/if}}
        </a>

    </li>
    {{/if}}
    {{/each}}

</ol>
{{/unless}}