<div class="vecus-header">

    <img class="vecus-puce" src="systems/neph5e/assets/core/puce.webp"/>

    <img class="vecus-separator" src="systems/neph5e/assets/core/separator2.webp"/>

    <span class="vecus-name">{{localize "NEPH5E.competencesEtVecus"}}</span>

</div>

<ol class="all-vecus">

    <!-- Display the vecus of the simulacre -->
    {{#if (and (nonNull system.simulacre) (eq system.options.simulacre true) (gt actor.vecusOfSimulacre.length 0))}}
    {{#each actor.vecusOfSimulacre as |item|}}
    <li class="vecu item" data-sid="{{item.sid}}" data-scope="simulacre">

        {{#if ../../actor.system.options.degreGauche}}
        <label class="vecu-degre">{{item.degre}}</label>
        {{/if}}

        <label class="vecu-name open">{{item.name}}</label>

        {{#unless ../../actor.system.options.degreGauche}}
        <label class="vecu-degre">{{item.degre}}</label>
        {{/unless}}

        <a class="vecu-dice roll">
            <i class="fas fa-dice-d20"></i>
        </a>

    </li>
    {{/each}}
    <hr>
    {{/if}}
    
    <!-- Display the vecus of the figure -->
    {{#if (gt actor.vecusOfActor.length 0)}}
    {{#each actor.vecusOfActor as |item|}}
    <li class="vecu item macro" data-sid="{{item.sid}}" data-scope="actor">

        {{#if ../../actor.system.options.degreGauche}}
        <label class="vecu-degre">{{item.degre}}</label>
        {{/if}}

        <label class="vecu-name open">{{item.name}}</label>

        {{#unless ../../actor.system.options.degreGauche}}
        <label class="vecu-degre">{{item.degre}}</label>
        {{/unless}}

        <a class="vecu-dice roll">
            <i class="fas fa-dice-d20"></i>
        </a>

    </li>
    {{/each}}
    <hr>
    {{/if}}

    <!-- Display the competences of the figure -->
    {{#each actor.competences as |item|}}
    <li class="vecu item macro" data-sid="{{item.sid}}">

        {{#if ../../actor.system.options.degreGauche}}
        <label class="vecu-degre {{#if (eq item.degre 0)}}disabled{{/if}}">{{item.degre}}</label>
        {{/if}}

        <label class="vecu-name open {{#if (eq item.degre 0)}}disabled{{/if}}">{{item.name}}</label>

        {{#unless ../../actor.system.options.degreGauche}}
        <label class="vecu-degre {{#if (eq item.degre 0)}}disabled{{/if}}">{{item.degre}}</label>
        {{/unless}}

        <a class="vecu-dice roll">
            <i class="fas fa-dice-d20"></i>
        </a>

    </li>
    {{/each}}

</ol>