<div class="vecus-header">

    <img class="vecus-puce" src="systems/neph5e/assets/core/puce.webp"/>

    <img class="vecus-separator" src="systems/neph5e/assets/core/separator2.webp"/>

    <span class="vecus-name">{{localize "NEPH5E.competencesEtVecus"}}</span>

</div>


<ol class="item-list">

    <div class="title">
        <span>{{localize "NEPH5E.competencesEtVecus"}}</span>
    </div>

    <div class="content">

        {{#unless (isNull system.simulacre)}}
        {{#if (eq system.options.simulacre true)}}

            {{#with actor.vecusOfSimulacre as |items|}}
            {{#unless (isEmptyCollection items)}}
            {{#each items as |item|}}
            <li class="item" data-item-id="{{id}}" data-scope="simulacre">

                {{#if ../../actor.system.options.degreGauche}}
                <label class="degre">{{item.degre}}</label>
                {{/if}}

                <div class="item-name edit-vecu" data-id="{{item.id}}" data-scope="simulacre">
                    <span>{{item.name}}</span>
                </div>

                {{#unless ../../actor.system.options.degreGauche}}
                <label class="degre">{{item.degre}}</label>
                {{/unless}}

                <div class="item-control">
                    <a class="roll-vecu" data-id="{{item.id}}" data-scope="simulacre"><i class="fas fa-dice-d20"></i></a>
                </div>

            </li>
            {{/each}}
            <hr>
            {{/unless}}
            {{/with}}
            
        {{/if}}
        {{/unless}}
        
        {{#with actor.vecusOfActor as |items|}}
        {{#unless (isEmptyCollection items)}}
        {{#each items as |item|}}
        <li class="item macro" data-item-id="{{id}}" data-item-type="vecu" data-id="{{item.id}}" data-sid="{{item.sid}}" data-type="vecu">

            {{#if ../../actor.system.options.degreGauche}}
            <label class="degre">{{item.degre}}</label>
            {{/if}}

            <div class="item-name edit-vecu" data-id="{{item.id}}" data-scope="actor">
                <span>{{item.name}}</span>
            </div>

            {{#unless ../../actor.system.options.degreGauche}}
            <label class="degre">{{item.degre}}</label>
            {{/unless}}

            <div class="item-control">
                <a class="roll-vecu" data-id="{{item.id}}" data-scope="actor"><i class="fas fa-dice-d20"></i></a>
            </div>

        </li>
        {{/each}}
        <hr>
        {{/unless}}
        {{/with}}

        {{#with actor.competences as |items|}}
        {{#unless (isEmptyCollection items)}}
        {{#each items as |item|}}
        <li class="item macro" data-id="{{item.id}}" data-sid="{{item.sid}}" data-type="competence">

            {{#if ../../actor.system.options.degreGauche}}
            <div class="degre">
                <span
                    {{#if (eq item.degre 0)}}
                    class="disabled"
                    {{/if}}>
                    {{item.degre}}</span>
            </div>
            {{/if}}

            <div class="item-name edit-competence" data-id="{{item.id}}">
                <span
                    {{#if (eq item.degre 0)}}
                    class="disabled"
                    {{/if}}>
                    {{item.name}}</span>
            </div>

            {{#unless ../../actor.system.options.degreGauche}}
            <div class="degre">
                <span
                    {{#if (eq item.degre 0)}}
                    class="disabled"
                    {{/if}}>
                    {{item.degre}}</span>
            </div>
            {{/unless}}

            <div class="item-control">
                <a class="roll-competence" data-id="{{item.id}}"><i class="fas fa-dice-d20"></i></a>
            </div>

        </li>
        {{/each}}
        {{/unless}}
        {{/with}}

    </div>

</ol>