<div class="incarnations">

    <div class="incarnations-header">

        <div class="periode-courante">
            {{#if (isNull actor.system.periode)}}
            <label class="noperiode">{{actor.currentPeriode}}</label>
            {{else}}
            <div class="tooltip">
                <label class="periode">{{actor.currentPeriode}}</label>
                <span class="tooltiptext">{{localize "NEPH5E.periodeCourante"}}</span>
            </div>
            {{/if}}
        </div>

        {{#if (eq from "figure")}}
        <div class="all-points">

            <div class="tooltip points">
                <input
                    class="middle"
                    name="system.pointsIncarnations"
                    placeholder="0"
                    type="text"
                    value="{{system.pointsIncarnations}}"
                    data-dtype="Number"/>
                <span class="tooltiptext">{{localize "NEPH5E.pointsIncarnations"}}</span>
            </div>

            <div class="tooltip points">
                <input
                    name="system.sapienceDepensee"
                    placeholder="0"
                    type="text"
                    value="{{system.sapienceDepensee}}"
                    data-dtype="Number"/>
                <span class="tooltiptext">{{localize "NEPH5E.sapienceDepensee"}}</span>
            </div>

            <div class="tooltip points">
                <input
                    name="system.sapience"
                    placeholder="0"
                    type="text"
                    value="{{system.sapience}}"
                    data-dtype="Number"/>
                <span class="tooltiptext">{{localize "NEPH5E.sapienceCourante"}}</span>
            </div>

        </div>
        {{/if}}

    </div>

    {{#if actor.noPeriodes}}
    <div class="helpPeriode">
        {{#if (eq from "figure")}}
        <label>{{localize 'NEPH5E.aideIncarnations'}}</label>
        {{else}}
        <label>{{localize 'NEPH5E.aideHistorique'}}</label>
        {{/if}}
        <i class="fas fa-arrow-alt-circle-down fa-2xl"></i>
    </div>
    {{/if}}

    {{#each actor.periodes as |periode|}}
    {{#unless (and (not ../isGM) (not periode.embedded.actif))}}
    <ol class="periodes">

        <il class="periode item" data-sid="{{periode.original.sid}}">

            <div class="periode-header">

                <img class="periode-puce" src="systems/neph5e/assets/core/puce.webp"/>

                <img class="periode-separator" src="systems/neph5e/assets/core/separator2.webp"/>

                {{#if (eq ../editedPeriode periode.original.sid)}}                
                <a class="periode-delete"><i class="fas fa-trash"></i></a>
                {{/if}}

                <label class="periode-name {{#unless periode.embedded.actif}}disabled{{/unless}}">{{periode.original.name}}: {{periode.original.contexte}}, {{periode.original.aube}}</label>

                <ul class="periode-menu">

                    <li class="display">Détails</li>

                    <li class="edit">Editer</li>

                    <li class="activate">{{#if (and ../isGM periode.embedded.actif)}}Désactiver{{else}}Activer{{/if}}</li>

                </ul>

            </div>

            <div class="periode-body"
                 {{#unless (or (includes ../elapsedPeriodes periode.original.sid) (eq ../editedPeriode periode.original.sid))}}
                 style="display: none;"
                 {{/unless}}>
    <!--
                <ol class="periode-members">

                    {{#each periode.embedded.actors as |actor|}}
                    <li class="periode-member">



                    </li>
                    {{/each}}

                </ol>
    -->
                <ol class="vecus">

                    {{#each periode.embedded.items as |item|}}
                    {{#unless (isNull item.degre)}}
                    <li class="vecu item" data-id="{{item.id}}">
                        <div class="definition">

                            <input
                                class="degre change-degre"
                                type="number"
                                value="{{item.degre}}"
                                data-dtype="Number"/>

                            <label class="name">{{item.name}}</label>

                            {{#if (eq ../../editedPeriode ../original.sid)}}                
                            <a class="delete"><i class="fas fa-trash"></i></a>
                            {{/if}}

                        </div>
                    </li>
                    {{/unless}}
                    {{/each}}

                </ol>

                <ol class="periode-all-focus">

                    {{#each periode.embedded.items as |item|}}
                    {{#if (isNull item.degre)}}
                    <li class="periode-focus">
                        <div class="periode-focus-definition">
                            <i class="fas fa-scroll"></i>
                            <label class="periode-focus-name">{{item.name}}</label>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}

                </ol>

            </div>

        </il>

    </ol>
    {{/unless}}
    {{/each}}

</div>