<div class="incarnations">

    {{#if (eq from "figure")}}
    <div class="incarnations-header">

        <div class="points tooltip">
            <img src="systems/neph5e/assets/core/circle2.webp"/>
            <input
                class="middle"
                name="system.pointsIncarnations"
                placeholder="0"
                type="text"
                value="{{system.pointsIncarnations}}"
                data-dtype="Number"/>
            <span class="tooltiptext">{{localize "NEPH5E.pointsIncarnations"}}</span>
        </div>

        <div class="points tooltip">
            <img src="systems/neph5e/assets/core/circle2.webp"/>
            <input
                name="system.sapienceDepensee"
                placeholder="0"
                type="text"
                value="{{system.sapienceDepensee}}"
                data-dtype="Number"/>
            <span class="tooltiptext">{{localize "NEPH5E.sapienceDepensee"}}</span>
        </div>

        <div class="points tooltip">
            <img src="systems/neph5e/assets/core/circle2.webp"/>
            <input
                name="system.sapience"
                placeholder="0"
                type="text"
                value="{{system.sapience}}"
                data-dtype="Number"/>
            <span class="tooltiptext">{{localize "NEPH5E.sapienceCourante"}}</span>
        </div>
        
    </div>
    {{/if}}

    {{#if (isEmptyCollection actor.periodes)}}
    <div class="helpPeriode">
        {{#if (eq from "figure")}}
        <label>{{localize 'NEPH5E.aideIncarnations'}}</label>
        {{else}}
        <label>{{localize 'NEPH5E.aideHistorique'}}</label>
        {{/if}}
        <i class="fas fa-arrow-alt-circle-down fa-2xl"></i>
    </div>
    {{/if}}

    {{#each actor.periodes as |periode|}}
    {{#unless (and (not ../isGM) (not periode.embedded.actif))}}
    <ol class="periodes">

        <il class="periode item" data-sid="{{periode.original.sid}}">

            <div class="periode-header">

                <img class="periode-puce" src="systems/neph5e/assets/core/puce.webp"/>

                <img class="periode-separator" src="systems/neph5e/assets/core/separator2.webp"/>

                {{#if (eq ../editedPeriode periode.original.sid)}}                
                <a class="periode-delete"><i class="fas fa-trash"></i></a>
                {{/if}}

                <label class="periode-name {{#if (eq ../actor.system.periode periode.original.sid)}}current{{/if}} {{#unless periode.embedded.actif}}disabled{{/unless}}">{{periode.original.name}}: {{periode.original.contexte}}, {{periode.original.aube}}</label>

                <div class="periode-zone"></div>

                <ul class="periode-menu">

                    <li class="display">Détails</li>

                    <li class="edit">Editer</li>

                    <li class="activate">{{#if (and ../isGM periode.embedded.actif)}}Désactiver{{else}}Activer{{/if}}</li>

                    {{#unless (eq ../actor.system.periode periode.original.sid)}}
                    <li class="define">Période courante</li>
                    {{/unless}}

                </ul>

            </div>

            <div class="periode-body"
                 {{#unless (or (includes ../elapsedPeriodes periode.original.sid) (eq ../editedPeriode periode.original.sid))}}
                 style="display: none;"
                 {{/unless}}>
    <!--
                <ol class="members">

                    {{#each periode.embedded.actors as |actor|}}
                    <li class="member">



                    </li>
                    {{/each}}

                </ol>
    -->

                {{#unless (isEmptyCollection periode.embedded.actors)}}
                <ol class="members">

                    {{#each periode.embedded.actors as |actor|}}
                    <li class="member actor" data-id="{{actor.id}}">
                        <div class="definition">

                            {{#if (isNewMember ../../actor actor.id ../original.sid)}}
                            <i class="fa-solid fa-user-plus"></i>
                            {{else}}
                            <i class="fa-solid fa-user-minus"></i>
                            {{/if}}

                            <label class="name open">{{actor.name}}</label>

                            {{#if (eq ../../editedPeriode ../original.sid)}}
                            <a class="delete"><i class="fas fa-trash"></i></a>
                            {{/if}}

                        </div>
                    </li>
                    {{/each}}

                </ol>
                {{/unless}}

                {{#unless (isEmptyCollection periode.embedded.vecus)}}
                <ol class="vecus">

                    {{#each periode.embedded.vecus as |item|}}
                    <li class="vecu item" data-id="{{item.id}}">
                        <div class="definition">

                            <input
                                class="degre change-degre"
                                type="number"
                                value="{{item.degre}}"
                                data-dtype="Number"/>

                            <label class="name open">{{item.name}}</label>

                            {{#if (eq ../../editedPeriode ../original.sid)}}                
                            <a class="delete"><i class="fas fa-trash"></i></a>
                            {{/if}}

                        </div>
                    </li>
                    {{/each}}

                </ol>
                {{/unless}}

                {{#unless (isEmptyCollection periode.embedded.focus)}}
                <ol class="periode-focus">

                    {{#each periode.embedded.focus as |item|}}
                    <li class="focus item" data-id="{{item.id}}">
                        <div class="focus-definition">

                            <a><i class="fas fa-scroll"></i></a>

                            <label class="focus-name open">{{item.name}}</label>

                            {{#if (eq ../../editedPeriode ../original.sid)}}
                            <a class="delete"><i class="fas fa-trash"></i></a>
                            {{/if}}

                        </div>
                    </li>
                    {{/each}}

                </ol>
                {{/unless}}

            </div>

        </il>

    </ol>
    {{/unless}}
    {{/each}}

</div>