<div class="top">

    {{#if (isNull actor.system.periode)}}
    <label class="noperiode">{{actor.currentPeriode}}</label>
    {{else}}
    <div class="tooltip">
        <label class="periode">{{actor.currentPeriode}}</label>
        <span class="tooltiptext">{{localize "NEPH5E.periodeCourante"}}</span>
    </div>
    {{/if}}

    <div class="tooltip points">
        <input
            class="middle"
            name="system.pointsIncarnations"
            placeholder="0"
            type="text"
            value="{{system.pointsIncarnations}}"
            data-dtype="Number"/>
        <span class="tooltiptext">{{localize "NEPH5E.pointsIncarnations"}}</span>
    </div>

    <div class="tooltip points">
        <input
            name="system.sapienceDepensee"
            placeholder="0"
            type="text"
            value="{{system.sapienceDepensee}}"
            data-dtype="Number"/>
        <span class="tooltiptext">{{localize "NEPH5E.sapienceDepensee"}}</span>
    </div>

    <div class="tooltip points">
        <input
            name="system.sapience"
            placeholder="0"
            type="text"
            value="{{system.sapience}}"
            data-dtype="Number"/>
        <span class="tooltiptext">{{localize "NEPH5E.sapienceCourante"}}</span>
    </div>

</div>

{{#if actor.noPeriodes}}
<div class="helpPeriode">
    <label>{{localize 'NEPH5E.aideIncarnations'}}</label>
    <i class="fas fa-arrow-alt-circle-down fa-2xl"></i>
</div>
{{/if}}

{{#with actor.periodes as |items|}}
{{#each items as |periode|}}
<ol class="item-list">

    <li class="item draggable periode" data-id="{{periode.original.id}}" data-sid="{{periode.original.sid}}" data-item-id="{{periode.embedded.id}}">

        <a
            {{#if (eq ../../actor.system.periode periode.original.sid)}}
            class="current-periode"
            {{else}}
            class="current-periode grey"
            {{/if}}
            ><i class="fa-solid fa-star-of-life"></i></a>

        <label class="edit-periode" data-id="{{periode.original.id}}">
            {{#if (eq ../../editedPeriode periode.original.sid)}}
            <i class="fas fa-edit"></i>
            {{else}}
            <i class="far fa-edit"></i>
            {{/if}}
        </label>

        <div class="display">
            <span>{{periode.original.name}}: {{periode.original.contexte}}</span>
        </div>

        <div class="action">

            {{#if (eq ../../editedPeriode periode.original.sid)}}
            <a class="delete-periode"><i class="fas fa-trash"></i></a>

            {{else}}

            <label class="active-periode" data-id="{{periode.original.id}}">
                {{#if periode.embedded.actif}}
                <i class="fa-solid fa-feather-pointed"></i>
                {{else}}
                <i class="fa-regular fa-feather-pointed"></i>
                {{/if}}
            </label>

            {{/if}}

        </div>

    </li>

    <div
        {{#unless (or (includes ../../elapsedPeriodes periode.original.id) (eq ../../editedPeriode periode.original.sid))}}
        style="display: none;"
        {{/unless}}
        class="item-content"
        data-id="{{periode.original.id}}">

        {{#each periode.embedded.items as |item|}}
        <li class="item" data-item-id="{{item.id}}">

            {{#if (isNull item.degre)}}
            <div data-id="{{item.id}}" class="scroll">
                <i class="fas fa-scroll"></i>
            </div>
            {{else}}
            <div data-id="{{item.id}}" class="degre">
                <input
                    class="change-degre"
                    data-id="{{item.id}}"
                    type="number"
                    value="{{item.degre}}"
                    data-dtype="Number"/>
            </div>
            {{/if}}

            {{#if (eq item.type 'vecu')}}
            <div class="edit-vecu" data-id="{{item.id}}" data-type="{{item.type}}">
                <span>{{item.name}}</span>
            </div>
            {{else}}
            <div class="edit-item" data-id="{{item.wid}}" data-type="{{item.type}}">
                <span>{{item.name}}</span>
            </div>
            {{/if}}

            {{#if (eq ../../../editedPeriode ../original.sid)}}                
            <div class="delete">
                <a class="delete-item" data-id="{{item.id}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}

        </li>
        {{/each}}

    </div>

</ol>
{{/each}}
{{/with}}