<div class="incarnations">

    <div class="incarnations-header">

        <div class="periode-courante">
            {{#if (isNull actor.system.periode)}}
            <label class="noperiode">{{actor.currentPeriode}}</label>
            {{else}}
            <div class="tooltip">
                <label class="periode">{{actor.currentPeriode}}</label>
                <span class="tooltiptext">{{localize "NEPH5E.periodeCourante"}}</span>
            </div>
            {{/if}}
        </div>

        {{#if (eq from "figure")}}
        <div class="all-points">

            <div class="tooltip points">
                <input
                    class="middle"
                    name="system.pointsIncarnations"
                    placeholder="0"
                    type="text"
                    value="{{system.pointsIncarnations}}"
                    data-dtype="Number"/>
                <span class="tooltiptext">{{localize "NEPH5E.pointsIncarnations"}}</span>
            </div>

            <div class="tooltip points">
                <input
                    name="system.sapienceDepensee"
                    placeholder="0"
                    type="text"
                    value="{{system.sapienceDepensee}}"
                    data-dtype="Number"/>
                <span class="tooltiptext">{{localize "NEPH5E.sapienceDepensee"}}</span>
            </div>

            <div class="tooltip points">
                <input
                    name="system.sapience"
                    placeholder="0"
                    type="text"
                    value="{{system.sapience}}"
                    data-dtype="Number"/>
                <span class="tooltiptext">{{localize "NEPH5E.sapienceCourante"}}</span>
            </div>

        </div>
        {{/if}}

    </div>

    {{#if actor.noPeriodes}}
    <div class="helpPeriode">
        {{#if (eq from "figure")}}
        <label>{{localize 'NEPH5E.aideIncarnations'}}</label>
        {{else}}
        <label>{{localize 'NEPH5E.aideHistorique'}}</label>
        {{/if}}
        <i class="fas fa-arrow-alt-circle-down fa-2xl"></i>
    </div>
    {{/if}}

    {{#each actor.periodes as |periode|}}
    {{#unless (and (not ../../isGM) (not periode.embedded.actif))}}
    <ol class="incarnations-periodes">

        <il class="incarnations-periode">

            <div class="incarnations-periode-header">

                <img class="incarnations-periode-puce" src="systems/neph5e/assets/core/puce.webp"/>

                <img class="incarnations-periode-separator" src="systems/neph5e/assets/core/separator2.webp"/>

                <label class="incarnations-periode-name">{{periode.original.name}}: {{periode.original.contexte}}, {{periode.original.aube}}</label>

                <ul class="incarnations-periode-menu">
                    <li>Editer</li>
                    <li>Détails</li>
                    <li>Activer</li>
                </ul>


            </div>
<!--
            <ol class="incarnations-periode-members">

                {{#each periode.embedded.actors as |actor|}}
                <li class="incarnations-periode-member">



                </li>
                {{/each}}

            </ol>

            <ol class="incarnations-periode-vecus">

                <li class="incarnations-periode-vecus">



                </li>

            </ol>

            <ol class="incarnations-periode-all-focus">

                <li class="incarnations-periode-focus">



                </li>

            </div>
-->

        </il>

    </ol>
    {{/unless}}
    {{/each}}

</div>