{{#unless (isEmptyCollection actor.passes)}}
<div class="vecus-header">

    <img class="vecus-puce" src="systems/neph5e/assets/core/puce.webp"/>

    <img class="vecus-separator" src="systems/neph5e/assets/core/separator2.webp"/>

    <span class="vecus-name">{{localize "NEPH5E.passes"}}</span>

</div>

<ol class="item-list">

    <div class="title">
        <span>{{localize "NEPH5E.passes"}}</span>
    </div>

    {{#if (eq ../from 'figure')}}
    <div class="content">
    {{else}}
    <div class="fcontent">
    {{/if}}

        {{#each actor.passes as |item|}}
        {{#if (ne item.degre 0)}}
        <li class="item macro" data-id="{{item.id}}" data-sid="{{item.sid}}" data-type="passe">

            {{#if (eq ../../from 'figure')}}

                {{#if ../../actor.system.options.degreGauche}}
                <label class="degre">{{item.degre}}</label>
                {{/if}}

                <div class="item-name edit-passe" data-id="{{item.id}}">
                    <span>{{item.name}}</span>
                </div>

                {{#unless ../../actor.system.options.degreGauche}}
                <label class="degre">{{item.degre}}</label>
                {{/unless}}

                <div class="item-control">
                    <a class="roll-passe" data-id="{{item.id}}"><i class="fas fa-dice-d20"></i></a>
                </div>

            {{else}}

                <label class="degre">{{item.degre}}</label>

                <div class="item-name edit-passe" data-id="{{item.id}}">
                    <span>{{item.name}}</span>
                </div>

                <div class="item-control">
                    <a class="roll-passe" data-id="{{item.id}}"><span>+{{fraterniteBonus item.degre}}</span></a>
                </div>

            {{/if}}

        </li>
        {{/if}}
        {{/each}}

    </div>

</ol>
{{/unless}}