{{#unless (isEmptyCollection actor.quetes)}}
<div class="vecus-header">

    <img class="vecus-puce" src="{{imagePath 'puce'}}"/>

    <img class="vecus-separator" src="{{imagePath 'separator'}}"/>

    <span class="vecus-name">{{localize "NEPH5E.quetes"}}</span>

</div>

<ol class="all-vecus">

    {{#each actor.quetes as |item|}}
    {{#if (ne item.degre 0)}}
    <li class="vecu item macro" data-sid="{{item.sid}}">

        <div class="vecu-definition">

            {{#if ../../actor.system.options.degreGauche}}
            <label class="vecu-degre">{{item.degre}}</label>
            {{/if}}

            <label class="vecu-name open">{{item.name}}</label>

            {{#unless ../../actor.system.options.degreGauche}}
            <label class="vecu-degre">{{item.degre}}</label>
            {{/unless}}

            <a class="vecu-dice roll">
                {{#if (eq ../from 'figure')}}
                <i class="fas fa-dice-d20"></i>
                {{else}}
                <span>+{{fraterniteBonus item.degre}}</span>
                {{/if}}
            </a>

        </div>

    </li>
    {{/if}}
    {{/each}}

</ol>
{{/unless}}