{{#with actor.savoirs as |items|}}
{{#unless (isEmptyCollection items)}}
<ol class="item-list">

    <div style="width:794px;margin-left: 10px;display:flex; flex-direction:row; margin-top:10px; margin-bottom:10px; font-family: 'Modesto Condensed', 'Palatino Linotype', 'serif'; font-size: 20px; border-width:0px 0px 2px 0px;border-style:solid;border-color:black;">
        <span style="padding-left:5px;">{{localize "NEPH5E.savoirs"}}</span>
    </div>

    <div style="column-count:3">

        {{#each items as |item|}}
        {{#if (ne item.degre 0)}}
        <li class="item macro" data-id="{{item.id}}" data-sid="{{item.sid}}" data-type="savoir">

            {{#if ../../actor.system.options.degreGauche}}
            <label style="width:20px;">{{item.degre}}</label>
            {{/if}}

            <div class="item-name edit-savoir" data-id="{{item.id}}">
                <span>{{item.name}}</span>
            </div>

            {{#unless ../../actor.system.options.degreGauche}}
            <label style="width:20px;">{{item.degre}}</label>
            {{/unless}}

            <div class="item-control">
                <a class="roll-savoir" data-id="{{item.id}}"><i class="fas fa-dice-d20"></i></a>
            </div>

        </li>
        {{/if}}
        {{/each}}

    </div>

</ol>
{{/unless}}
{{/with}}