{{#with actor.savoirs as |items|}}
{{#unless (isEmptyCollection items)}}
<ol class="item-list">

    <div class="title">
        <span>{{localize "NEPH5E.savoirs"}}</span>
    </div>

    <div class="content">

        {{#each items as |item|}}
        {{#if (ne item.degre 0)}}
        <li class="item macro" data-id="{{item.id}}" data-sid="{{item.sid}}" data-type="savoir">

            {{#if ../../actor.system.options.degreGauche}}
            <label class="degre">{{item.degre}}</label>
            {{/if}}

            <div class="item-name edit-savoir" data-id="{{item.id}}">
                <span>{{item.name}}</span>
            </div>

            {{#unless ../../actor.system.options.degreGauche}}
            <label class="degre">{{item.degre}}</label>
            {{/unless}}

            <div class="item-control">
                <a class="roll-savoir" data-id="{{item.id}}"><i class="fas fa-dice-d20"></i></a>
            </div>

        </li>
        {{/if}}
        {{/each}}

    </div>

</ol>
{{/unless}}
{{/with}}